/************************** Components ***************************/
.site_logo {
  font-size: 34px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}
.site_logo.with_tagline {
  padding: 9px 0;
}
.site_logo a {
  color: #000000;
  display: inline-block;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.site_logo .tag_line {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.4px;
}
.site_logo span {
  display: inline-block;
}
.site_logo span.logo_text {
  display: flex;
}

/*Button Close*/
.close_times {
  color: #fff;
  font-size: 26px;
  line-height: 40px;
  display: inline-block;
  width: 40px;
  font-weight: bold;
}
.close_times.black {
  color: #000;
}
.close_times.white {
  color: #fff;
}
.close_times .outlined {
  border: 1px solid #fff;
  border-radius: 100%;
}
.close_times .outlined.inverse {
  background: #ffffff;
  color: #000;
}

/*Heading Styles*/
.heading_style {
  text-align: center;
  width: 100%;
  display: block;
}
.heading_style.text-center {
  text-align: center;
}
.heading_style.type1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 16px;
  position: relative;
}
.heading_style.type1 span {
  padding: 0 16px;
  z-index: 1;
  position: relative;
}
.heading_style.type1::before {
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 0;
  width: 100%;
  max-width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -2px;
  height: 3px;
}
.heading_style.type2 {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 40px;
  text-align: left;
}
.heading_style.type2:before {
  display: block;
  content: "";
  border-top: 2px solid #007bff;
  border-bottom: none;
  position: absolute;
  z-index: 0;
  width: 100%;
  max-width: 36px;
  top: unset;
  margin-top: -2px;
  height: 0;
  bottom: -10px;
}
.heading_style.type2.text-center {
  text-align: center;
}
.heading_style.type2.text-center:before {
  left: 50%;
  margin-left: -25px;
}
.heading_style.type2.text-white {
  color: #fff;
}
.heading_style.type2.text-white:before {
  border-color: #ffffff;
}

/*Nav Menus*/
header .navbar.navbar-expand-lg {
  padding: 0;
}
header .navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px !important;
  margin: 14px 0 !important;
  color: #333333;
}
header .navbar.navbar-expand-lg .navbar-nav .nav-item.show a.nav-link, header .navbar.navbar-expand-lg .navbar-nav .nav-item:hover a.nav-link, header .navbar.navbar-expand-lg .navbar-nav .nav-item.active a.nav-link {
  color: #0069d9;
}
header .navbar.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
  top: 80px !important;
  padding: 5px 0;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  left: 20px;
}
header .navbar.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu:after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -10px;
  left: 15px;
}
header .navbar.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  padding: 7px 15px;
  font-size: 14px;
  line-height: 18px;
}

/*Banner*/
section.banner-section {
  padding: 66px 0 56px 0;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
section.banner-section .main-heading {
  font-size: 70px;
}
section.banner-section .banner-card {
  padding: 15px 0 20px 15px;
}
section.banner-section .banner-card:before {
  content: "";
  display: block;
  width: 3px;
  height: 160px;
  position: absolute;
  left: 0px;
  background: #007bff;
  top: 0px;
}

.card {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  background-color: #ffffff;
  /* Pricing Cards */
}
.card .nobg {
  background: transparent !important;
}
.card.noshadow {
  box-shadow: unset !important;
}
.card .cicons,
.card .ciconr,
.card .ciconc,
.card .ciconrc,
.card .cicon {
  margin-bottom: 20px;
}
.card .cicons i,
.card .ciconr i,
.card .ciconc i,
.card .ciconrc i,
.card .cicon i {
  font-size: 30px;
}
.card .ciconrc,
.card .ciconr,
.card .cicons,
.card .ciconc {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  background: #ddd;
}
.card .ciconc {
  border-radius: 100%;
}
.card .ciconrc {
  border-radius: 10px;
}
.card .ciconr {
  width: 100px;
}
.card.cui1c, .card.cui1 {
  margin-bottom: 30px;
  background: transparent !important;
  border: none !important;
}
.card.cui1c .cheader,
.card.cui1c .card-header, .card.cui1 .cheader,
.card.cui1 .card-header {
  background: transparent;
  border: none;
}
.card.cui1c .ctitle,
.card.cui1c .card-title, .card.cui1 .ctitle,
.card.cui1 .card-title {
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 20px 0;
  font-weight: bold;
}
.card.cui1c .ctitle a,
.card.cui1c .card-title a, .card.cui1 .ctitle a,
.card.cui1 .card-title a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
.card.cui1c .cbody,
.card.cui1c .card-body, .card.cui1 .cbody,
.card.cui1 .card-body {
  padding: 0;
}
.card.cui1c, .card.cui2c, .card.cui3c, .card.cui4c {
  text-align: center;
}
.card.cui1c .cbody,
.card.cui1c .card-body, .card.cui2c .cbody,
.card.cui2c .card-body, .card.cui3c .cbody,
.card.cui3c .card-body, .card.cui4c .cbody,
.card.cui4c .card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card.cui4, .card.cui3, .card.cui3c, .card.cui2c, .card.cui2 {
  margin-bottom: 30px;
  background: #ffffff !important;
  border: none !important;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.card.cui4 .cheader,
.card.cui4 .card-header, .card.cui3 .cheader,
.card.cui3 .card-header, .card.cui3c .cheader,
.card.cui3c .card-header, .card.cui2c .cheader,
.card.cui2c .card-header, .card.cui2 .cheader,
.card.cui2 .card-header {
  background: transparent;
  border: none;
}
.card.cui4 .ctitle,
.card.cui4 .card-title, .card.cui3 .ctitle,
.card.cui3 .card-title, .card.cui3c .ctitle,
.card.cui3c .card-title, .card.cui2c .ctitle,
.card.cui2c .card-title, .card.cui2 .ctitle,
.card.cui2 .card-title {
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 20px 0;
  font-weight: bold;
}
.card.cui4 .ctitle a,
.card.cui4 .card-title a, .card.cui3 .ctitle a,
.card.cui3 .card-title a, .card.cui3c .ctitle a,
.card.cui3c .card-title a, .card.cui2c .ctitle a,
.card.cui2c .card-title a, .card.cui2 .ctitle a,
.card.cui2 .card-title a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
.card.cui4 .cbody,
.card.cui4 .card-body, .card.cui3 .cbody,
.card.cui3 .card-body, .card.cui3c .cbody,
.card.cui3c .card-body, .card.cui2c .cbody,
.card.cui2c .card-body, .card.cui2 .cbody,
.card.cui2 .card-body {
  padding: 20px 15px;
}
.card.cui4 .cbody,
.card.cui4 .card-body,
.card.cui4 .ctext,
.card.cui4 .card-text, .card.cui3 .cbody,
.card.cui3 .card-body,
.card.cui3 .ctext,
.card.cui3 .card-text, .card.cui3c .cbody,
.card.cui3c .card-body,
.card.cui3c .ctext,
.card.cui3c .card-text, .card.cui2c .cbody,
.card.cui2c .card-body,
.card.cui2c .ctext,
.card.cui2c .card-text, .card.cui2 .cbody,
.card.cui2 .card-body,
.card.cui2 .ctext,
.card.cui2 .card-text {
  font-size: 14px;
}
.card.stext .ctitle,
.card.stext .card-title {
  font-size: 14px;
  display: inline-block;
  margin: 0px;
}
.card.cui4b, .card.cui3c, .card.cui3 {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.card.cui4b, .card.cui4 {
  display: flex;
  flex-direction: row;
}
.card.cui4b .ritem,
.card.cui4b .litem, .card.cui4 .ritem,
.card.cui4 .litem {
  flex: 0 0 30%;
  height: 100%;
}
.card.cui4b .ritem, .card.cui4 .ritem {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.card.ctestimonial {
  background: #fff;
  overflow: hidden;
}
.card.ctestimonial.ctbgtop .cbody,
.card.ctestimonial.ctbgtop .card-body {
  z-index: 1;
  padding-top: 40px;
}
.card.ctestimonial.ctbgtop .cbody:before,
.card.ctestimonial.ctbgtop .card-body:before {
  background-color: #007bff;
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 84px;
  z-index: -1;
  top: 0px;
}
.card.ctestimonial .csmtext {
  color: #6c757d !important;
  margin-bottom: 0px;
  font-size: 14px;
}
.card.ctestimonial .cimagewrb,
.card.ctestimonial .cimagewrc,
.card.ctestimonial .cimagewrbc,
.card.ctestimonial .cimagewr {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  display: flex;
  overflow: hidden !important;
  justify-content: center;
  align-items: center;
}
.card.ctestimonial .cimagewrb img,
.card.ctestimonial .cimagewrc img,
.card.ctestimonial .cimagewrbc img,
.card.ctestimonial .cimagewr img {
  height: 100%;
  max-width: unset !important;
  width: unset !important;
}
.card.ctestimonial .cimagewrbc,
.card.ctestimonial .cimagewrb {
  border: 5px solid #ffffff;
  width: 95px;
  height: 95px;
}
.card.ctestimonial .cimagewrbc,
.card.ctestimonial .cimagewrc {
  border-radius: 100%;
}
.card.ctestimonial .cicon {
  margin: 0;
  font-size: 20px;
}
.card.ctestimonial .ciconbgl,
.card.ctestimonial .ciconbg {
  top: calc(50% - 100px);
  left: calc(50% - 120px);
  color: rgba(0, 0, 0, 0.5);
  font-size: 250px;
  opacity: 0.1;
  z-index: 0;
  line-height: 200px;
  position: absolute;
  z-index: 0;
}
.card.ctestimonial .ciconbgl {
  left: 15px;
}
.card.cpricing .card-title {
  font-size: 14px;
  color: #6c757d !important;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.card.cpricing .card-body {
  padding: 40px 20px;
}
.card.cpricing .card-body ul {
  font-size: 16px;
  color: #6c757d !important;
  list-style: none;
  padding: 0px;
}
.card.cpricing .card-body ul li {
  padding: 11px 0 16px 0;
}
.card.cpricing .card-body ul li strong {
  color: #343a40 !important;
}
.card.cpricing .card-price {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
.card.cpricing .card-price .price {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
}
.card.cpricing .card-price .symbol {
  font-size: 16px;
  left: -14px;
  top: 11px;
  position: absolute;
}
.card.cpricing .card-price .period {
  right: -26px;
  bottom: 10px;
}
.card.cpricing .btn {
  font-size: 14px;
  padding: 15px;
}

.button,
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  padding: 10px;
  max-width: 100%;
  width: auto;
  min-width: 150px;
}
.button.btnui1s, .button.btnui1,
.btn.btnui1s,
.btn.btnui1 {
  border-radius: 0px !important;
}
.button.btnui2s, .button.btnui2,
.btn.btnui2s,
.btn.btnui2 {
  border-radius: 4px !important;
}
.button.btnui3s, .button.btnui3,
.btn.btnui3s,
.btn.btnui3 {
  border-radius: 50px !important;
}
.button.btnui3s, .button.btnui2s, .button.btnui1s,
.btn.btnui3s,
.btn.btnui2s,
.btn.btnui1s {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

/*Accordion CSS*/
.accordion.accordion-ui1 .card {
  border: none;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 6px 6px 4px rgba(0, 0, 0, 0.04);
}
.accordion.accordion-ui1 .card .card-header {
  padding: 0;
  border-radius: 4px;
  border: none;
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
}
.accordion.accordion-ui1 .card .card-header .card-count {
  border-radius: 100%;
  border: 1px solid #ffffff;
  width: 30px;
  display: inline-block;
  text-align: center;
  padding: 3px 0;
  font-size: 14px;
  margin-right: 8px;
  height: 30px;
  color: #ffffff;
}
.accordion.accordion-ui1 .card .card-header .card-title {
  font-weight: normal;
}
.accordion.accordion-ui1 .card .card-header a {
  text-decoration: none;
  background: #007bff;
  color: #ffffff;
  font-weight: normal;
  padding: 16px;
  display: block;
}
.accordion.accordion-ui1 .card .card-header a.collapsed {
  background: #f2f2f2;
  color: #000;
}
.accordion.accordion-ui1 .card .card-header a.collapsed .card-count {
  border-color: #007bff;
  color: #007bff;
}
.accordion.accordion-ui1 .card .card-body p {
  margin: 0;
}
.accordion.accordion-ui1 .card.active .card-header .card-count {
  background: #ffffff;
  border-color: #ff7544;
  color: #FF9671;
}

/* Accordion Design 2*/
.accordion-ui2 {
  background: #ffffff;
}
.accordion-ui2 .card {
  border: none;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 6px 6px 4px rgba(0, 0, 0, 0.04);
}
.accordion-ui2 .card-header {
  background: #007bff;
  padding-right: 34px;
  position: relative;
  line-height: 0;
}
.accordion-ui2 .card-header a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  line-height: 24px;
  font-weight: normal;
  width: 100%;
}
.accordion-ui2 .card-header a i {
  right: 15px;
  top: calc(50% - 9px);
  position: absolute;
}
.accordion-ui2 .card-header a.collapsed i.fa-caret-down, .accordion-ui2 .card-header a.collapsed i.fa-plus,
.accordion-ui2 .card-header a i.fa-minus,
.accordion-ui2 .card-header a i.fa-caret-left {
  display: block !important;
}
.accordion-ui2 .card-header a i.fa-caret-down,
.accordion-ui2 .card-header a i.fa-plus, .accordion-ui2 .card-header a.collapsed i.fa-minus, .accordion-ui2 .card-header a.collapsed i.fa-caret-left {
  display: none !important;
}
.accordion-ui2 p {
  margin: 0px;
}

.alert .alert-header,
.alert .alert-heading {
  font-size: 18px !important;
  margin-bottom: 14px;
}
.alert.alertb, .alert.alertbrc, .alert.alertrc, .alert.alertrcs, .alert.alertui, .alert.alertuis, .alert.alertui1, .alert.alertui2, .alert.alertui3, .alert.alertui4, .alert.alertui5 {
  border: none;
  font-weight: normal;
  font-size: 14px;
  border-radius: 0px;
  padding: 15px;
}
.alert.alertbrc, .alert.alertui4, .alert.alertb, .alert.alertui2 {
  border: 1px solid;
}
.alert.alertrcs, .alert.alertui5, .alert.alertbrc, .alert.alertui4, .alert.alertrc, .alert.alertui3 {
  border-radius: 6px;
}
.alert.alertrcs, .alert.alertuis, .alert.alertui5 {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.alert.dismissible, .alert.alert-dismissible {
  padding-right: 45px;
}
.alert.dismissible .close, .alert.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
  color: inherit;
  bottom: 0;
  min-width: 45px;
  text-align: center;
  color: inherit;
}

/* Pricing Table 2 */
.price_tables_wr .cpricing2 {
  background: rgba(183, 233, 255, 0.2);
  border: none;
  overflow: hidden;
}

.price_tables_wr .col:nth-child(2) .cpricing2 {
  background: rgba(183, 233, 255, 0.6);
  top: -10px;
}

.price_tables_wr .col:nth-child(3) .cpricing2 {
  background: rgba(183, 233, 255, 0.2);
}

.cpricing2 .card-title {
  font-size: 14px;
}

.cpricing2 .popular {
  position: absolute;
  background: #007bff;
  color: #fff;
  padding: 1px 27px;
  font-size: 14px;
  transform: rotate(-45deg);
  left: -32px;
  top: 25px;
}

.cpricing2 .card-price {
  display: inline-block;
}

.cpricing2 .card-price .price {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
}

.cpricing2 .card-price .symbol {
  font-size: 16px;
  left: -14px;
  top: 11px;
}

.cpricing2 .card-price .period {
  right: -26px;
  bottom: 10px;
}

.cpricing2 .btn {
  font-size: 14px;
}

/* Pricing Table 3 */
.price_tables_wr .cpricing3 {
  background: #B10031;
  border: none;
}

.price_tables_wr .col:nth-child(2) .cpricing3 {
  background: #9A59FF;
  /*top:-10px;*/
}

.price_tables_wr .col:nth-child(3) .cpricing3 {
  background: #FE005A;
}

.cpricing3 .card-title {
  font-size: 14px;
}

.cpricing3 .popular {
  position: absolute;
  background: #ffc107;
  color: #000;
  padding: 6px 27px;
  font-size: 14px;
  left: -4%;
  top: -30px;
  width: 108%;
  z-index: 99;
}

.cpricing3 .popular:before {
  display: block;
  content: "";
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 20px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.cpricing3 .popular:after {
  display: block;
  content: "";
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 20px solid #ffffff;
  position: absolute;
  top: 0;
  right: 0;
}

.cpricing3 .card-price {
  display: inline-block;
}

.cpricing3 .card-price .price {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
}

.cpricing3 .card-price .symbol {
  font-size: 16px;
  left: -14px;
  top: 11px;
}

.cpricing3 .card-price .period {
  right: -26px;
  bottom: 10px;
}

.cpricing3 .btn {
  font-size: 14px;
}

/* Pricing Table 4 */
.price_tables_wr .cpricing4 {
  background: #FF917E;
  box-shadow: 0 0 14px -6px #FF917E;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.price_tables_wr .col:nth-child(2) .cpricing4 {
  background: #FFC65F;
  box-shadow: 0 0 14px -6px #FFC65F;
}

.price_tables_wr .col:nth-child(3) .cpricing4 {
  background: #cac9ff;
  box-shadow: 0 0 14px -6px #cac9ff;
}

.price_tables_wr .col:nth-child(4) .cpricing4 {
  background: #c7de68;
  box-shadow: 0 0 14px -6px #c7de68;
}

.price_tables_wr .cpricing4:hover {
  box-shadow: unset;
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.cpricing4 .card-title {
  font-size: 14px;
}

.cpricing4 .popular {
  position: absolute;
  background: #ffc107;
  color: #000;
  padding: 6px 27px;
  font-size: 14px;
  left: -4%;
  top: -30px;
  width: 108%;
  z-index: 99;
  box-shadow: 1px 4px 3px -4px #b38601;
}

.cpricing4 .popular:before {
  display: block;
  content: "";
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 20px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.cpricing4 .popular:after {
  display: block;
  content: "";
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 20px solid #ffffff;
  position: absolute;
  top: 0;
  right: 0;
}

.cpricing4 .card-price {
  display: inline-block;
}

.cpricing4 .card-price .price {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
}

.cpricing4 .card-price .symbol {
  font-size: 16px;
  left: -14px;
  top: 11px;
}

.cpricing4 .card-price .period {
  right: -26px;
  bottom: 10px;
}

.cpricing4 .btn {
  font-size: 14px;
}

/* Pricing Card 5 */
.pricing_table5 {
  background: #ffffff;
}

.pricing_table5 .card-title {
  font-size: 14px;
}

.pricing_table5 .card-price {
  display: inline-block;
}

.pricing_table5 .card-price .price {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
}

.pricing_table5 .card-price .symbol {
  font-size: 16px;
  left: -14px;
  top: 11px;
}

.pricing_table5 .card-price .period {
  right: -26px;
  bottom: 10px;
}

.pricing_table5 .btn {
  font-size: 14px;
}

.pricing_table5 i {
  color: red;
  font-size: 10px;
  margin-right: 5px;
  margin-right: 5px;
}

.pricing_table5 li {
  font-size: 14px;
}

/* Team Card */
.card_team1 {
  box-shadow: 2px 2px 9px 5px whitesmoke;
  border: 1px solid white;
  border-radius: 8px;
  padding: 27px 15px 16px 15px;
}

.card_team1 .card-title p {
  text-align: center;
  line-height: 12px;
}

.card_team1 .card-header .img_circle {
  border-radius: 100%;
  border: 4px solid silver;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.card_team1 .card-header .images {
  margin: 0px auto;
  width: 100%;
}

.card_team1 .card-body .separator {
  height: 4px;
  background: #0062cc;
  width: 40px;
  margin: 0px auto 12px auto;
}

/*Sidebar Widget*/
.card.widget_card {
  margin: 0 0 20px 0;
}

.card.widget_card .card-header {
  overflow: hidden;
}

.card.widget_card .card-header h5,
.card.widget_card .card-header h4,
.card.widget_card .card-header h3 {
  margin: 0px;
  font-size: 18px;
  line-height: 22px;
}

.card.widget_card .card-body {
  padding-bottom: 8px !important;
}

.card.widget_card .card-body ul {
  list-style: outside none none;
  padding: 0px;
  margin-left: 20px;
}

.card.widget_card .card-body ul li {
  position: relative;
  margin: 0 0 12px 0;
}

.card.widget_card .card-body ul li::before {
  position: absolute;
  top: 8px;
  left: -23px;
  border: none;
  border-top: 1px solid #174BDA;
  border-right: 1px solid #174BDA;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  content: " ";
  margin-right: 5px;
}

/*Social Icons*/
.socialicons {
  display: inline-flex;
  font-size: 16px;
  color: #000000;
  padding: 0px;
  list-style: none;
  margin: 0 -3px;
  width: 100%;
}
.socialicons a {
  height: 45px;
  color: inherit;
  text-decoration: none;
  width: 45px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  margin: 0 3px 6px 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.socialicons.siconsbc a, .socialicons.siconsbr a, .socialicons.siconsb a {
  border: 1px solid #000000;
}
.socialicons.siconsbr a {
  border-radius: 6px;
}
.socialicons.siconsc a, .socialicons.siconsbc a {
  border-radius: 100%;
}
.socialicons.inverse, .socialicons.bg_dark, .socialicons.bg-dark {
  color: #ffffff;
}
.socialicons.inverse a, .socialicons.bg_dark a, .socialicons.bg-dark a {
  border-color: #ffffff;
}
.socialicons.bg_dark, .socialicons.bg-dark {
  background: #000000;
}
.socialicons.colored a {
  color: #ffffff;
}
.socialicons.colored .fa-facebook-f,
.socialicons.colored .facebook a {
  background-color: #395996;
}
.socialicons.colored .fa-youtube,
.socialicons.colored .youtube a {
  background-color: #FF0000;
}
.socialicons.colored .fa-twitter,
.socialicons.colored .twitter a {
  background-color: #00acec;
}
.socialicons.colored .fa-instagram,
.socialicons.colored .instagram a {
  background-color: #527fa4;
}
.socialicons.autowidth a {
  width: auto;
}
.socialicons.text-left a {
  justify-content: start;
}
.socialicons.text-left a i {
  width: 45px;
  text-align: center;
}

/* Scroll Down */
.mouse_scroll_down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -20px;
}

.mouse_scroll_down .mouse {
  width: 40px;
  padding: 6px 16px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
}

.mouse_scroll_down .mouse.light {
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
}

.mouse_scroll_down .scroller {
  width: 4px;
  height: 12px;
  border-radius: 100%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

.mouse_scroll_down .mouse.light .scroller {
  background: white;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  12% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
/*CSS Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  margin-right: 5px;
  margin-bottom: 0;
  top: -2px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

/*Tab Bar Design*/
.tab_bar_design {
  padding: 0px;
}

.tab_bar_design li a {
  background: #ccc;
  display: inline-block;
  width: 6px;
  height: 6px;
}

.tab_bar_design li {
  display: inline-block;
  text-align: center;
  width: 34px;
  margin: -8px 11px -4px 12px;
}

.tab_bar_design li:first-child {
  margin-left: 0;
}

.tab_bar_design li:last-child {
  margin-right: 0;
}

.tab_bar_design li a.active {
  width: 30px;
  height: 30px;
  background: #007bff;
  border: 12px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

/*Background Full Image*/
.bg_image_full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.common-section-ui {
  padding: 80px 0 60px 0;
  position: relative;
}

/*Footer*/
.footer_style1 ul {
  padding: 0;
  list-style: none;
}

.footer_style1 ul li {
  padding: 5px 0;
}

.footer_style1 ul li a {
  text-decoration: none;
  color: #212121;
}

/*Responsive*/
@media all and (min-width: 787px) {
  .scrolled header {
    background: #ffffff;
  }

  .scrolled .go_top_arrow {
    display: block;
    bottom: 10px;
    right: 10px;
  }
}
/*Tablet*/
@media all and (max-width: 786px) {
  .navbar-toggler {
    background: #fff;
    border: 1px solid #ccc;
    padding: 2px 3px 3px 3px;
    left: 10px;
    top: 10px;
    position: fixed;
    z-index: 99;
  }

  .navbar-toggler-icon {
    font-size: 20px;
    padding: 6px 5px;
  }

  .header_mobile_control {
    position: absolute;
    top: 14px;
  }

  .logo_text {
    text-align: right;
  }

  header .navbar.navbar-expand-lg {
    float: left;
  }

  header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 15px !important;
    display: block;
    text-align: left;
    border-top: 1px solid #f2f2f2;
    color: #343a40 !important;
  }

  .navbar-collapse {
    display: block !important;
  }

  .navbar.navbar-expand-lg .navbar-collapse {
    max-width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff !important;
    box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 0px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  .navbar.navbar-expand-lg .navbar-collapse ul.navbar-nav {
    background: #fff;
    min-height: 100vh;
    padding: 57px 0 0 0 !important;
    height: 100%;
  }

  .navbar.navbar-expand-lg .navbar-collapse::after {
    position: fixed;
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }

  .navbar.navbar-expand-lg .navbar-collapse.show {
    width: 300px;
    overflow: visible;
  }

  .header_mobile_control .navbar.navbar-expand-lg {
    width: 100%;
  }

  .header_mobile_control .navbar.navbar-expand-lg #navbarNavDropdown {
    background: #fff;
    padding: 0 0 30px 0;
  }
}
/*Mobile Responsive*/
@media all and (max-width: 500px) {
  .col,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  header#main_header {
    position: fixed !important;
  }

  .logo_wr {
    margin: 10px 0;
  }

  .scrolled a.nav-link,
.header_menus .nav-link {
    padding: 10px !important;
  }

  div.city_select {
    width: 100%;
    margin: 0;
  }

  .header_btn_wr .btn {
    display: inline-block;
    width: 100%;
    margin: 10px 0 0px 0;
  }

  .home_banner h1 {
    margin: 0;
    font-size: 25px;
  }

  .home_banner h1 span.small {
    margin: 5px 0 10px 0;
    font-size: 20px;
    line-height: 24px;
  }

  .page-main-heading {
    padding: 10px 0;
    font-size: 25px;
    margin: 10px auto;
  }

  #homesearchtabcontentwr {
    width: 100%;
    margin: 10px 0;
  }

  #homesearchtabcontentwr ul {
    text-align: center;
    display: flex;
    border: none;
    margin-bottom: 7px;
  }

  #homesearchtabcontentwr ul li {
    display: inline-flex;
    width: 50%;
  }

  #homesearchtabcontentwr .nav-tabs .nav-link svg {
    width: 100%;
  }

  #homesearchtabcontentwr .nav-tabs .nav-link {
    padding: 5px 15px;
    width: auto;
    margin-bottom: 15px;
  }

  .form_advance_filter {
    padding: 0;
    background: transparent;
    border: none;
  }

  .form_advance_filter .col {
    margin-bottom: 10px;
  }

  .form_advance_filter .custom-select, .form_advance_filter .form-control {
    margin-bottom: 15px;
  }

  .home_banner {
    /*min-height: 0;*/
    padding-bottom: 30px;
  }

  section.how_it_works {
    padding: 30px 0;
  }

  .main-heading {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .how_it_works_list span::after {
    display: none;
  }

  .how_it_works_list {
    padding: 10px;
    margin-bottom: -2px;
    box-shadow: none;
  }

  .how_it_works_list span {
    position: static;
    height: auto;
    line-height: 35px;
    width: 100%;
    display: block;
    margin-bottom: 12px;
  }

  .how_it_works h3 {
    margin-top: 20px;
  }

  .update_wr {
    max-width: 100%;
  }

  .latest_update2.slider_arrow_design .slick-prev {
    left: 15px;
    top: 30px;
  }

  .latest_update2.slider_arrow_design .slick-next {
    right: 15px;
    top: 30px;
  }

  .testimonials_wr p {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonials_wr span.before_quote {
    font-size: 30px !important;
    left: 2px;
    top: -5px;
  }

  .testimonials_wr span.after_quote {
    font-size: 30px !important;
  }

  .slider_arrow_design .slick-prev {
    left: 2px;
    top: 80px;
  }

  .slider_arrow_design .slick-next {
    right: 2px;
    top: 80px;
  }

  footer.footer-section .footer-part1 {
    padding: 30px 0;
    text-align: center;
  }

  .footer-part1 .col-md-3 {
    margin-bottom: 15px;
  }

  .footer-part2 .col-md-4.text-right,
.footer-part2 .col-md-4.text-left {
    text-align: center !important;
    display: block;
  }

  footer.footer-section .social_links a {
    display: inline-block;
    padding: 12px 0;
    font-size: 16px;
    width: 20%;
  }

  form.form_contant {
    background: #fff;
    padding: 20px;
    margin-top: -118px;
    margin-left: -161px;
  }

  .page_content_section .page_content {
    padding: 30px 10px 15px 10px !important;
  }

  .faq_vertical_menus {
    width: 100%;
    position: static;
    left: 0;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=components.css.map */
