@charset "UTF-8";
html, body {
  -moz-transition: unset !important;
  -o-transition: unset !important;
  -webkit-transition: unset !important;
  -ms-transition: unset !important;
  transition: unset !important;
}

/************************** Components ***************************/
.hamburger {
  width: 30px;
  position: fixed;
  left: 30px;
  top: 30px;
  cursor: pointer;
  text-align: left;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
}
.hamburger.type2 .bar2 {
  margin: 0 auto;
}
.hamburger div {
  background: #fd3a69;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
}
.hamburger div.bar2 {
  width: 50%;
}
.hamburger:hover div.bar2 {
  width: 100%;
}
.hamburger.active .bar1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.hamburger.active .bar2 {
  display: none;
}
.hamburger.active .bar3 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -8px;
}

.sidebaractive {
  padding-left: 290px;
}

.sidebar {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  content: "";
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 99;
  transition: unset !important;
  display: none;
}
.sidebar.nooverlay {
  width: 275px;
  background: transparent;
}
.sidebar .slisting {
  width: 0px;
  font-family: "Poppins", sans-serif;
  display: block !important;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  height: 100vh;
  padding: 80px 0 0 0;
  z-index: 999;
  background: #ffffff;
  overflow: hidden;
}
.sidebar .slisting ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar .slisting ul li a {
  color: inherit;
  position: relative;
  width: 275px;
  padding: 15px 15px 15px 50px;
  display: inline-block;
  text-decoration: none;
}
.sidebar .slisting ul li a .icon,
.sidebar .slisting ul li a svg,
.sidebar .slisting ul li a i {
  position: absolute;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}
.sidebar .slisting ul li a.active, .sidebar .slisting ul li a:hover {
  background: rgba(0, 0, 0, 0.05);
}
.sidebar .slisting.slistingsm li a {
  padding: 10px 10px 10px 50px;
}
.sidebar.active {
  display: block;
}
.sidebar.active .slisting {
  width: 275px;
}
.sidebar.sright .slisting {
  left: unset;
  right: 0px;
}
.sidebar.inverse {
  color: #ffffff;
}

.site_logo {
  font-size: 34px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.site_logo.with_tagline {
  padding: 9px 0;
}
.site_logo.with_image a {
  flex-direction: row;
}
.site_logo.with_image a img {
  height: 70px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.site_logo a {
  color: #000000;
  display: inline-block;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.site_logo .tag_line {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.4px;
}
.site_logo span {
  display: inline-block;
}
.site_logo span.logo_text {
  display: flex;
}

/*Button Close*/
.close_times {
  color: #fff;
  font-size: 26px;
  line-height: 40px;
  display: inline-block;
  width: 40px;
  font-weight: bold;
}
.close_times.black {
  color: #000;
}
.close_times.white {
  color: #fff;
}
.close_times .outlined {
  border: 1px solid #fff;
  border-radius: 100%;
}
.close_times .outlined.inverse {
  background: #ffffff;
  color: #000;
}

/*Heading Styles*/
.heading_style {
  text-align: center;
  width: 100%;
  display: block;
  line-height: 1.4em;
  letter-spacing: 0;
  position: relative;
  margin-bottom: 20px;
}
.heading_style.text-center {
  text-align: center;
}
.heading_style.type1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 16px;
  position: relative;
}
.heading_style.type1 span {
  padding: 0 16px;
  z-index: 1;
  position: relative;
}
.heading_style.type1::before {
  display: block;
  content: "";
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 0;
  width: 100%;
  max-width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -2px;
  height: 3px;
}
.heading_style.type2 {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 40px;
  text-align: left;
  padding-bottom: 10px;
}
.heading_style.type2:before {
  display: block;
  content: "";
  border-top: 3px solid #007bff;
  border-bottom: none;
  position: absolute;
  z-index: 0;
  width: 100%;
  max-width: 50px;
  top: unset;
  margin-top: -2px;
  height: 0;
  bottom: -10px;
}
.heading_style.type2.text-center {
  text-align: center;
}
.heading_style.type2.text-center:before {
  left: 50%;
  margin-left: -25px;
}
.heading_style.type2.text-white {
  color: #fff;
}
.heading_style.type2.text-white:before {
  border-color: #ffffff;
}

/*Nav Menus*/
header {
  background-color: #ffffff;
  width: 100%;
}
header.sticky, header.fixed {
  position: fixed;
  top: 0px;
  bottom: unset !important;
  left: 0px;
  right: 0px;
  z-index: 998;
}
header .navbar.navbar-expand-lg {
  padding: 0;
}
header .navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 15px !important;
  margin: 14px 0 !important;
  color: #333333;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .navbar.navbar-expand-lg .navbar-nav .nav-item.show a.nav-link, header .navbar.navbar-expand-lg .navbar-nav .nav-item:hover a.nav-link, header .navbar.navbar-expand-lg .navbar-nav .nav-item.active a.nav-link {
  color: #0069d9;
}
header .navbar.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
  top: 80px !important;
  padding: 5px 0;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  left: 20px;
}
header .navbar.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu:after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -10px;
  left: 15px;
}
header .navbar.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  padding: 7px 15px;
  font-size: 14px;
  line-height: 18px;
}
header .full-menu .navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  margin: 0px !important;
}

.scrolled header {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
}
.scrolled header .navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  margin: 5px 0 !important;
}
.scrolled header .site_logo.with_image a img {
  height: 50px;
}
.scrolled header .full-menu .navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  margin: 0px !important;
  padding: 5px 15px !important;
}
.scrolled header .navbar.navbar-expand-lg .navbar-nav .nav-item a.nav-link.btn {
  padding: 8px 0 !important;
  margin: 11px 0 11px 8px !important;
}

/*Banner*/
.banner_section,
.banner-section {
  min-height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 66px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  background-attachment: fixed;
}
.banner_section .overlay,
.banner_section .overlay_w,
.banner_section .overlay_b,
.banner-section .overlay,
.banner-section .overlay_w,
.banner-section .overlay_b {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: inline-block;
  content: "";
}
.banner_section .container,
.banner-section .container {
  position: relative;
}
.banner_section.with_slider,
.banner-section.with_slider {
  display: block;
}
.banner_section.with_slider .slide-caption,
.banner-section.with_slider .slide-caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: unset !important;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  min-height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  z-index: 9;
}
.banner_section .main-heading,
.banner-section .main-heading {
  font-size: 70px;
}
.banner_section .banner-card,
.banner-section .banner-card {
  padding: 15px 0 20px 15px;
}
.banner_section .banner-card:before,
.banner-section .banner-card:before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0px;
  background: #007bff;
  top: 0px;
}
.banner_section .banner-card.nobefore:before,
.banner-section .banner-card.nobefore:before {
  display: none;
}
.banner_section.bannerui2,
.banner-section.bannerui2 {
  background: #000;
  min-height: 539px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner_section.bannerui2 .container,
.banner-section.bannerui2 .container {
  position: relative;
}
.banner_section.bannerui2 .overlay_b,
.banner-section.bannerui2 .overlay_b {
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.banner_section.bannerui2 .section-bg-video,
.banner-section.bannerui2 .section-bg-video {
  position: absolute;
  top: -20%;
  left: 0;
  right: 0;
}
.banner_section.bannerui2 iframe.section-bg-video,
.banner-section.bannerui2 iframe.section-bg-video {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_section.bannerui2 .banner-heading,
.banner-section.bannerui2 .banner-heading {
  color: #D7138B;
  font-size: 192px;
  font-weight: 500;
  line-height: 194px;
  margin-bottom: 23px;
  word-break: break-all;
}
.banner_section.bannerui2 .banner-title-before,
.banner-section.bannerui2 .banner-title-before {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 10px;
  position: relative;
  top: -1px;
}
.banner_section.bannerui2 .banner-description,
.banner-section.bannerui2 .banner-description {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 82px;
}

.card {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  background-color: #ffffff;
  /* Pricing Cards */
}
.card .nobg {
  background: transparent !important;
}
.card.noshadow {
  box-shadow: unset !important;
}
.card .ciconb,
.card .cicons,
.card .ciconr,
.card .ciconc,
.card .ciconrc,
.card .cicon {
  margin-bottom: 20px;
}
.card .ciconb i,
.card .cicons i,
.card .ciconr i,
.card .ciconc i,
.card .ciconrc i,
.card .cicon i {
  font-size: 30px;
}
.card .ciconb,
.card .ciconrc,
.card .ciconr,
.card .cicons,
.card .ciconc {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  background: #ddd;
}
.card .ciconc {
  border-radius: 100%;
}
.card .ciconrc {
  border-radius: 10px;
}
.card .ciconr {
  width: 100px;
}
.card .ciconb {
  border: 1px solid #ddd;
  background-color: transparent;
}
.card.cui1c, .card.cui1 {
  margin-bottom: 30px;
  background: transparent !important;
  border: none !important;
}
.card.cui1c .cheader,
.card.cui1c .card-header, .card.cui1 .cheader,
.card.cui1 .card-header {
  background: transparent;
  border: none;
}
.card.cui1c .ctitle,
.card.cui1c .card-title, .card.cui1 .ctitle,
.card.cui1 .card-title {
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 20px 0;
  font-weight: bold;
}
.card.cui1c .ctitle a,
.card.cui1c .card-title a, .card.cui1 .ctitle a,
.card.cui1 .card-title a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
.card.cui1c .cbody,
.card.cui1c .card-body, .card.cui1 .cbody,
.card.cui1 .card-body {
  padding: 0;
}
.card.cui1c, .card.cui2c, .card.cui3c, .card.cui4c {
  text-align: center;
}
.card.cui1c .cbody,
.card.cui1c .card-body, .card.cui2c .cbody,
.card.cui2c .card-body, .card.cui3c .cbody,
.card.cui3c .card-body, .card.cui4c .cbody,
.card.cui4c .card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card.cui4, .card.cui3, .card.cui3c, .card.cui2c, .card.cui2 {
  margin-bottom: 30px;
  background: #ffffff;
  border: none;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.card.cui4 .cheader,
.card.cui4 .card-header, .card.cui3 .cheader,
.card.cui3 .card-header, .card.cui3c .cheader,
.card.cui3c .card-header, .card.cui2c .cheader,
.card.cui2c .card-header, .card.cui2 .cheader,
.card.cui2 .card-header {
  background: transparent;
  border: none;
}
.card.cui4 .ctitle,
.card.cui4 .card-title, .card.cui3 .ctitle,
.card.cui3 .card-title, .card.cui3c .ctitle,
.card.cui3c .card-title, .card.cui2c .ctitle,
.card.cui2c .card-title, .card.cui2 .ctitle,
.card.cui2 .card-title {
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 20px 0;
  font-weight: bold;
}
.card.cui4 .ctitle a,
.card.cui4 .card-title a, .card.cui3 .ctitle a,
.card.cui3 .card-title a, .card.cui3c .ctitle a,
.card.cui3c .card-title a, .card.cui2c .ctitle a,
.card.cui2c .card-title a, .card.cui2 .ctitle a,
.card.cui2 .card-title a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
}
.card.cui4 .cbody,
.card.cui4 .card-body, .card.cui3 .cbody,
.card.cui3 .card-body, .card.cui3c .cbody,
.card.cui3c .card-body, .card.cui2c .cbody,
.card.cui2c .card-body, .card.cui2 .cbody,
.card.cui2 .card-body {
  padding: 20px 15px;
}
.card.cui4 .cbody,
.card.cui4 .card-body,
.card.cui4 .ctext,
.card.cui4 .card-text, .card.cui3 .cbody,
.card.cui3 .card-body,
.card.cui3 .ctext,
.card.cui3 .card-text, .card.cui3c .cbody,
.card.cui3c .card-body,
.card.cui3c .ctext,
.card.cui3c .card-text, .card.cui2c .cbody,
.card.cui2c .card-body,
.card.cui2c .ctext,
.card.cui2c .card-text, .card.cui2 .cbody,
.card.cui2 .card-body,
.card.cui2 .ctext,
.card.cui2 .card-text {
  font-size: 14px;
}
.card.stext .ctitle,
.card.stext .card-title {
  font-size: 14px;
  display: inline-block;
  margin: 0px;
}
.card.cui4b, .card.cui3c, .card.cui3 {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.card.cui4b, .card.cui4 {
  display: flex;
  flex-direction: row;
}
.card.cui4b .ritem,
.card.cui4b .litem, .card.cui4 .ritem,
.card.cui4 .litem {
  flex: 0 0 30%;
  height: 100%;
}
.card.cui4b .ritem, .card.cui4 .ritem {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.card.ctestimonial {
  background: #fff;
  overflow: hidden;
}
.card.ctestimonial.ctbgtop .cbody,
.card.ctestimonial.ctbgtop .card-body {
  z-index: 1;
  padding-top: 40px;
}
.card.ctestimonial.ctbgtop .cbody:before,
.card.ctestimonial.ctbgtop .card-body:before {
  background-color: #007bff;
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 84px;
  z-index: -1;
  top: 0px;
}
.card.ctestimonial .csmtext {
  color: #6c757d !important;
  margin-bottom: 0px;
  font-size: 14px;
}
.card.ctestimonial .cimagewrb,
.card.ctestimonial .cimagewrc,
.card.ctestimonial .cimagewrbc,
.card.ctestimonial .cimagewr {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  display: flex;
  overflow: hidden !important;
  justify-content: center;
  align-items: center;
}
.card.ctestimonial .cimagewrb img,
.card.ctestimonial .cimagewrc img,
.card.ctestimonial .cimagewrbc img,
.card.ctestimonial .cimagewr img {
  height: 100%;
  max-width: unset !important;
  width: unset !important;
}
.card.ctestimonial .cimagewrbc,
.card.ctestimonial .cimagewrb {
  border: 5px solid #ffffff;
  width: 95px;
  height: 95px;
}
.card.ctestimonial .cimagewrbc,
.card.ctestimonial .cimagewrc {
  border-radius: 100%;
}
.card.ctestimonial .cicon {
  margin: 0;
  font-size: 20px;
}
.card.ctestimonial .ciconbgl,
.card.ctestimonial .ciconbg {
  top: calc(50% - 100px);
  left: calc(50% - 120px);
  color: rgba(0, 0, 0, 0.5);
  font-size: 250px;
  opacity: 0.1;
  z-index: 0;
  line-height: 200px;
  position: absolute;
  z-index: 0;
}
.card.ctestimonial .ciconbgl {
  left: 15px;
}
.card.cpricing .card-title {
  font-size: 16px;
  color: #6c757d !important;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.card.cpricing .card-body {
  padding: 40px 20px;
}
.card.cpricing .card-body ul {
  font-size: 16px;
  color: #6c757d !important;
  list-style: none;
  padding: 0px;
}
.card.cpricing .card-body ul li {
  padding: 11px 0 16px 0;
}
.card.cpricing .card-body ul li strong {
  color: #343a40 !important;
}
.card.cpricing .card-price {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
.card.cpricing .card-price .price {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
}
.card.cpricing .card-price .symbol {
  font-size: 16px;
  left: -14px;
  top: 11px;
  position: absolute;
}
.card.cpricing .card-price .period {
  right: -26px;
  bottom: 10px;
}
.card.cpricing .btn {
  font-size: 14px;
  padding: 15px;
}
.card.cdraganddrop {
  border: 3px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  flex-direction: column;
}
.card.cdraganddrop .card-body {
  flex: unset;
}

.button,
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  padding: 18px 30px;
  max-width: 100%;
  width: auto;
  min-width: 150px;
  line-height: 1;
}
.button.btnui1s, .button.btnui1,
.btn.btnui1s,
.btn.btnui1 {
  border-radius: 0px !important;
}
.button.btnui2s, .button.btnui2,
.btn.btnui2s,
.btn.btnui2 {
  border-radius: 4px !important;
}
.button.btnui3s, .button.btnui3,
.btn.btnui3s,
.btn.btnui3 {
  border-radius: 50px !important;
}
.button.btnui3s, .button.btnui2s, .button.btnui1s,
.btn.btnui3s,
.btn.btnui2s,
.btn.btnui1s {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.button.btn-sm,
.btn.btn-sm {
  padding: 10px 15px;
  line-height: 16px;
  font-size: 12px;
}

/*Accordion CSS*/
.accordion.accordion-ui1 .card {
  border: none;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 6px 6px 4px rgba(0, 0, 0, 0.04);
}
.accordion.accordion-ui1 .card .card-header {
  padding: 0;
  border-radius: 4px;
  border: none;
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
}
.accordion.accordion-ui1 .card .card-header .card-count {
  border-radius: 100%;
  border: 1px solid #ffffff;
  width: 30px;
  display: inline-block;
  text-align: center;
  padding: 3px 0;
  font-size: 14px;
  margin-right: 8px;
  height: 30px;
  color: #ffffff;
}
.accordion.accordion-ui1 .card .card-header .card-title {
  font-weight: normal;
}
.accordion.accordion-ui1 .card .card-header a {
  text-decoration: none;
  background: #007bff;
  color: #ffffff;
  font-weight: normal;
  padding: 16px;
  display: block;
}
.accordion.accordion-ui1 .card .card-header a.collapsed {
  background: #f2f2f2;
  color: #000;
}
.accordion.accordion-ui1 .card .card-header a.collapsed .card-count {
  border-color: #007bff;
  color: #007bff;
}
.accordion.accordion-ui1 .card .card-body p {
  margin: 0;
}
.accordion.accordion-ui1 .card.active .card-header .card-count {
  background: #ffffff;
  border-color: #ff7544;
  color: #FF9671;
}

/* Accordion Design 2*/
.accordion-ui2 {
  background: #ffffff;
}
.accordion-ui2 .card {
  border: none;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 6px 6px 4px rgba(0, 0, 0, 0.04);
}
.accordion-ui2 .card-header {
  background: #007bff;
  padding-right: 34px;
  position: relative;
  line-height: 0;
}
.accordion-ui2 .card-header a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  line-height: 24px;
  font-weight: normal;
  width: 100%;
}
.accordion-ui2 .card-header a i {
  right: 15px;
  top: calc(50% - 9px);
  position: absolute;
}
.accordion-ui2 .card-header a.collapsed i.fa-caret-down, .accordion-ui2 .card-header a.collapsed i.fa-plus,
.accordion-ui2 .card-header a i.fa-minus,
.accordion-ui2 .card-header a i.fa-caret-left {
  display: block !important;
}
.accordion-ui2 .card-header a i.fa-caret-down,
.accordion-ui2 .card-header a i.fa-plus, .accordion-ui2 .card-header a.collapsed i.fa-minus, .accordion-ui2 .card-header a.collapsed i.fa-caret-left {
  display: none !important;
}
.accordion-ui2 p {
  margin: 0px;
}

.alert .alert-header,
.alert .alert-heading {
  font-size: 18px !important;
  margin-bottom: 14px;
}
.alert.alertb, .alert.alertbrc, .alert.alertrc, .alert.alertrcs, .alert.alertui, .alert.alertuis, .alert.alertui1, .alert.alertui2, .alert.alertui3, .alert.alertui4, .alert.alertui5 {
  border: none;
  font-weight: normal;
  font-size: 14px;
  border-radius: 0px;
  padding: 15px;
}
.alert.alertbrc, .alert.alertui4, .alert.alertb, .alert.alertui2 {
  border: 1px solid;
}
.alert.alertrcs, .alert.alertui5, .alert.alertbrc, .alert.alertui4, .alert.alertrc, .alert.alertui3 {
  border-radius: 6px;
}
.alert.alertrcs, .alert.alertuis, .alert.alertui5 {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.alert.dismissible, .alert.alert-dismissible {
  padding-right: 45px;
}
.alert.dismissible .close, .alert.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
  color: inherit;
  bottom: 0;
  min-width: 45px;
  text-align: center;
  color: inherit;
}

/* Pricing Table */
.pricing_cards .pcard2 {
  background: rgba(183, 233, 255, 0.2) !important;
  overflow: hidden;
}
.pricing_cards .pcard2 .popular {
  position: absolute;
  background: #007bff;
  color: #fff;
  padding: 1px 27px;
  font-size: 14px;
  transform: rotate(-45deg);
  left: -32px;
  top: 25px;
}
.pricing_cards .col:nth-child(2) .pcard2 {
  background: rgba(183, 233, 255, 0.6) !important;
  top: -10px;
}
.pricing_cards .pcard3 {
  background: #B10031 !important;
  color: #ffffff;
  overflow: visible !important;
}
.pricing_cards .pcard3 .card-title,
.pricing_cards .pcard3 .card-body ul {
  color: inherit !important;
}
.pricing_cards .pcard3 .card-title li strong,
.pricing_cards .pcard3 .card-body ul li strong {
  color: inherit !important;
}
.pricing_cards .pcard3 .popular {
  position: absolute;
  background: #ffc107;
  color: #000;
  padding: 6px 27px;
  font-size: 14px;
  left: -4%;
  top: -30px;
  width: 108%;
  z-index: 99;
}
.pricing_cards .pcard3 .popular:before {
  display: block;
  content: "";
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 20px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}
.pricing_cards .pcard3 .popular:after {
  display: block;
  content: "";
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 20px solid #ffffff;
  position: absolute;
  top: 0;
  right: 0;
}
.pricing_cards .col:nth-child(2) .pcard3 {
  background: #9A59FF !important;
}
.pricing_cards .col:nth-child(3) .pcard3 {
  background: #FE005A !important;
}
.pricing_cards .pcard4 {
  overflow: visible !important;
  background: #FF917E !important;
  box-shadow: 0 0 14px -6px #FF917E !important;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #212529 !important;
}
.pricing_cards .pcard4 .card-title {
  background: #fff;
  display: inline-block;
  width: 100%;
  font-weight: normal;
  color: inherit !important;
  padding: 10px;
  border-radius: 6px;
}
.pricing_cards .pcard4 .card-body ul li {
  color: #212529 !important;
}
.pricing_cards .pcard4 .card-body ul li strong {
  color: inherit !important;
}
.pricing_cards .pcard4:hover {
  box-shadow: unset;
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.pricing_cards .pcard4 .popular {
  position: absolute;
  background: inherit;
  color: inherit;
  padding: 6px 27px;
  font-size: 14px;
  left: -4%;
  top: -30px;
  width: 108%;
  z-index: 99;
  box-shadow: 1px 4px 3px -4px #b38601;
}
.pricing_cards .pcard4 .popular:after {
  display: block;
  content: "";
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 20px solid #ffffff;
  position: absolute;
  top: 0;
  right: 0;
}
.pricing_cards .pcard4 .popular:before {
  display: block;
  content: "";
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 20px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}
.pricing_cards .col:nth-child(2) .pcard4 {
  background: #FFC65F !important;
  box-shadow: 0 0 14px -6px #FFC65F !important;
}
.pricing_cards .col:nth-child(3) .pcard4 {
  background: #cac9ff !important;
  box-shadow: 0 0 14px -6px #cac9ff !important;
}
.pricing_cards .col:nth-child(4) .pcard4 {
  background: #c7de68 !important;
  box-shadow: 0 0 14px -6px #c7de68 !important;
}
.pricing_cards .pcard5 {
  background: #ffffff;
}
.pricing_cards .col:nth-child(2n) .pcard5 {
  background: rgba(0, 0, 0, 0.02) !important;
}

/* Team Card */
.cteam {
  box-shadow: 2px 2px 9px 5px whitesmoke;
  border: 1px solid white;
  border-radius: 8px;
  padding: 27px 15px 16px 15px;
}
.cteam .card-title p {
  text-align: center;
  line-height: 12px;
}
.cteam .card-header .img_circle {
  border-radius: 100%;
  border: 4px solid silver;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.cteam .card-header .img_circle .images {
  margin: 0px auto;
  width: 100%;
}
.cteam .card-body .separator {
  height: 4px;
  background: #0062cc;
  width: 40px;
  margin: 0px auto 12px auto;
}

/*Sidebar Widget*/
.card.widget_card {
  margin: 0 0 20px 0;
}

.card.widget_card .card-header {
  overflow: hidden;
}

.card.widget_card .card-header h5,
.card.widget_card .card-header h4,
.card.widget_card .card-header h3 {
  margin: 0px;
  font-size: 18px;
  line-height: 22px;
}

.card.widget_card .card-body {
  padding-bottom: 8px !important;
}

.card.widget_card .card-body ul {
  list-style: outside none none;
  padding: 0px;
  margin-left: 20px;
}

.card.widget_card .card-body ul li {
  position: relative;
  margin: 0 0 12px 0;
}

.card.widget_card .card-body ul li::before {
  position: absolute;
  top: 8px;
  left: -23px;
  border: none;
  border-top: 1px solid #174BDA;
  border-right: 1px solid #174BDA;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  content: " ";
  margin-right: 5px;
}

/*Social Icons*/
.socialicons {
  display: inline-flex;
  font-size: 16px;
  color: #000000;
  padding: 0px;
  list-style: none;
  margin: 0 -3px;
  width: 100%;
}
.socialicons a {
  height: 45px;
  color: inherit;
  text-decoration: none;
  width: 45px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  margin: 0 3px 6px 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.socialicons.siconsbc a, .socialicons.siconsbr a, .socialicons.siconsb a {
  border: 1px solid #000000;
}
.socialicons.siconsbr a {
  border-radius: 6px;
}
.socialicons.siconsc a, .socialicons.siconsbc a {
  border-radius: 100%;
}
.socialicons.inverse, .socialicons.bg_dark, .socialicons.bg-dark {
  color: #ffffff;
}
.socialicons.inverse a, .socialicons.bg_dark a, .socialicons.bg-dark a {
  border-color: #ffffff;
}
.socialicons.bg_dark, .socialicons.bg-dark {
  background: #000000;
}
.socialicons.colored a {
  color: #ffffff;
}
.socialicons.colored .fa-facebook-f,
.socialicons.colored .facebook a {
  background-color: #395996;
}
.socialicons.colored .fa-youtube,
.socialicons.colored .youtube a {
  background-color: #FF0000;
}
.socialicons.colored .fa-twitter,
.socialicons.colored .twitter a {
  background-color: #00acec;
}
.socialicons.colored .fa-instagram,
.socialicons.colored .instagram a {
  background-color: #527fa4;
}
.socialicons.autowidth a {
  width: auto;
}
.socialicons.text-left a {
  justify-content: start;
}
.socialicons.text-left a i {
  width: 45px;
  text-align: center;
}
.socialicons.withtext {
  display: block;
}
.socialicons.withtext li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px;
}
.socialicons.withtext li a {
  margin: 0 12px 0 0;
}

.fui .form-group,
.fui1 .form-group {
  margin-bottom: 20px;
}
.fui .form-group label,
.fui1 .form-group label {
  margin-bottom: 5px;
}
.fui .form-group.otpGroup,
.fui1 .form-group.otpGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fui .form-group.otpGroup input,
.fui1 .form-group.otpGroup input {
  margin: 0 5px;
  padding: 0 0;
  width: 30px;
  text-align: center;
}
.fui .search-box,
.fui1 .search-box {
  position: relative;
}
.fui .search-box .icon,
.fui .search-box .button,
.fui .search-box .btn,
.fui .search-box input[type=submit],
.fui .search-box input[type=button],
.fui .search-box button,
.fui1 .search-box .icon,
.fui1 .search-box .button,
.fui1 .search-box .btn,
.fui1 .search-box input[type=submit],
.fui1 .search-box input[type=button],
.fui1 .search-box button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: unset;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  width: 45px;
  font-size: 18px;
}
.fui .search-box .icon,
.fui1 .search-box .icon {
  color: rgba(0, 0, 0, 0.3);
}
.fui .search-box input[type=text],
.fui1 .search-box input[type=text] {
  padding-right: 74px !important;
}
.fui input:not([type=submit]), .fui textarea, .fui select,
.fui .form-control,
.fui1 input:not([type=submit]),
.fui1 textarea,
.fui1 select,
.fui1 .form-control {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  padding: 11px 12px;
  font-size: inherit;
  min-height: 45px;
}
.fui input[type=checkbox],
.fui input[type=radio],
.fui1 input[type=checkbox],
.fui1 input[type=radio] {
  min-height: 0px;
}

.fui2p input:not([type=submit]), .fui2p textarea, .fui2p select,
.fui2p .form-control,
.fui2r input:not([type=submit]),
.fui2r textarea,
.fui2r select,
.fui2r .form-control,
.fui2 input:not([type=submit]),
.fui2 textarea,
.fui2 select,
.fui2 .form-control {
  border-radius: unset;
  background: rgba(0, 0, 0, 0.06);
  border: unset;
}

.fui4r input:not([type=submit]), .fui4r textarea, .fui4r select,
.fui4r .form-control,
.fui2r input:not([type=submit]),
.fui2r textarea,
.fui2r select,
.fui2r .form-control,
.fui1r input:not([type=submit]),
.fui1r textarea,
.fui1r select,
.fui1r .form-control {
  border-radius: 6px;
}

.fui4p input:not([type=submit]), .fui4p textarea, .fui4p select,
.fui4p .form-control,
.fui2p input:not([type=submit]),
.fui2p textarea,
.fui2p select,
.fui2p .form-control,
.fui1p input:not([type=submit]),
.fui1p textarea,
.fui1p select,
.fui1p .form-control {
  border-radius: 45px;
  padding: 11px 20px;
}

.fui3 input:not([type=submit]), .fui3 textarea, .fui3 select,
.fui3 .form-control {
  border-top: unset !important;
  border-left: unset !important;
  border-right: unset !important;
  padding: 11px 0px;
}

.fui4p .form-group,
.fui4r .form-group,
.fui4 .form-group {
  position: relative;
}
.fui4p .form-group label,
.fui4r .form-group label,
.fui4 .form-group label {
  position: absolute;
  left: 13px;
  font-size: 12px;
  top: 5px;
  z-index: 1;
}
.fui4p .form-group input:not([type=submit]), .fui4p .form-group textarea, .fui4p .form-group select,
.fui4p .form-group .form-control,
.fui4r .form-group input:not([type=submit]),
.fui4r .form-group textarea,
.fui4r .form-group select,
.fui4r .form-group .form-control,
.fui4 .form-group input:not([type=submit]),
.fui4 .form-group textarea,
.fui4 .form-group select,
.fui4 .form-group .form-control {
  padding: 24px 12px 11px 12px;
}
.fui4p .form-group i.far.fa-eye-slash,
.fui4r .form-group i.far.fa-eye-slash,
.fui4 .form-group i.far.fa-eye-slash {
  position: absolute;
  right: 17px;
  top: calc(50% - 18px);
}

.mui {
  padding: 28px 20px 20px 20px;
  border: none;
  margin: auto;
  max-width: 100%;
}
.mui .close {
  position: absolute;
  right: 14px;
  top: 10px;
}
.mui .mheader, .mui .modal-header {
  padding-top: 0px;
}
.mui .mfooter, .mui .modal-footer {
  justify-content: center;
}
.mui .mbody p:last-child, .mui .modal-body p:last-child {
  margin-bottom: 0;
}
.mui.muis {
  box-shadow: 0 6px 6px 4px rgba(0, 0, 0, 0.04);
}
.mui.mui2 {
  border-radius: 0;
  border: none;
}
.mui.mui2 .mfooter, .mui.mui2 .modal-footer,
.mui.mui2 .mheader, .mui.mui2 .modal-header {
  border: none;
}
.mui.muic .mfooter, .mui.muic .modal-footer,
.mui.muic .mheader, .mui.muic .modal-header {
  text-align: center;
  justify-content: center;
}

.gotoparrow {
  display: none;
}

.scrolled .gotoparrow {
  position: fixed;
  right: 16px;
  bottom: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  width: 34px;
  z-index: 999;
  background: #ffffff;
  color: #007bff;
  text-decoration: none !important;
  font-size: 16px;
  flex-direction: column;
}
.scrolled .gotoparrow.type2, .scrolled .gotoparrow.style2 {
  border-radius: 100%;
  height: 45px;
  width: 45px;
}

.notify-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  background: #ffc107;
  color: #000000;
  position: relative;
}
.notify-bar .label {
  padding: 15px 20px;
  background: #f1b708;
  height: 100%;
  position: absolute;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  z-index: 9;
}
.notify-bar .nb-text,
.notify-bar marquee {
  padding: 15px 0;
}

.slicksliderui {
  max-height: 500px;
}
.slicksliderui .slick-dots li:only-child {
  display: none;
}
.slicksliderui .slider-item {
  max-height: 500px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.slicksliderui .slider-item .overlay, .slicksliderui .slider-item::before {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: inline-block;
  content: "";
}
.slicksliderui.arrowsin .slick-prev {
  left: 25px;
}
.slicksliderui.arrowsin .slick-next {
  right: 50px;
}
.slicksliderui .slick-slide img {
  width: 100%;
}
.slicksliderui .slick-arrow {
  z-index: 99;
}
.slicksliderui .slick-arrow.slick-prev, .slicksliderui .slick-arrow.slick-next {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: inline-block;
}
.slicksliderui .slick-arrow.slick-prev:before, .slicksliderui .slick-arrow.slick-next:before {
  font-family: "slick";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "‹";
  font-size: 44px;
  height: 25px;
  display: inline-block;
  width: 25px;
  line-height: 6px;
}
.slicksliderui .slick-arrow.slick-next:before {
  content: "›";
}
.slicksliderui [dir=rtl] .slick-prev:before {
  content: "›";
}
.slicksliderui [dir=rtl] .slick-next {
  left: -10px;
  top: 70px;
  right: auto;
}
.slicksliderui [dir=rtl] .slick-next:before {
  content: "‹";
}

.listing {
  padding: 5px 0;
  list-style: none;
  margin: 0;
  background-color: #ffffff;
}
.listing a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.listing a, .listing li, .listing .list-item {
  padding: 5px 15px;
}
.listing a a, .listing li a, .listing .list-item a {
  padding: 0 !important;
  border: unset !important;
}
.listing.type4, .listing.type3, .listing.type2 {
  padding: 0px;
}
.listing.type4 a, .listing.type4 li, .listing.type4 .list-item, .listing.type3 a, .listing.type3 li, .listing.type3 .list-item, .listing.type2 a, .listing.type2 li, .listing.type2 .list-item {
  border-top: 1px solid #cccccc;
  padding: 10px 15px;
}
.listing.type4 a:first-child, .listing.type4 li:first-child, .listing.type4 .list-item:first-child, .listing.type3 a:first-child, .listing.type3 li:first-child, .listing.type3 .list-item:first-child, .listing.type2 a:first-child, .listing.type2 li:first-child, .listing.type2 .list-item:first-child {
  border: unset !important;
}
.listing.type4 a:first-child, .listing.type4 li:first-child, .listing.type4 .list-item:first-child,
.listing.type4 a, .listing.type4 li, .listing.type4 .list-item, .listing.type3 a:first-child, .listing.type3 li:first-child, .listing.type3 .list-item:first-child,
.listing.type3 a, .listing.type3 li, .listing.type3 .list-item {
  border: 1px solid #cccccc !important;
  margin-top: -1px;
}
.listing.type4 a:first-child a, .listing.type4 li:first-child a, .listing.type4 .list-item:first-child a,
.listing.type4 a a, .listing.type4 li a, .listing.type4 .list-item a, .listing.type3 a:first-child a, .listing.type3 li:first-child a, .listing.type3 .list-item:first-child a,
.listing.type3 a a, .listing.type3 li a, .listing.type3 .list-item a {
  border: unset !important;
}
.listing.type4 {
  background: transparent;
}
.listing.type4 a:first-child, .listing.type4 li:first-child, .listing.type4 .list-item:first-child,
.listing.type4 a, .listing.type4 li, .listing.type4 .list-item {
  background: #fafafa;
  border-radius: 6px;
  margin-bottom: 10px;
  border: unset !important;
}
.listing.type4 a:hover,
.listing.type4 .list-item:hover,
.listing.type4 li:hover {
  background: rgba(248, 196, 52, 0.2);
}
.listing.licons a, .listing.licons li, .listing.licons .list-item {
  padding: 10px 10px 10px 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.listing.licons a a, .listing.licons li a, .listing.licons .list-item a {
  position: static;
}
.listing.licons a .alicon,
.listing.licons a i, .listing.licons li .alicon,
.listing.licons li i, .listing.licons .list-item .alicon,
.listing.licons .list-item i {
  width: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  align-items: center;
}

.fonticon-listing {
  padding: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
}
.fonticon-listing li {
  display: inline-flex;
  width: 43px;
  height: 43px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #666;
}
.fonticon-listing li i, .fonticon-listing li svg {
  margin: 0;
}
.fonticon-listing li span {
  font-size: 0;
}
.fonticon-listing li:hover {
  background-color: #efefef;
  cursor: pointer;
  color: #000;
}
.fonticon-listing li:hover span {
  position: absolute;
  font-size: 12px;
  z-index: 99;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px 8px;
  border-radius: 4px;
  top: 100%;
  text-align: center;
  min-width: 100px;
}

.btn-group.btn-ficon .bficon {
  display: flex;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  width: 45px;
  background: #fff;
  font-size: 20px;
}
.btn-group.btn-ficon .btn,
.btn-group.btn-ficon button {
  min-width: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.star_rating {
  cursor: pointer;
  margin-bottom: 5px;
}
.star_rating i.far {
  color: #ccc;
}
.star_rating i.fas {
  color: #ffaa00;
}

/* Scroll Down */
.mouse_scroll_down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -20px;
}
.mouse_scroll_down .scroller {
  width: 4px;
  height: 12px;
  border-radius: 100%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
.mouse_scroll_down .mouse {
  width: 40px;
  padding: 6px 16px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
}
.mouse_scroll_down .mouse.light {
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
}
.mouse_scroll_down .mouse.light.scroller {
  background: white;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  12% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
/*CSS Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  margin-right: 5px;
  margin-bottom: 0;
  top: -2px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

/*Tab Bar Design*/
.tab_bar_design {
  padding: 0px;
}
.tab_bar_design li {
  display: inline-block;
  text-align: center;
  width: 34px;
  margin: -8px 11px -4px 12px;
}
.tab_bar_design li a {
  background: #ccc;
  display: inline-block;
  width: 6px;
  height: 6px;
}
.tab_bar_design li a.active {
  width: 30px;
  height: 30px;
  background: #007bff;
  border: 12px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.tab_bar_design li:first-child {
  margin-left: 0;
}
.tab_bar_design li:last-child {
  margin-right: 0;
}

/*Background Full Image*/
.bg_image_full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  left: 0px;
}

.common-section-ui {
  padding: 80px 0 60px 0;
  position: relative;
}
.common-section-ui .section-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  line-height: 1.5em;
}

.site-footer,
.section-parallax {
  background-attachment: fixed;
  background-color: #000000;
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}
.site-footer .overlay_b,
.section-parallax .overlay_b {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/*Footer*/
.footer_style1 ul {
  padding: 0;
  list-style: none;
}
.footer_style1 ul li {
  padding: 5px 0;
}
.footer_style1 ul li a {
  text-decoration: none;
  color: #212121;
}

.site-footer {
  color: rgba(255, 255, 255, 0.78);
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.site-footer h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.site-footer p {
  color: rgba(255, 255, 255, 0.78);
}
.site-footer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.site-footer ul li a {
  color: rgba(255, 255, 255, 0.78);
  text-decoration: none;
}
.site-footer .copyright {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.accordion_design1 {
  margin-bottom: 50px;
}
.accordion_design1 .card {
  border: none;
}
.accordion_design1 .card .card-header {
  padding: 15px;
  border-radius: 4px;
  border: none;
  background: transparent;
}
.accordion_design1 .card .card-header .card-title {
  font-weight: 400;
}
.accordion_design1 .card .card-header h2 {
  font-size: 21px;
  font-weight: 600;
  color: #666460;
  cursor: pointer;
}
.accordion_design1 .card .card-header h2 .fa-chevron-down {
  display: none;
}
.accordion_design1 .card .card-header h2.collapsed .fa-minus {
  display: none;
}
.accordion_design1 .card .card-header h2.collapsed .fa-chevron-down {
  display: inline-block;
}
.accordion_design1 .card .card-body {
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
  color: #7a7a7a;
  padding: 15px;
}

.section-carousel .container-fluid {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.section-carousel .carousel-ui .img-card {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.section-carousel .carousel-ui .img-card p {
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 10px;
  color: #222;
  line-height: 1.4;
}
.section-carousel.three-carousel .main-heading-ui {
  margin-bottom: 50px;
}
.section-carousel.three-carousel .img-card h3 {
  font-size: 29px;
  font-weight: 500;
  font-style: normal;
  color: #0F77B7;
  margin-bottom: 18px;
}
.section-carousel.three-carousel .img-card p {
  font-style: normal;
  font-size: 17px;
  font-weight: 100;
  line-height: 1.5em;
  color: #54595F;
  margin-bottom: 25px;
}
.section-carousel .card-image {
  width: 100%;
  position: relative;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.section-carousel .card-image img {
  margin-bottom: 0;
  max-width: unset;
  width: 100% !important;
  height: auto;
}

.section-cardicons .card,
.section-cardlisting .card {
  padding: 0 5px;
}
.section-cardicons .card img,
.section-cardlisting .card img {
  margin-bottom: 40px;
}
.section-cardicons .card .card-image,
.section-cardlisting .card .card-image {
  width: 100%;
  position: relative;
  height: 280px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.section-cardicons .card .card-image img,
.section-cardlisting .card .card-image img {
  margin-bottom: 0;
  max-width: unset;
  width: 100% !important;
  height: auto;
}
.section-cardicons .card h3,
.section-cardlisting .card h3 {
  color: #000000;
  font-size: 29px;
  font-weight: 600;
  line-height: 1.3em;
}
.section-cardicons .card .numbers,
.section-cardlisting .card .numbers {
  color: #FF009C;
  font-family: "bebas-neue", Sans-serif;
  font-size: 85px;
  font-weight: 100;
}
.section-cardicons .card .description,
.section-cardlisting .card .description {
  color: #54595F;
  font-size: 17px;
  font-weight: 100;
  line-height: 1.5em;
}
.section-cardicons .card .card-icon,
.section-cardlisting .card .card-icon {
  height: 70px;
  width: 70px;
  font-size: 33px;
  padding: 13px 15px 15px 15px;
  background-color: transparent;
  background-image: linear-gradient(210deg, #CE04F4 0%, #FDB600 100%);
  border-radius: 50%;
  color: #ffffff;
  line-height: 45px;
  margin-bottom: 10px;
}

.loader {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader.loader-col {
  flex-direction: column;
}

.google_map {
  min-height: 500px;
}
.google_map.fullmap {
  width: 100%;
  height: 100%;
}
.google_map.bg_map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.quiz-ui {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 30px;
}
.quiz-ui .qf-status {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 11px;
  text-align: right;
}
.quiz-ui .qf-group {
  margin-bottom: 24px;
}
.quiz-ui .qf-question {
  font-size: 20px;
  margin-bottom: 20px;
}
.quiz-ui .qf-options {
  margin-bottom: 10px;
}
.quiz-ui .qf-options label {
  background: #f3f3f3;
  border-radius: 5px;
  font-size: 14px;
  margin: 0px;
  padding: 10px 15px;
  display: block;
  cursor: pointer;
  border: 1px solid #f3f3f3;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.quiz-ui .qf-options label input {
  visibility: hidden;
  width: 0;
  height: 0;
}
.quiz-ui .qf-options label:hover {
  border: 1px solid #16c79a;
  background: #fff;
}
.quiz-ui .qf-options label.active {
  border: 1px solid #16c79a;
  background: #16c79a;
}
.quiz-ui .qf-actions {
  display: flex;
  justify-content: space-between;
}
.quiz-ui .qf-actions .btn {
  height: 43px;
  padding: 5px;
  font-size: 14px;
}

/*Responsive*/
@media all and (min-width: 787px) {
  .scrolled header {
    background: #ffffff;
  }

  .scrolled .go_top_arrow {
    display: block;
    bottom: 10px;
    right: 10px;
  }
}
/*Tablet*/
@media all and (max-width: 786px) {
  .navbar-toggler {
    background: #fff;
    border: 1px solid #ccc;
    padding: 2px 3px 3px 3px;
    left: 10px;
    top: 10px;
    position: fixed;
    z-index: 99;
  }

  .navbar-toggler-icon {
    font-size: 20px;
    padding: 6px 5px;
  }

  .header_mobile_control {
    position: absolute;
    top: 14px;
  }

  .logo_text {
    text-align: right;
  }

  header .navbar.navbar-expand-lg {
    float: left;
  }

  header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 15px !important;
    display: block;
    text-align: left;
    border-top: 1px solid #f2f2f2;
    color: #343a40 !important;
  }

  .navbar-collapse {
    display: block !important;
  }

  .navbar.navbar-expand-lg .navbar-collapse {
    max-width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff !important;
    box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 0px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }

  .navbar.navbar-expand-lg .navbar-collapse ul.navbar-nav {
    background: #fff;
    min-height: 100vh;
    padding: 57px 0 0 0 !important;
    height: 100%;
  }

  .navbar.navbar-expand-lg .navbar-collapse::after {
    position: fixed;
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }

  .navbar.navbar-expand-lg .navbar-collapse.show {
    width: 300px;
    overflow: visible;
  }

  .header_mobile_control .navbar.navbar-expand-lg {
    width: 100%;
  }

  .header_mobile_control .navbar.navbar-expand-lg #navbarNavDropdown {
    background: #fff;
    padding: 0 0 30px 0;
  }
}
/*Mobile Responsive*/
@media all and (max-width: 500px) {
  .col,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  header#main_header {
    position: fixed !important;
  }

  .logo_wr {
    margin: 10px 0;
  }

  .scrolled a.nav-link,
.header_menus .nav-link {
    padding: 10px !important;
  }

  div.city_select {
    width: 100%;
    margin: 0;
  }

  .header_btn_wr .btn {
    display: inline-block;
    width: 100%;
    margin: 10px 0 0px 0;
  }

  .home_banner h1 {
    margin: 0;
    font-size: 25px;
  }

  .home_banner h1 span.small {
    margin: 5px 0 10px 0;
    font-size: 20px;
    line-height: 24px;
  }

  .page-main-heading {
    padding: 10px 0;
    font-size: 25px;
    margin: 10px auto;
  }

  #homesearchtabcontentwr {
    width: 100%;
    margin: 10px 0;
  }

  #homesearchtabcontentwr ul {
    text-align: center;
    display: flex;
    border: none;
    margin-bottom: 7px;
  }

  #homesearchtabcontentwr ul li {
    display: inline-flex;
    width: 50%;
  }

  #homesearchtabcontentwr .nav-tabs .nav-link svg {
    width: 100%;
  }

  #homesearchtabcontentwr .nav-tabs .nav-link {
    padding: 5px 15px;
    width: auto;
    margin-bottom: 15px;
  }

  .form_advance_filter {
    padding: 0;
    background: transparent;
    border: none;
  }

  .form_advance_filter .col {
    margin-bottom: 10px;
  }

  .form_advance_filter .custom-select, .form_advance_filter .form-control {
    margin-bottom: 15px;
  }

  .home_banner {
    /*min-height: 0;*/
    padding-bottom: 30px;
  }

  section.how_it_works {
    padding: 30px 0;
  }

  .main-heading {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .how_it_works_list span::after {
    display: none;
  }

  .how_it_works_list {
    padding: 10px;
    margin-bottom: -2px;
    box-shadow: none;
  }

  .how_it_works_list span {
    position: static;
    height: auto;
    line-height: 35px;
    width: 100%;
    display: block;
    margin-bottom: 12px;
  }

  .how_it_works h3 {
    margin-top: 20px;
  }

  .update_wr {
    max-width: 100%;
  }

  .latest_update2.slider_arrow_design .slick-prev {
    left: 15px;
    top: 30px;
  }

  .latest_update2.slider_arrow_design .slick-next {
    right: 15px;
    top: 30px;
  }

  .testimonials_wr p {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonials_wr span.before_quote {
    font-size: 30px !important;
    left: 2px;
    top: -5px;
  }

  .testimonials_wr span.after_quote {
    font-size: 30px !important;
  }

  .slider_arrow_design .slick-prev {
    left: 2px;
    top: 80px;
  }

  .slider_arrow_design .slick-next {
    right: 2px;
    top: 80px;
  }

  footer.footer-section .footer-part1 {
    padding: 30px 0;
    text-align: center;
  }

  .footer-part1 .col-md-3 {
    margin-bottom: 15px;
  }

  .footer-part2 .col-md-4.text-right,
.footer-part2 .col-md-4.text-left {
    text-align: center !important;
    display: block;
  }

  footer.footer-section .social_links a {
    display: inline-block;
    padding: 12px 0;
    font-size: 16px;
    width: 20%;
  }

  form.form_contant {
    background: #fff;
    padding: 20px;
    margin-top: -118px;
    margin-left: -161px;
  }

  .page_content_section .page_content {
    padding: 30px 10px 15px 10px !important;
  }

  .faq_vertical_menus {
    width: 100%;
    position: static;
    left: 0;
    margin-bottom: 15px;
  }
}
.repeaterContainer {
  padding-bottom: 40px;
  position: relative;
}
.repeaterContainer .items {
  position: relative;
  padding-right: 30px;
}
.repeaterContainer .items button,
.repeaterContainer .items .btn {
  position: absolute;
  color: #dc3545;
  border: 0px;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: transparent;
}
.repeaterContainer .items button:disabled,
.repeaterContainer .items .btn:disabled {
  opacity: 0.3;
  cursor: default;
}
.repeaterContainer .repeaterActions {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  bottom: 0px;
}
.repeaterContainer .repeaterActions .btn:first-child {
  margin-right: 5px;
}

/*# sourceMappingURL=components.css.map */
