/* Heading Color:  #E6236F */
/* Text Color:  #333333 */

header .navbar.navbar-expand-lg .navbar-nav .nav-item.show a.nav-link, header .navbar.navbar-expand-lg .navbar-nav .nav-item:hover a.nav-link, header .navbar.navbar-expand-lg .navbar-nav .nav-item.active a.nav-link,
.text-primary,
.accordion.accordion-ui1 .card .card-header a.collapsed .card-count,
.text_primary {
    color:#E6236F !important;
}

.accordion.accordion-ui1 .card .card-header a.collapsed,
.bg-light-primary {
    background-color:rgba(230, 35, 111, 0.1);
}

.btn-primary {
    background-color:#E6236F;
    border:none;
}

.accordion.accordion-ui1 .card .card-header a,
section.banner-section .banner-card:before {
    background-color:#E6236F;
}

.accordion.accordion-ui1 .card .card-header a.collapsed .card-count {
    border-color:#E6236F;
}

.heading_font {
    font-family: 'Open Sans Condensed', sans-serif;
} 

/* Logo */
.site_logo {
    font-family: 'BenchNine', sans-serif;
}

.site_logo .tag_line {
    font-family: Open Sans Condensed;
    position: relative;
    left: 2px;
}

.main_heading {
    font-family: roboto;
    text-transform: uppercase;
}
.main_heading span:nth-child(1) {
    color: #00ff3a;
    font-weight: bold;
}

.main_heading span:nth-child(3) {
    color: #fffb00;
    font-weight: bold;
}

section.banner-section:before {
    content: "";
    background-image: linear-gradient(to right, #149c9c, #bb381a);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

section.banner-section .container{
    z-index: 1;
}