@media all and (max-width: 1024px) {
  .site-header .container-fluid.px_50 {
    padding: 0 15px;
  }

  header .navbar.navbar-expand-lg {
    height: 100%;
  }

  header .navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px !important;
  }

  .filter-items .card {
    max-height: 170px;
  }

  .heading_style.f34 {
    font-size: 28px;
  }

  .common-section-ui.pt_50,
  .common-section-ui.pt_60 {
    padding-top: 40px;
  }

  .common-section-ui.pb_50,
  .common-section-ui.pb_60 {
    padding-bottom: 40px;
  }

  .card.cui1c .ctitle, .card.cui1c .card-title, .card.cui1 .ctitle, .card.cui1 .card-title {
    margin-bottom: 10px;
  }
  .section-cardicons .card img, .section-cardlisting .card img {
    margin-bottom: 20px;
  }

}

/* mega menus starts */
@media all and (max-width: 991px) {
  .site-header .container-fluid.px_50 {
    padding: 0 15px 0 64px;
  }

  .navbar-toggler {
    top:20px;
  }

  header .navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    margin: 0px !important;
  }

  .site-header .contact-info {
    position: fixed;
    top: 28px;
    right: 10px;
    z-index: 2;
  }
}

@media all and (max-width: 768px) { 
  .navbar-toggler {
    top:10px;
  }

  .home-slider.mt_80 {
    margin-top: 63px;
  }
  .site-header .contact-info {
    top: 23px;
  }

  .site-header .site-logo {
    max-height: 40px;
  }
}

@media all and (max-width: 640px) { 
  .site-header .contact-info {
    display: none;
  }

  .logo_wr {
    margin: 0;
    text-align: center;
    margin-left: -45px;
  }
}