* {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: #494949;
}

.link,
a {
  color: #007bff;
}

p {
  margin-bottom: 20px;
}

/*Text Decoration*/
.tdn {
  text-decoration: none !important;
}

/*Display*/
.d_block {
  display: block;
}

.d_none {
  display: none;
}

.d_flex {
  display: flex;
}

.d_i_block {
  display: inline-block;
}

/*Display with Important;*/
.d_blocki {
  display: block !important;
}

.d_nonei {
  display: none !important;
}

.d_flexi {
  display: flex !important;
}

.d_i_blocki {
  display: inline-block !important;
}

/*Element Center*/
.mx_auto {
  margin: 0 auto;
}

.mx_auto_i {
  margin: 0 auto !important;
}

/*Container*/
.container_600px {
  max-width: 600px;
}

.container_650px {
  max-width: 650px;
}

.container_700px {
  max-width: 700px;
}

.container_750px {
  max-width: 750px;
}

.container_800px {
  max-width: 800px;
}

.container_850px {
  max-width: 850px;
}

.container_900px {
  max-width: 900px;
}

.container_950px {
  max-width: 950px;
}

.container_1000px {
  max-width: 1000px;
}

.container_1050px {
  max-width: 1050px;
}

/* value */
.ptb_0_0 {
  padding-top: 0;
  padding-bottom: 0;
}

.mtb_0_0 {
  margin-top: 0;
  margin-bottom: 0;
}

.pl_0 {
  padding-left: 0;
}

.pr_0 {
  padding-right: 0;
}

.pt_0 {
  padding-top: 0;
}

.pb_0 {
  padding-bottom: 0;
}

.pli_0 {
  padding-left: 0 !important;
}

.pri_0 {
  padding-right: 0 !important;
}

.pti_0 {
  padding-top: 0 !important;
}

.pbi_0 {
  padding-bottom: 0 !important;
}

.plr_0 {
  padding-left: 0;
  padding-right: 0;
}

.mt_0 {
  margin-top: 0;
}

.ml_0 {
  margin-left: 0;
}

.mr_0 {
  margin-right: 0;
}

.mb_0 {
  margin-bottom: 0;
}

.mtn_0 {
  margin-top: 0;
}

.mln_0 {
  margin-left: 0;
}

.mrn_0 {
  margin-right: 0;
}

.mbn_0 {
  margin-bottom: 0;
}

.mlr_0 {
  margin-left: 0;
  margin-right: 0;
}

.ptb_5_0 {
  padding-top: 5;
  padding-bottom: 0;
}

.mtb_5_0 {
  margin-top: 5;
  margin-bottom: 0;
}

.ptb_5_5 {
  padding-top: 5;
  padding-bottom: 5;
}

.mtb_5_5 {
  margin-top: 5;
  margin-bottom: 5;
}

.pl_5 {
  padding-left: 5;
}

.pr_5 {
  padding-right: 5;
}

.pt_5 {
  padding-top: 5;
}

.pb_5 {
  padding-bottom: 5;
}

.pli_5 {
  padding-left: 5 !important;
}

.pri_5 {
  padding-right: 5 !important;
}

.pti_5 {
  padding-top: 5 !important;
}

.pbi_5 {
  padding-bottom: 5 !important;
}

.plr_5 {
  padding-left: 5;
  padding-right: 5;
}

.mt_5 {
  margin-top: 5;
}

.ml_5 {
  margin-left: 5;
}

.mr_5 {
  margin-right: 5;
}

.mb_5 {
  margin-bottom: 5;
}

.mtn_5 {
  margin-top: -5;
}

.mln_5 {
  margin-left: -5;
}

.mrn_5 {
  margin-right: -5;
}

.mbn_5 {
  margin-bottom: -5;
}

.mlr_5 {
  margin-left: 5;
  margin-right: 5;
}

.ptb_10_0 {
  padding-top: 10;
  padding-bottom: 0;
}

.mtb_10_0 {
  margin-top: 10;
  margin-bottom: 0;
}

.ptb_10_5 {
  padding-top: 10;
  padding-bottom: 5;
}

.mtb_10_5 {
  margin-top: 10;
  margin-bottom: 5;
}

.ptb_10_10 {
  padding-top: 10;
  padding-bottom: 10;
}

.mtb_10_10 {
  margin-top: 10;
  margin-bottom: 10;
}

.pl_10 {
  padding-left: 10;
}

.pr_10 {
  padding-right: 10;
}

.pt_10 {
  padding-top: 10;
}

.pb_10 {
  padding-bottom: 10;
}

.pli_10 {
  padding-left: 10 !important;
}

.pri_10 {
  padding-right: 10 !important;
}

.pti_10 {
  padding-top: 10 !important;
}

.pbi_10 {
  padding-bottom: 10 !important;
}

.plr_10 {
  padding-left: 10;
  padding-right: 10;
}

.mt_10 {
  margin-top: 10;
}

.ml_10 {
  margin-left: 10;
}

.mr_10 {
  margin-right: 10;
}

.mb_10 {
  margin-bottom: 10;
}

.mtn_10 {
  margin-top: -10;
}

.mln_10 {
  margin-left: -10;
}

.mrn_10 {
  margin-right: -10;
}

.mbn_10 {
  margin-bottom: -10;
}

.mlr_10 {
  margin-left: 10;
  margin-right: 10;
}

.ptb_15_0 {
  padding-top: 15;
  padding-bottom: 0;
}

.mtb_15_0 {
  margin-top: 15;
  margin-bottom: 0;
}

.ptb_15_5 {
  padding-top: 15;
  padding-bottom: 5;
}

.mtb_15_5 {
  margin-top: 15;
  margin-bottom: 5;
}

.ptb_15_10 {
  padding-top: 15;
  padding-bottom: 10;
}

.mtb_15_10 {
  margin-top: 15;
  margin-bottom: 10;
}

.ptb_15_15 {
  padding-top: 15;
  padding-bottom: 15;
}

.mtb_15_15 {
  margin-top: 15;
  margin-bottom: 15;
}

.pl_15 {
  padding-left: 15;
}

.pr_15 {
  padding-right: 15;
}

.pt_15 {
  padding-top: 15;
}

.pb_15 {
  padding-bottom: 15;
}

.pli_15 {
  padding-left: 15 !important;
}

.pri_15 {
  padding-right: 15 !important;
}

.pti_15 {
  padding-top: 15 !important;
}

.pbi_15 {
  padding-bottom: 15 !important;
}

.plr_15 {
  padding-left: 15;
  padding-right: 15;
}

.mt_15 {
  margin-top: 15;
}

.ml_15 {
  margin-left: 15;
}

.mr_15 {
  margin-right: 15;
}

.mb_15 {
  margin-bottom: 15;
}

.mtn_15 {
  margin-top: -15;
}

.mln_15 {
  margin-left: -15;
}

.mrn_15 {
  margin-right: -15;
}

.mbn_15 {
  margin-bottom: -15;
}

.mlr_15 {
  margin-left: 15;
  margin-right: 15;
}

.ptb_20_0 {
  padding-top: 20;
  padding-bottom: 0;
}

.mtb_20_0 {
  margin-top: 20;
  margin-bottom: 0;
}

.ptb_20_5 {
  padding-top: 20;
  padding-bottom: 5;
}

.mtb_20_5 {
  margin-top: 20;
  margin-bottom: 5;
}

.ptb_20_10 {
  padding-top: 20;
  padding-bottom: 10;
}

.mtb_20_10 {
  margin-top: 20;
  margin-bottom: 10;
}

.ptb_20_15 {
  padding-top: 20;
  padding-bottom: 15;
}

.mtb_20_15 {
  margin-top: 20;
  margin-bottom: 15;
}

.ptb_20_20 {
  padding-top: 20;
  padding-bottom: 20;
}

.mtb_20_20 {
  margin-top: 20;
  margin-bottom: 20;
}

.pl_20 {
  padding-left: 20;
}

.pr_20 {
  padding-right: 20;
}

.pt_20 {
  padding-top: 20;
}

.pb_20 {
  padding-bottom: 20;
}

.pli_20 {
  padding-left: 20 !important;
}

.pri_20 {
  padding-right: 20 !important;
}

.pti_20 {
  padding-top: 20 !important;
}

.pbi_20 {
  padding-bottom: 20 !important;
}

.plr_20 {
  padding-left: 20;
  padding-right: 20;
}

.mt_20 {
  margin-top: 20;
}

.ml_20 {
  margin-left: 20;
}

.mr_20 {
  margin-right: 20;
}

.mb_20 {
  margin-bottom: 20;
}

.mtn_20 {
  margin-top: -20;
}

.mln_20 {
  margin-left: -20;
}

.mrn_20 {
  margin-right: -20;
}

.mbn_20 {
  margin-bottom: -20;
}

.mlr_20 {
  margin-left: 20;
  margin-right: 20;
}

.ptb_25_0 {
  padding-top: 25;
  padding-bottom: 0;
}

.mtb_25_0 {
  margin-top: 25;
  margin-bottom: 0;
}

.ptb_25_5 {
  padding-top: 25;
  padding-bottom: 5;
}

.mtb_25_5 {
  margin-top: 25;
  margin-bottom: 5;
}

.ptb_25_10 {
  padding-top: 25;
  padding-bottom: 10;
}

.mtb_25_10 {
  margin-top: 25;
  margin-bottom: 10;
}

.ptb_25_15 {
  padding-top: 25;
  padding-bottom: 15;
}

.mtb_25_15 {
  margin-top: 25;
  margin-bottom: 15;
}

.ptb_25_20 {
  padding-top: 25;
  padding-bottom: 20;
}

.mtb_25_20 {
  margin-top: 25;
  margin-bottom: 20;
}

.ptb_25_25 {
  padding-top: 25;
  padding-bottom: 25;
}

.mtb_25_25 {
  margin-top: 25;
  margin-bottom: 25;
}

.pl_25 {
  padding-left: 25;
}

.pr_25 {
  padding-right: 25;
}

.pt_25 {
  padding-top: 25;
}

.pb_25 {
  padding-bottom: 25;
}

.pli_25 {
  padding-left: 25 !important;
}

.pri_25 {
  padding-right: 25 !important;
}

.pti_25 {
  padding-top: 25 !important;
}

.pbi_25 {
  padding-bottom: 25 !important;
}

.plr_25 {
  padding-left: 25;
  padding-right: 25;
}

.mt_25 {
  margin-top: 25;
}

.ml_25 {
  margin-left: 25;
}

.mr_25 {
  margin-right: 25;
}

.mb_25 {
  margin-bottom: 25;
}

.mtn_25 {
  margin-top: -25;
}

.mln_25 {
  margin-left: -25;
}

.mrn_25 {
  margin-right: -25;
}

.mbn_25 {
  margin-bottom: -25;
}

.mlr_25 {
  margin-left: 25;
  margin-right: 25;
}

.ptb_30_0 {
  padding-top: 30;
  padding-bottom: 0;
}

.mtb_30_0 {
  margin-top: 30;
  margin-bottom: 0;
}

.ptb_30_5 {
  padding-top: 30;
  padding-bottom: 5;
}

.mtb_30_5 {
  margin-top: 30;
  margin-bottom: 5;
}

.ptb_30_10 {
  padding-top: 30;
  padding-bottom: 10;
}

.mtb_30_10 {
  margin-top: 30;
  margin-bottom: 10;
}

.ptb_30_15 {
  padding-top: 30;
  padding-bottom: 15;
}

.mtb_30_15 {
  margin-top: 30;
  margin-bottom: 15;
}

.ptb_30_20 {
  padding-top: 30;
  padding-bottom: 20;
}

.mtb_30_20 {
  margin-top: 30;
  margin-bottom: 20;
}

.ptb_30_25 {
  padding-top: 30;
  padding-bottom: 25;
}

.mtb_30_25 {
  margin-top: 30;
  margin-bottom: 25;
}

.ptb_30_30 {
  padding-top: 30;
  padding-bottom: 30;
}

.mtb_30_30 {
  margin-top: 30;
  margin-bottom: 30;
}

.pl_30 {
  padding-left: 30;
}

.pr_30 {
  padding-right: 30;
}

.pt_30 {
  padding-top: 30;
}

.pb_30 {
  padding-bottom: 30;
}

.pli_30 {
  padding-left: 30 !important;
}

.pri_30 {
  padding-right: 30 !important;
}

.pti_30 {
  padding-top: 30 !important;
}

.pbi_30 {
  padding-bottom: 30 !important;
}

.plr_30 {
  padding-left: 30;
  padding-right: 30;
}

.mt_30 {
  margin-top: 30;
}

.ml_30 {
  margin-left: 30;
}

.mr_30 {
  margin-right: 30;
}

.mb_30 {
  margin-bottom: 30;
}

.mtn_30 {
  margin-top: -30;
}

.mln_30 {
  margin-left: -30;
}

.mrn_30 {
  margin-right: -30;
}

.mbn_30 {
  margin-bottom: -30;
}

.mlr_30 {
  margin-left: 30;
  margin-right: 30;
}

.ptb_35_0 {
  padding-top: 35;
  padding-bottom: 0;
}

.mtb_35_0 {
  margin-top: 35;
  margin-bottom: 0;
}

.ptb_35_5 {
  padding-top: 35;
  padding-bottom: 5;
}

.mtb_35_5 {
  margin-top: 35;
  margin-bottom: 5;
}

.ptb_35_10 {
  padding-top: 35;
  padding-bottom: 10;
}

.mtb_35_10 {
  margin-top: 35;
  margin-bottom: 10;
}

.ptb_35_15 {
  padding-top: 35;
  padding-bottom: 15;
}

.mtb_35_15 {
  margin-top: 35;
  margin-bottom: 15;
}

.ptb_35_20 {
  padding-top: 35;
  padding-bottom: 20;
}

.mtb_35_20 {
  margin-top: 35;
  margin-bottom: 20;
}

.ptb_35_25 {
  padding-top: 35;
  padding-bottom: 25;
}

.mtb_35_25 {
  margin-top: 35;
  margin-bottom: 25;
}

.ptb_35_30 {
  padding-top: 35;
  padding-bottom: 30;
}

.mtb_35_30 {
  margin-top: 35;
  margin-bottom: 30;
}

.ptb_35_35 {
  padding-top: 35;
  padding-bottom: 35;
}

.mtb_35_35 {
  margin-top: 35;
  margin-bottom: 35;
}

.pl_35 {
  padding-left: 35;
}

.pr_35 {
  padding-right: 35;
}

.pt_35 {
  padding-top: 35;
}

.pb_35 {
  padding-bottom: 35;
}

.pli_35 {
  padding-left: 35 !important;
}

.pri_35 {
  padding-right: 35 !important;
}

.pti_35 {
  padding-top: 35 !important;
}

.pbi_35 {
  padding-bottom: 35 !important;
}

.plr_35 {
  padding-left: 35;
  padding-right: 35;
}

.mt_35 {
  margin-top: 35;
}

.ml_35 {
  margin-left: 35;
}

.mr_35 {
  margin-right: 35;
}

.mb_35 {
  margin-bottom: 35;
}

.mtn_35 {
  margin-top: -35;
}

.mln_35 {
  margin-left: -35;
}

.mrn_35 {
  margin-right: -35;
}

.mbn_35 {
  margin-bottom: -35;
}

.mlr_35 {
  margin-left: 35;
  margin-right: 35;
}

.ptb_40_0 {
  padding-top: 40;
  padding-bottom: 0;
}

.mtb_40_0 {
  margin-top: 40;
  margin-bottom: 0;
}

.ptb_40_5 {
  padding-top: 40;
  padding-bottom: 5;
}

.mtb_40_5 {
  margin-top: 40;
  margin-bottom: 5;
}

.ptb_40_10 {
  padding-top: 40;
  padding-bottom: 10;
}

.mtb_40_10 {
  margin-top: 40;
  margin-bottom: 10;
}

.ptb_40_15 {
  padding-top: 40;
  padding-bottom: 15;
}

.mtb_40_15 {
  margin-top: 40;
  margin-bottom: 15;
}

.ptb_40_20 {
  padding-top: 40;
  padding-bottom: 20;
}

.mtb_40_20 {
  margin-top: 40;
  margin-bottom: 20;
}

.ptb_40_25 {
  padding-top: 40;
  padding-bottom: 25;
}

.mtb_40_25 {
  margin-top: 40;
  margin-bottom: 25;
}

.ptb_40_30 {
  padding-top: 40;
  padding-bottom: 30;
}

.mtb_40_30 {
  margin-top: 40;
  margin-bottom: 30;
}

.ptb_40_35 {
  padding-top: 40;
  padding-bottom: 35;
}

.mtb_40_35 {
  margin-top: 40;
  margin-bottom: 35;
}

.ptb_40_40 {
  padding-top: 40;
  padding-bottom: 40;
}

.mtb_40_40 {
  margin-top: 40;
  margin-bottom: 40;
}

.pl_40 {
  padding-left: 40;
}

.pr_40 {
  padding-right: 40;
}

.pt_40 {
  padding-top: 40;
}

.pb_40 {
  padding-bottom: 40;
}

.pli_40 {
  padding-left: 40 !important;
}

.pri_40 {
  padding-right: 40 !important;
}

.pti_40 {
  padding-top: 40 !important;
}

.pbi_40 {
  padding-bottom: 40 !important;
}

.plr_40 {
  padding-left: 40;
  padding-right: 40;
}

.mt_40 {
  margin-top: 40;
}

.ml_40 {
  margin-left: 40;
}

.mr_40 {
  margin-right: 40;
}

.mb_40 {
  margin-bottom: 40;
}

.mtn_40 {
  margin-top: -40;
}

.mln_40 {
  margin-left: -40;
}

.mrn_40 {
  margin-right: -40;
}

.mbn_40 {
  margin-bottom: -40;
}

.mlr_40 {
  margin-left: 40;
  margin-right: 40;
}

.ptb_45_0 {
  padding-top: 45;
  padding-bottom: 0;
}

.mtb_45_0 {
  margin-top: 45;
  margin-bottom: 0;
}

.ptb_45_5 {
  padding-top: 45;
  padding-bottom: 5;
}

.mtb_45_5 {
  margin-top: 45;
  margin-bottom: 5;
}

.ptb_45_10 {
  padding-top: 45;
  padding-bottom: 10;
}

.mtb_45_10 {
  margin-top: 45;
  margin-bottom: 10;
}

.ptb_45_15 {
  padding-top: 45;
  padding-bottom: 15;
}

.mtb_45_15 {
  margin-top: 45;
  margin-bottom: 15;
}

.ptb_45_20 {
  padding-top: 45;
  padding-bottom: 20;
}

.mtb_45_20 {
  margin-top: 45;
  margin-bottom: 20;
}

.ptb_45_25 {
  padding-top: 45;
  padding-bottom: 25;
}

.mtb_45_25 {
  margin-top: 45;
  margin-bottom: 25;
}

.ptb_45_30 {
  padding-top: 45;
  padding-bottom: 30;
}

.mtb_45_30 {
  margin-top: 45;
  margin-bottom: 30;
}

.ptb_45_35 {
  padding-top: 45;
  padding-bottom: 35;
}

.mtb_45_35 {
  margin-top: 45;
  margin-bottom: 35;
}

.ptb_45_40 {
  padding-top: 45;
  padding-bottom: 40;
}

.mtb_45_40 {
  margin-top: 45;
  margin-bottom: 40;
}

.ptb_45_45 {
  padding-top: 45;
  padding-bottom: 45;
}

.mtb_45_45 {
  margin-top: 45;
  margin-bottom: 45;
}

.pl_45 {
  padding-left: 45;
}

.pr_45 {
  padding-right: 45;
}

.pt_45 {
  padding-top: 45;
}

.pb_45 {
  padding-bottom: 45;
}

.pli_45 {
  padding-left: 45 !important;
}

.pri_45 {
  padding-right: 45 !important;
}

.pti_45 {
  padding-top: 45 !important;
}

.pbi_45 {
  padding-bottom: 45 !important;
}

.plr_45 {
  padding-left: 45;
  padding-right: 45;
}

.mt_45 {
  margin-top: 45;
}

.ml_45 {
  margin-left: 45;
}

.mr_45 {
  margin-right: 45;
}

.mb_45 {
  margin-bottom: 45;
}

.mtn_45 {
  margin-top: -45;
}

.mln_45 {
  margin-left: -45;
}

.mrn_45 {
  margin-right: -45;
}

.mbn_45 {
  margin-bottom: -45;
}

.mlr_45 {
  margin-left: 45;
  margin-right: 45;
}

.ptb_50_0 {
  padding-top: 50;
  padding-bottom: 0;
}

.mtb_50_0 {
  margin-top: 50;
  margin-bottom: 0;
}

.ptb_50_5 {
  padding-top: 50;
  padding-bottom: 5;
}

.mtb_50_5 {
  margin-top: 50;
  margin-bottom: 5;
}

.ptb_50_10 {
  padding-top: 50;
  padding-bottom: 10;
}

.mtb_50_10 {
  margin-top: 50;
  margin-bottom: 10;
}

.ptb_50_15 {
  padding-top: 50;
  padding-bottom: 15;
}

.mtb_50_15 {
  margin-top: 50;
  margin-bottom: 15;
}

.ptb_50_20 {
  padding-top: 50;
  padding-bottom: 20;
}

.mtb_50_20 {
  margin-top: 50;
  margin-bottom: 20;
}

.ptb_50_25 {
  padding-top: 50;
  padding-bottom: 25;
}

.mtb_50_25 {
  margin-top: 50;
  margin-bottom: 25;
}

.ptb_50_30 {
  padding-top: 50;
  padding-bottom: 30;
}

.mtb_50_30 {
  margin-top: 50;
  margin-bottom: 30;
}

.ptb_50_35 {
  padding-top: 50;
  padding-bottom: 35;
}

.mtb_50_35 {
  margin-top: 50;
  margin-bottom: 35;
}

.ptb_50_40 {
  padding-top: 50;
  padding-bottom: 40;
}

.mtb_50_40 {
  margin-top: 50;
  margin-bottom: 40;
}

.ptb_50_45 {
  padding-top: 50;
  padding-bottom: 45;
}

.mtb_50_45 {
  margin-top: 50;
  margin-bottom: 45;
}

.ptb_50_50 {
  padding-top: 50;
  padding-bottom: 50;
}

.mtb_50_50 {
  margin-top: 50;
  margin-bottom: 50;
}

.pl_50 {
  padding-left: 50;
}

.pr_50 {
  padding-right: 50;
}

.pt_50 {
  padding-top: 50;
}

.pb_50 {
  padding-bottom: 50;
}

.pli_50 {
  padding-left: 50 !important;
}

.pri_50 {
  padding-right: 50 !important;
}

.pti_50 {
  padding-top: 50 !important;
}

.pbi_50 {
  padding-bottom: 50 !important;
}

.plr_50 {
  padding-left: 50;
  padding-right: 50;
}

.mt_50 {
  margin-top: 50;
}

.ml_50 {
  margin-left: 50;
}

.mr_50 {
  margin-right: 50;
}

.mb_50 {
  margin-bottom: 50;
}

.mtn_50 {
  margin-top: -50;
}

.mln_50 {
  margin-left: -50;
}

.mrn_50 {
  margin-right: -50;
}

.mbn_50 {
  margin-bottom: -50;
}

.mlr_50 {
  margin-left: 50;
  margin-right: 50;
}

.ptb_55_0 {
  padding-top: 55;
  padding-bottom: 0;
}

.mtb_55_0 {
  margin-top: 55;
  margin-bottom: 0;
}

.ptb_55_5 {
  padding-top: 55;
  padding-bottom: 5;
}

.mtb_55_5 {
  margin-top: 55;
  margin-bottom: 5;
}

.ptb_55_10 {
  padding-top: 55;
  padding-bottom: 10;
}

.mtb_55_10 {
  margin-top: 55;
  margin-bottom: 10;
}

.ptb_55_15 {
  padding-top: 55;
  padding-bottom: 15;
}

.mtb_55_15 {
  margin-top: 55;
  margin-bottom: 15;
}

.ptb_55_20 {
  padding-top: 55;
  padding-bottom: 20;
}

.mtb_55_20 {
  margin-top: 55;
  margin-bottom: 20;
}

.ptb_55_25 {
  padding-top: 55;
  padding-bottom: 25;
}

.mtb_55_25 {
  margin-top: 55;
  margin-bottom: 25;
}

.ptb_55_30 {
  padding-top: 55;
  padding-bottom: 30;
}

.mtb_55_30 {
  margin-top: 55;
  margin-bottom: 30;
}

.ptb_55_35 {
  padding-top: 55;
  padding-bottom: 35;
}

.mtb_55_35 {
  margin-top: 55;
  margin-bottom: 35;
}

.ptb_55_40 {
  padding-top: 55;
  padding-bottom: 40;
}

.mtb_55_40 {
  margin-top: 55;
  margin-bottom: 40;
}

.ptb_55_45 {
  padding-top: 55;
  padding-bottom: 45;
}

.mtb_55_45 {
  margin-top: 55;
  margin-bottom: 45;
}

.ptb_55_50 {
  padding-top: 55;
  padding-bottom: 50;
}

.mtb_55_50 {
  margin-top: 55;
  margin-bottom: 50;
}

.ptb_55_55 {
  padding-top: 55;
  padding-bottom: 55;
}

.mtb_55_55 {
  margin-top: 55;
  margin-bottom: 55;
}

.pl_55 {
  padding-left: 55;
}

.pr_55 {
  padding-right: 55;
}

.pt_55 {
  padding-top: 55;
}

.pb_55 {
  padding-bottom: 55;
}

.pli_55 {
  padding-left: 55 !important;
}

.pri_55 {
  padding-right: 55 !important;
}

.pti_55 {
  padding-top: 55 !important;
}

.pbi_55 {
  padding-bottom: 55 !important;
}

.plr_55 {
  padding-left: 55;
  padding-right: 55;
}

.mt_55 {
  margin-top: 55;
}

.ml_55 {
  margin-left: 55;
}

.mr_55 {
  margin-right: 55;
}

.mb_55 {
  margin-bottom: 55;
}

.mtn_55 {
  margin-top: -55;
}

.mln_55 {
  margin-left: -55;
}

.mrn_55 {
  margin-right: -55;
}

.mbn_55 {
  margin-bottom: -55;
}

.mlr_55 {
  margin-left: 55;
  margin-right: 55;
}

.ptb_60_0 {
  padding-top: 60;
  padding-bottom: 0;
}

.mtb_60_0 {
  margin-top: 60;
  margin-bottom: 0;
}

.ptb_60_5 {
  padding-top: 60;
  padding-bottom: 5;
}

.mtb_60_5 {
  margin-top: 60;
  margin-bottom: 5;
}

.ptb_60_10 {
  padding-top: 60;
  padding-bottom: 10;
}

.mtb_60_10 {
  margin-top: 60;
  margin-bottom: 10;
}

.ptb_60_15 {
  padding-top: 60;
  padding-bottom: 15;
}

.mtb_60_15 {
  margin-top: 60;
  margin-bottom: 15;
}

.ptb_60_20 {
  padding-top: 60;
  padding-bottom: 20;
}

.mtb_60_20 {
  margin-top: 60;
  margin-bottom: 20;
}

.ptb_60_25 {
  padding-top: 60;
  padding-bottom: 25;
}

.mtb_60_25 {
  margin-top: 60;
  margin-bottom: 25;
}

.ptb_60_30 {
  padding-top: 60;
  padding-bottom: 30;
}

.mtb_60_30 {
  margin-top: 60;
  margin-bottom: 30;
}

.ptb_60_35 {
  padding-top: 60;
  padding-bottom: 35;
}

.mtb_60_35 {
  margin-top: 60;
  margin-bottom: 35;
}

.ptb_60_40 {
  padding-top: 60;
  padding-bottom: 40;
}

.mtb_60_40 {
  margin-top: 60;
  margin-bottom: 40;
}

.ptb_60_45 {
  padding-top: 60;
  padding-bottom: 45;
}

.mtb_60_45 {
  margin-top: 60;
  margin-bottom: 45;
}

.ptb_60_50 {
  padding-top: 60;
  padding-bottom: 50;
}

.mtb_60_50 {
  margin-top: 60;
  margin-bottom: 50;
}

.ptb_60_55 {
  padding-top: 60;
  padding-bottom: 55;
}

.mtb_60_55 {
  margin-top: 60;
  margin-bottom: 55;
}

.ptb_60_60 {
  padding-top: 60;
  padding-bottom: 60;
}

.mtb_60_60 {
  margin-top: 60;
  margin-bottom: 60;
}

.pl_60 {
  padding-left: 60;
}

.pr_60 {
  padding-right: 60;
}

.pt_60 {
  padding-top: 60;
}

.pb_60 {
  padding-bottom: 60;
}

.pli_60 {
  padding-left: 60 !important;
}

.pri_60 {
  padding-right: 60 !important;
}

.pti_60 {
  padding-top: 60 !important;
}

.pbi_60 {
  padding-bottom: 60 !important;
}

.plr_60 {
  padding-left: 60;
  padding-right: 60;
}

.mt_60 {
  margin-top: 60;
}

.ml_60 {
  margin-left: 60;
}

.mr_60 {
  margin-right: 60;
}

.mb_60 {
  margin-bottom: 60;
}

.mtn_60 {
  margin-top: -60;
}

.mln_60 {
  margin-left: -60;
}

.mrn_60 {
  margin-right: -60;
}

.mbn_60 {
  margin-bottom: -60;
}

.mlr_60 {
  margin-left: 60;
  margin-right: 60;
}

.ptb_65_0 {
  padding-top: 65;
  padding-bottom: 0;
}

.mtb_65_0 {
  margin-top: 65;
  margin-bottom: 0;
}

.ptb_65_5 {
  padding-top: 65;
  padding-bottom: 5;
}

.mtb_65_5 {
  margin-top: 65;
  margin-bottom: 5;
}

.ptb_65_10 {
  padding-top: 65;
  padding-bottom: 10;
}

.mtb_65_10 {
  margin-top: 65;
  margin-bottom: 10;
}

.ptb_65_15 {
  padding-top: 65;
  padding-bottom: 15;
}

.mtb_65_15 {
  margin-top: 65;
  margin-bottom: 15;
}

.ptb_65_20 {
  padding-top: 65;
  padding-bottom: 20;
}

.mtb_65_20 {
  margin-top: 65;
  margin-bottom: 20;
}

.ptb_65_25 {
  padding-top: 65;
  padding-bottom: 25;
}

.mtb_65_25 {
  margin-top: 65;
  margin-bottom: 25;
}

.ptb_65_30 {
  padding-top: 65;
  padding-bottom: 30;
}

.mtb_65_30 {
  margin-top: 65;
  margin-bottom: 30;
}

.ptb_65_35 {
  padding-top: 65;
  padding-bottom: 35;
}

.mtb_65_35 {
  margin-top: 65;
  margin-bottom: 35;
}

.ptb_65_40 {
  padding-top: 65;
  padding-bottom: 40;
}

.mtb_65_40 {
  margin-top: 65;
  margin-bottom: 40;
}

.ptb_65_45 {
  padding-top: 65;
  padding-bottom: 45;
}

.mtb_65_45 {
  margin-top: 65;
  margin-bottom: 45;
}

.ptb_65_50 {
  padding-top: 65;
  padding-bottom: 50;
}

.mtb_65_50 {
  margin-top: 65;
  margin-bottom: 50;
}

.ptb_65_55 {
  padding-top: 65;
  padding-bottom: 55;
}

.mtb_65_55 {
  margin-top: 65;
  margin-bottom: 55;
}

.ptb_65_60 {
  padding-top: 65;
  padding-bottom: 60;
}

.mtb_65_60 {
  margin-top: 65;
  margin-bottom: 60;
}

.ptb_65_65 {
  padding-top: 65;
  padding-bottom: 65;
}

.mtb_65_65 {
  margin-top: 65;
  margin-bottom: 65;
}

.pl_65 {
  padding-left: 65;
}

.pr_65 {
  padding-right: 65;
}

.pt_65 {
  padding-top: 65;
}

.pb_65 {
  padding-bottom: 65;
}

.pli_65 {
  padding-left: 65 !important;
}

.pri_65 {
  padding-right: 65 !important;
}

.pti_65 {
  padding-top: 65 !important;
}

.pbi_65 {
  padding-bottom: 65 !important;
}

.plr_65 {
  padding-left: 65;
  padding-right: 65;
}

.mt_65 {
  margin-top: 65;
}

.ml_65 {
  margin-left: 65;
}

.mr_65 {
  margin-right: 65;
}

.mb_65 {
  margin-bottom: 65;
}

.mtn_65 {
  margin-top: -65;
}

.mln_65 {
  margin-left: -65;
}

.mrn_65 {
  margin-right: -65;
}

.mbn_65 {
  margin-bottom: -65;
}

.mlr_65 {
  margin-left: 65;
  margin-right: 65;
}

.ptb_70_0 {
  padding-top: 70;
  padding-bottom: 0;
}

.mtb_70_0 {
  margin-top: 70;
  margin-bottom: 0;
}

.ptb_70_5 {
  padding-top: 70;
  padding-bottom: 5;
}

.mtb_70_5 {
  margin-top: 70;
  margin-bottom: 5;
}

.ptb_70_10 {
  padding-top: 70;
  padding-bottom: 10;
}

.mtb_70_10 {
  margin-top: 70;
  margin-bottom: 10;
}

.ptb_70_15 {
  padding-top: 70;
  padding-bottom: 15;
}

.mtb_70_15 {
  margin-top: 70;
  margin-bottom: 15;
}

.ptb_70_20 {
  padding-top: 70;
  padding-bottom: 20;
}

.mtb_70_20 {
  margin-top: 70;
  margin-bottom: 20;
}

.ptb_70_25 {
  padding-top: 70;
  padding-bottom: 25;
}

.mtb_70_25 {
  margin-top: 70;
  margin-bottom: 25;
}

.ptb_70_30 {
  padding-top: 70;
  padding-bottom: 30;
}

.mtb_70_30 {
  margin-top: 70;
  margin-bottom: 30;
}

.ptb_70_35 {
  padding-top: 70;
  padding-bottom: 35;
}

.mtb_70_35 {
  margin-top: 70;
  margin-bottom: 35;
}

.ptb_70_40 {
  padding-top: 70;
  padding-bottom: 40;
}

.mtb_70_40 {
  margin-top: 70;
  margin-bottom: 40;
}

.ptb_70_45 {
  padding-top: 70;
  padding-bottom: 45;
}

.mtb_70_45 {
  margin-top: 70;
  margin-bottom: 45;
}

.ptb_70_50 {
  padding-top: 70;
  padding-bottom: 50;
}

.mtb_70_50 {
  margin-top: 70;
  margin-bottom: 50;
}

.ptb_70_55 {
  padding-top: 70;
  padding-bottom: 55;
}

.mtb_70_55 {
  margin-top: 70;
  margin-bottom: 55;
}

.ptb_70_60 {
  padding-top: 70;
  padding-bottom: 60;
}

.mtb_70_60 {
  margin-top: 70;
  margin-bottom: 60;
}

.ptb_70_65 {
  padding-top: 70;
  padding-bottom: 65;
}

.mtb_70_65 {
  margin-top: 70;
  margin-bottom: 65;
}

.ptb_70_70 {
  padding-top: 70;
  padding-bottom: 70;
}

.mtb_70_70 {
  margin-top: 70;
  margin-bottom: 70;
}

.pl_70 {
  padding-left: 70;
}

.pr_70 {
  padding-right: 70;
}

.pt_70 {
  padding-top: 70;
}

.pb_70 {
  padding-bottom: 70;
}

.pli_70 {
  padding-left: 70 !important;
}

.pri_70 {
  padding-right: 70 !important;
}

.pti_70 {
  padding-top: 70 !important;
}

.pbi_70 {
  padding-bottom: 70 !important;
}

.plr_70 {
  padding-left: 70;
  padding-right: 70;
}

.mt_70 {
  margin-top: 70;
}

.ml_70 {
  margin-left: 70;
}

.mr_70 {
  margin-right: 70;
}

.mb_70 {
  margin-bottom: 70;
}

.mtn_70 {
  margin-top: -70;
}

.mln_70 {
  margin-left: -70;
}

.mrn_70 {
  margin-right: -70;
}

.mbn_70 {
  margin-bottom: -70;
}

.mlr_70 {
  margin-left: 70;
  margin-right: 70;
}

.ptb_75_0 {
  padding-top: 75;
  padding-bottom: 0;
}

.mtb_75_0 {
  margin-top: 75;
  margin-bottom: 0;
}

.ptb_75_5 {
  padding-top: 75;
  padding-bottom: 5;
}

.mtb_75_5 {
  margin-top: 75;
  margin-bottom: 5;
}

.ptb_75_10 {
  padding-top: 75;
  padding-bottom: 10;
}

.mtb_75_10 {
  margin-top: 75;
  margin-bottom: 10;
}

.ptb_75_15 {
  padding-top: 75;
  padding-bottom: 15;
}

.mtb_75_15 {
  margin-top: 75;
  margin-bottom: 15;
}

.ptb_75_20 {
  padding-top: 75;
  padding-bottom: 20;
}

.mtb_75_20 {
  margin-top: 75;
  margin-bottom: 20;
}

.ptb_75_25 {
  padding-top: 75;
  padding-bottom: 25;
}

.mtb_75_25 {
  margin-top: 75;
  margin-bottom: 25;
}

.ptb_75_30 {
  padding-top: 75;
  padding-bottom: 30;
}

.mtb_75_30 {
  margin-top: 75;
  margin-bottom: 30;
}

.ptb_75_35 {
  padding-top: 75;
  padding-bottom: 35;
}

.mtb_75_35 {
  margin-top: 75;
  margin-bottom: 35;
}

.ptb_75_40 {
  padding-top: 75;
  padding-bottom: 40;
}

.mtb_75_40 {
  margin-top: 75;
  margin-bottom: 40;
}

.ptb_75_45 {
  padding-top: 75;
  padding-bottom: 45;
}

.mtb_75_45 {
  margin-top: 75;
  margin-bottom: 45;
}

.ptb_75_50 {
  padding-top: 75;
  padding-bottom: 50;
}

.mtb_75_50 {
  margin-top: 75;
  margin-bottom: 50;
}

.ptb_75_55 {
  padding-top: 75;
  padding-bottom: 55;
}

.mtb_75_55 {
  margin-top: 75;
  margin-bottom: 55;
}

.ptb_75_60 {
  padding-top: 75;
  padding-bottom: 60;
}

.mtb_75_60 {
  margin-top: 75;
  margin-bottom: 60;
}

.ptb_75_65 {
  padding-top: 75;
  padding-bottom: 65;
}

.mtb_75_65 {
  margin-top: 75;
  margin-bottom: 65;
}

.ptb_75_70 {
  padding-top: 75;
  padding-bottom: 70;
}

.mtb_75_70 {
  margin-top: 75;
  margin-bottom: 70;
}

.ptb_75_75 {
  padding-top: 75;
  padding-bottom: 75;
}

.mtb_75_75 {
  margin-top: 75;
  margin-bottom: 75;
}

.pl_75 {
  padding-left: 75;
}

.pr_75 {
  padding-right: 75;
}

.pt_75 {
  padding-top: 75;
}

.pb_75 {
  padding-bottom: 75;
}

.pli_75 {
  padding-left: 75 !important;
}

.pri_75 {
  padding-right: 75 !important;
}

.pti_75 {
  padding-top: 75 !important;
}

.pbi_75 {
  padding-bottom: 75 !important;
}

.plr_75 {
  padding-left: 75;
  padding-right: 75;
}

.mt_75 {
  margin-top: 75;
}

.ml_75 {
  margin-left: 75;
}

.mr_75 {
  margin-right: 75;
}

.mb_75 {
  margin-bottom: 75;
}

.mtn_75 {
  margin-top: -75;
}

.mln_75 {
  margin-left: -75;
}

.mrn_75 {
  margin-right: -75;
}

.mbn_75 {
  margin-bottom: -75;
}

.mlr_75 {
  margin-left: 75;
  margin-right: 75;
}

.ptb_80_0 {
  padding-top: 80;
  padding-bottom: 0;
}

.mtb_80_0 {
  margin-top: 80;
  margin-bottom: 0;
}

.ptb_80_5 {
  padding-top: 80;
  padding-bottom: 5;
}

.mtb_80_5 {
  margin-top: 80;
  margin-bottom: 5;
}

.ptb_80_10 {
  padding-top: 80;
  padding-bottom: 10;
}

.mtb_80_10 {
  margin-top: 80;
  margin-bottom: 10;
}

.ptb_80_15 {
  padding-top: 80;
  padding-bottom: 15;
}

.mtb_80_15 {
  margin-top: 80;
  margin-bottom: 15;
}

.ptb_80_20 {
  padding-top: 80;
  padding-bottom: 20;
}

.mtb_80_20 {
  margin-top: 80;
  margin-bottom: 20;
}

.ptb_80_25 {
  padding-top: 80;
  padding-bottom: 25;
}

.mtb_80_25 {
  margin-top: 80;
  margin-bottom: 25;
}

.ptb_80_30 {
  padding-top: 80;
  padding-bottom: 30;
}

.mtb_80_30 {
  margin-top: 80;
  margin-bottom: 30;
}

.ptb_80_35 {
  padding-top: 80;
  padding-bottom: 35;
}

.mtb_80_35 {
  margin-top: 80;
  margin-bottom: 35;
}

.ptb_80_40 {
  padding-top: 80;
  padding-bottom: 40;
}

.mtb_80_40 {
  margin-top: 80;
  margin-bottom: 40;
}

.ptb_80_45 {
  padding-top: 80;
  padding-bottom: 45;
}

.mtb_80_45 {
  margin-top: 80;
  margin-bottom: 45;
}

.ptb_80_50 {
  padding-top: 80;
  padding-bottom: 50;
}

.mtb_80_50 {
  margin-top: 80;
  margin-bottom: 50;
}

.ptb_80_55 {
  padding-top: 80;
  padding-bottom: 55;
}

.mtb_80_55 {
  margin-top: 80;
  margin-bottom: 55;
}

.ptb_80_60 {
  padding-top: 80;
  padding-bottom: 60;
}

.mtb_80_60 {
  margin-top: 80;
  margin-bottom: 60;
}

.ptb_80_65 {
  padding-top: 80;
  padding-bottom: 65;
}

.mtb_80_65 {
  margin-top: 80;
  margin-bottom: 65;
}

.ptb_80_70 {
  padding-top: 80;
  padding-bottom: 70;
}

.mtb_80_70 {
  margin-top: 80;
  margin-bottom: 70;
}

.ptb_80_75 {
  padding-top: 80;
  padding-bottom: 75;
}

.mtb_80_75 {
  margin-top: 80;
  margin-bottom: 75;
}

.ptb_80_80 {
  padding-top: 80;
  padding-bottom: 80;
}

.mtb_80_80 {
  margin-top: 80;
  margin-bottom: 80;
}

.pl_80 {
  padding-left: 80;
}

.pr_80 {
  padding-right: 80;
}

.pt_80 {
  padding-top: 80;
}

.pb_80 {
  padding-bottom: 80;
}

.pli_80 {
  padding-left: 80 !important;
}

.pri_80 {
  padding-right: 80 !important;
}

.pti_80 {
  padding-top: 80 !important;
}

.pbi_80 {
  padding-bottom: 80 !important;
}

.plr_80 {
  padding-left: 80;
  padding-right: 80;
}

.mt_80 {
  margin-top: 80;
}

.ml_80 {
  margin-left: 80;
}

.mr_80 {
  margin-right: 80;
}

.mb_80 {
  margin-bottom: 80;
}

.mtn_80 {
  margin-top: -80;
}

.mln_80 {
  margin-left: -80;
}

.mrn_80 {
  margin-right: -80;
}

.mbn_80 {
  margin-bottom: -80;
}

.mlr_80 {
  margin-left: 80;
  margin-right: 80;
}

.ptb_85_0 {
  padding-top: 85;
  padding-bottom: 0;
}

.mtb_85_0 {
  margin-top: 85;
  margin-bottom: 0;
}

.ptb_85_5 {
  padding-top: 85;
  padding-bottom: 5;
}

.mtb_85_5 {
  margin-top: 85;
  margin-bottom: 5;
}

.ptb_85_10 {
  padding-top: 85;
  padding-bottom: 10;
}

.mtb_85_10 {
  margin-top: 85;
  margin-bottom: 10;
}

.ptb_85_15 {
  padding-top: 85;
  padding-bottom: 15;
}

.mtb_85_15 {
  margin-top: 85;
  margin-bottom: 15;
}

.ptb_85_20 {
  padding-top: 85;
  padding-bottom: 20;
}

.mtb_85_20 {
  margin-top: 85;
  margin-bottom: 20;
}

.ptb_85_25 {
  padding-top: 85;
  padding-bottom: 25;
}

.mtb_85_25 {
  margin-top: 85;
  margin-bottom: 25;
}

.ptb_85_30 {
  padding-top: 85;
  padding-bottom: 30;
}

.mtb_85_30 {
  margin-top: 85;
  margin-bottom: 30;
}

.ptb_85_35 {
  padding-top: 85;
  padding-bottom: 35;
}

.mtb_85_35 {
  margin-top: 85;
  margin-bottom: 35;
}

.ptb_85_40 {
  padding-top: 85;
  padding-bottom: 40;
}

.mtb_85_40 {
  margin-top: 85;
  margin-bottom: 40;
}

.ptb_85_45 {
  padding-top: 85;
  padding-bottom: 45;
}

.mtb_85_45 {
  margin-top: 85;
  margin-bottom: 45;
}

.ptb_85_50 {
  padding-top: 85;
  padding-bottom: 50;
}

.mtb_85_50 {
  margin-top: 85;
  margin-bottom: 50;
}

.ptb_85_55 {
  padding-top: 85;
  padding-bottom: 55;
}

.mtb_85_55 {
  margin-top: 85;
  margin-bottom: 55;
}

.ptb_85_60 {
  padding-top: 85;
  padding-bottom: 60;
}

.mtb_85_60 {
  margin-top: 85;
  margin-bottom: 60;
}

.ptb_85_65 {
  padding-top: 85;
  padding-bottom: 65;
}

.mtb_85_65 {
  margin-top: 85;
  margin-bottom: 65;
}

.ptb_85_70 {
  padding-top: 85;
  padding-bottom: 70;
}

.mtb_85_70 {
  margin-top: 85;
  margin-bottom: 70;
}

.ptb_85_75 {
  padding-top: 85;
  padding-bottom: 75;
}

.mtb_85_75 {
  margin-top: 85;
  margin-bottom: 75;
}

.ptb_85_80 {
  padding-top: 85;
  padding-bottom: 80;
}

.mtb_85_80 {
  margin-top: 85;
  margin-bottom: 80;
}

.ptb_85_85 {
  padding-top: 85;
  padding-bottom: 85;
}

.mtb_85_85 {
  margin-top: 85;
  margin-bottom: 85;
}

.pl_85 {
  padding-left: 85;
}

.pr_85 {
  padding-right: 85;
}

.pt_85 {
  padding-top: 85;
}

.pb_85 {
  padding-bottom: 85;
}

.pli_85 {
  padding-left: 85 !important;
}

.pri_85 {
  padding-right: 85 !important;
}

.pti_85 {
  padding-top: 85 !important;
}

.pbi_85 {
  padding-bottom: 85 !important;
}

.plr_85 {
  padding-left: 85;
  padding-right: 85;
}

.mt_85 {
  margin-top: 85;
}

.ml_85 {
  margin-left: 85;
}

.mr_85 {
  margin-right: 85;
}

.mb_85 {
  margin-bottom: 85;
}

.mtn_85 {
  margin-top: -85;
}

.mln_85 {
  margin-left: -85;
}

.mrn_85 {
  margin-right: -85;
}

.mbn_85 {
  margin-bottom: -85;
}

.mlr_85 {
  margin-left: 85;
  margin-right: 85;
}

.ptb_90_0 {
  padding-top: 90;
  padding-bottom: 0;
}

.mtb_90_0 {
  margin-top: 90;
  margin-bottom: 0;
}

.ptb_90_5 {
  padding-top: 90;
  padding-bottom: 5;
}

.mtb_90_5 {
  margin-top: 90;
  margin-bottom: 5;
}

.ptb_90_10 {
  padding-top: 90;
  padding-bottom: 10;
}

.mtb_90_10 {
  margin-top: 90;
  margin-bottom: 10;
}

.ptb_90_15 {
  padding-top: 90;
  padding-bottom: 15;
}

.mtb_90_15 {
  margin-top: 90;
  margin-bottom: 15;
}

.ptb_90_20 {
  padding-top: 90;
  padding-bottom: 20;
}

.mtb_90_20 {
  margin-top: 90;
  margin-bottom: 20;
}

.ptb_90_25 {
  padding-top: 90;
  padding-bottom: 25;
}

.mtb_90_25 {
  margin-top: 90;
  margin-bottom: 25;
}

.ptb_90_30 {
  padding-top: 90;
  padding-bottom: 30;
}

.mtb_90_30 {
  margin-top: 90;
  margin-bottom: 30;
}

.ptb_90_35 {
  padding-top: 90;
  padding-bottom: 35;
}

.mtb_90_35 {
  margin-top: 90;
  margin-bottom: 35;
}

.ptb_90_40 {
  padding-top: 90;
  padding-bottom: 40;
}

.mtb_90_40 {
  margin-top: 90;
  margin-bottom: 40;
}

.ptb_90_45 {
  padding-top: 90;
  padding-bottom: 45;
}

.mtb_90_45 {
  margin-top: 90;
  margin-bottom: 45;
}

.ptb_90_50 {
  padding-top: 90;
  padding-bottom: 50;
}

.mtb_90_50 {
  margin-top: 90;
  margin-bottom: 50;
}

.ptb_90_55 {
  padding-top: 90;
  padding-bottom: 55;
}

.mtb_90_55 {
  margin-top: 90;
  margin-bottom: 55;
}

.ptb_90_60 {
  padding-top: 90;
  padding-bottom: 60;
}

.mtb_90_60 {
  margin-top: 90;
  margin-bottom: 60;
}

.ptb_90_65 {
  padding-top: 90;
  padding-bottom: 65;
}

.mtb_90_65 {
  margin-top: 90;
  margin-bottom: 65;
}

.ptb_90_70 {
  padding-top: 90;
  padding-bottom: 70;
}

.mtb_90_70 {
  margin-top: 90;
  margin-bottom: 70;
}

.ptb_90_75 {
  padding-top: 90;
  padding-bottom: 75;
}

.mtb_90_75 {
  margin-top: 90;
  margin-bottom: 75;
}

.ptb_90_80 {
  padding-top: 90;
  padding-bottom: 80;
}

.mtb_90_80 {
  margin-top: 90;
  margin-bottom: 80;
}

.ptb_90_85 {
  padding-top: 90;
  padding-bottom: 85;
}

.mtb_90_85 {
  margin-top: 90;
  margin-bottom: 85;
}

.ptb_90_90 {
  padding-top: 90;
  padding-bottom: 90;
}

.mtb_90_90 {
  margin-top: 90;
  margin-bottom: 90;
}

.pl_90 {
  padding-left: 90;
}

.pr_90 {
  padding-right: 90;
}

.pt_90 {
  padding-top: 90;
}

.pb_90 {
  padding-bottom: 90;
}

.pli_90 {
  padding-left: 90 !important;
}

.pri_90 {
  padding-right: 90 !important;
}

.pti_90 {
  padding-top: 90 !important;
}

.pbi_90 {
  padding-bottom: 90 !important;
}

.plr_90 {
  padding-left: 90;
  padding-right: 90;
}

.mt_90 {
  margin-top: 90;
}

.ml_90 {
  margin-left: 90;
}

.mr_90 {
  margin-right: 90;
}

.mb_90 {
  margin-bottom: 90;
}

.mtn_90 {
  margin-top: -90;
}

.mln_90 {
  margin-left: -90;
}

.mrn_90 {
  margin-right: -90;
}

.mbn_90 {
  margin-bottom: -90;
}

.mlr_90 {
  margin-left: 90;
  margin-right: 90;
}

.ptb_95_0 {
  padding-top: 95;
  padding-bottom: 0;
}

.mtb_95_0 {
  margin-top: 95;
  margin-bottom: 0;
}

.ptb_95_5 {
  padding-top: 95;
  padding-bottom: 5;
}

.mtb_95_5 {
  margin-top: 95;
  margin-bottom: 5;
}

.ptb_95_10 {
  padding-top: 95;
  padding-bottom: 10;
}

.mtb_95_10 {
  margin-top: 95;
  margin-bottom: 10;
}

.ptb_95_15 {
  padding-top: 95;
  padding-bottom: 15;
}

.mtb_95_15 {
  margin-top: 95;
  margin-bottom: 15;
}

.ptb_95_20 {
  padding-top: 95;
  padding-bottom: 20;
}

.mtb_95_20 {
  margin-top: 95;
  margin-bottom: 20;
}

.ptb_95_25 {
  padding-top: 95;
  padding-bottom: 25;
}

.mtb_95_25 {
  margin-top: 95;
  margin-bottom: 25;
}

.ptb_95_30 {
  padding-top: 95;
  padding-bottom: 30;
}

.mtb_95_30 {
  margin-top: 95;
  margin-bottom: 30;
}

.ptb_95_35 {
  padding-top: 95;
  padding-bottom: 35;
}

.mtb_95_35 {
  margin-top: 95;
  margin-bottom: 35;
}

.ptb_95_40 {
  padding-top: 95;
  padding-bottom: 40;
}

.mtb_95_40 {
  margin-top: 95;
  margin-bottom: 40;
}

.ptb_95_45 {
  padding-top: 95;
  padding-bottom: 45;
}

.mtb_95_45 {
  margin-top: 95;
  margin-bottom: 45;
}

.ptb_95_50 {
  padding-top: 95;
  padding-bottom: 50;
}

.mtb_95_50 {
  margin-top: 95;
  margin-bottom: 50;
}

.ptb_95_55 {
  padding-top: 95;
  padding-bottom: 55;
}

.mtb_95_55 {
  margin-top: 95;
  margin-bottom: 55;
}

.ptb_95_60 {
  padding-top: 95;
  padding-bottom: 60;
}

.mtb_95_60 {
  margin-top: 95;
  margin-bottom: 60;
}

.ptb_95_65 {
  padding-top: 95;
  padding-bottom: 65;
}

.mtb_95_65 {
  margin-top: 95;
  margin-bottom: 65;
}

.ptb_95_70 {
  padding-top: 95;
  padding-bottom: 70;
}

.mtb_95_70 {
  margin-top: 95;
  margin-bottom: 70;
}

.ptb_95_75 {
  padding-top: 95;
  padding-bottom: 75;
}

.mtb_95_75 {
  margin-top: 95;
  margin-bottom: 75;
}

.ptb_95_80 {
  padding-top: 95;
  padding-bottom: 80;
}

.mtb_95_80 {
  margin-top: 95;
  margin-bottom: 80;
}

.ptb_95_85 {
  padding-top: 95;
  padding-bottom: 85;
}

.mtb_95_85 {
  margin-top: 95;
  margin-bottom: 85;
}

.ptb_95_90 {
  padding-top: 95;
  padding-bottom: 90;
}

.mtb_95_90 {
  margin-top: 95;
  margin-bottom: 90;
}

.ptb_95_95 {
  padding-top: 95;
  padding-bottom: 95;
}

.mtb_95_95 {
  margin-top: 95;
  margin-bottom: 95;
}

.pl_95 {
  padding-left: 95;
}

.pr_95 {
  padding-right: 95;
}

.pt_95 {
  padding-top: 95;
}

.pb_95 {
  padding-bottom: 95;
}

.pli_95 {
  padding-left: 95 !important;
}

.pri_95 {
  padding-right: 95 !important;
}

.pti_95 {
  padding-top: 95 !important;
}

.pbi_95 {
  padding-bottom: 95 !important;
}

.plr_95 {
  padding-left: 95;
  padding-right: 95;
}

.mt_95 {
  margin-top: 95;
}

.ml_95 {
  margin-left: 95;
}

.mr_95 {
  margin-right: 95;
}

.mb_95 {
  margin-bottom: 95;
}

.mtn_95 {
  margin-top: -95;
}

.mln_95 {
  margin-left: -95;
}

.mrn_95 {
  margin-right: -95;
}

.mbn_95 {
  margin-bottom: -95;
}

.mlr_95 {
  margin-left: 95;
  margin-right: 95;
}

.ptb_100_0 {
  padding-top: 100;
  padding-bottom: 0;
}

.mtb_100_0 {
  margin-top: 100;
  margin-bottom: 0;
}

.ptb_100_5 {
  padding-top: 100;
  padding-bottom: 5;
}

.mtb_100_5 {
  margin-top: 100;
  margin-bottom: 5;
}

.ptb_100_10 {
  padding-top: 100;
  padding-bottom: 10;
}

.mtb_100_10 {
  margin-top: 100;
  margin-bottom: 10;
}

.ptb_100_15 {
  padding-top: 100;
  padding-bottom: 15;
}

.mtb_100_15 {
  margin-top: 100;
  margin-bottom: 15;
}

.ptb_100_20 {
  padding-top: 100;
  padding-bottom: 20;
}

.mtb_100_20 {
  margin-top: 100;
  margin-bottom: 20;
}

.ptb_100_25 {
  padding-top: 100;
  padding-bottom: 25;
}

.mtb_100_25 {
  margin-top: 100;
  margin-bottom: 25;
}

.ptb_100_30 {
  padding-top: 100;
  padding-bottom: 30;
}

.mtb_100_30 {
  margin-top: 100;
  margin-bottom: 30;
}

.ptb_100_35 {
  padding-top: 100;
  padding-bottom: 35;
}

.mtb_100_35 {
  margin-top: 100;
  margin-bottom: 35;
}

.ptb_100_40 {
  padding-top: 100;
  padding-bottom: 40;
}

.mtb_100_40 {
  margin-top: 100;
  margin-bottom: 40;
}

.ptb_100_45 {
  padding-top: 100;
  padding-bottom: 45;
}

.mtb_100_45 {
  margin-top: 100;
  margin-bottom: 45;
}

.ptb_100_50 {
  padding-top: 100;
  padding-bottom: 50;
}

.mtb_100_50 {
  margin-top: 100;
  margin-bottom: 50;
}

.ptb_100_55 {
  padding-top: 100;
  padding-bottom: 55;
}

.mtb_100_55 {
  margin-top: 100;
  margin-bottom: 55;
}

.ptb_100_60 {
  padding-top: 100;
  padding-bottom: 60;
}

.mtb_100_60 {
  margin-top: 100;
  margin-bottom: 60;
}

.ptb_100_65 {
  padding-top: 100;
  padding-bottom: 65;
}

.mtb_100_65 {
  margin-top: 100;
  margin-bottom: 65;
}

.ptb_100_70 {
  padding-top: 100;
  padding-bottom: 70;
}

.mtb_100_70 {
  margin-top: 100;
  margin-bottom: 70;
}

.ptb_100_75 {
  padding-top: 100;
  padding-bottom: 75;
}

.mtb_100_75 {
  margin-top: 100;
  margin-bottom: 75;
}

.ptb_100_80 {
  padding-top: 100;
  padding-bottom: 80;
}

.mtb_100_80 {
  margin-top: 100;
  margin-bottom: 80;
}

.ptb_100_85 {
  padding-top: 100;
  padding-bottom: 85;
}

.mtb_100_85 {
  margin-top: 100;
  margin-bottom: 85;
}

.ptb_100_90 {
  padding-top: 100;
  padding-bottom: 90;
}

.mtb_100_90 {
  margin-top: 100;
  margin-bottom: 90;
}

.ptb_100_95 {
  padding-top: 100;
  padding-bottom: 95;
}

.mtb_100_95 {
  margin-top: 100;
  margin-bottom: 95;
}

.ptb_100_100 {
  padding-top: 100;
  padding-bottom: 100;
}

.mtb_100_100 {
  margin-top: 100;
  margin-bottom: 100;
}

.pl_100 {
  padding-left: 100;
}

.pr_100 {
  padding-right: 100;
}

.pt_100 {
  padding-top: 100;
}

.pb_100 {
  padding-bottom: 100;
}

.pli_100 {
  padding-left: 100 !important;
}

.pri_100 {
  padding-right: 100 !important;
}

.pti_100 {
  padding-top: 100 !important;
}

.pbi_100 {
  padding-bottom: 100 !important;
}

.plr_100 {
  padding-left: 100;
  padding-right: 100;
}

.mt_100 {
  margin-top: 100;
}

.ml_100 {
  margin-left: 100;
}

.mr_100 {
  margin-right: 100;
}

.mb_100 {
  margin-bottom: 100;
}

.mtn_100 {
  margin-top: -100;
}

.mln_100 {
  margin-left: -100;
}

.mrn_100 {
  margin-right: -100;
}

.mbn_100 {
  margin-bottom: -100;
}

.mlr_100 {
  margin-left: 100;
  margin-right: 100;
}

/*# sourceMappingURL=style.css.map */
