/* #120078 */
/* #fd3a69 */
/* #ffa62b */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #777777;
    background: #ffffff;
}

h1, h2, h3, h4, h5, h6 .heading, .title, .main_heading {
    font-weight: 700;
}

.myservice .card-title,
.text-black,
.heading_style {
    color: #000000;
}

.text-secondary {
    color: #120078 !important;
}

.btn-secondary:hover,
.btn-secondary,
.bg-secondary {
    background-color:  #120078;
}

.btn-secondary:hover,
.btn-secondary {
    border-color:  #120078;
}

.link,
.gotoparrow,
.text-primary,
.btn-outline-primary,
.myservice .card .ciconrc,
.text_primary {
    color: #fd3a69 !important;
}

.btn-primary,
.bg_primary,
.bg-primary {
    background-color: #fd3a69 !important;
}

.btn-primary,
.myservice .card .ciconrc,
.heading_style.type2:before {
    border-color:  #fd3a69 !important;
}

.myservice .card .ciconrc {
    width: 70px;
    height: 70px;
}

.myservice .card:hover {
    background-color: #ffeaef !important;
    border-radius: 0 !important;
    box-shadow: unset !important;
}

.myservice .card:hover .ciconrc {
    border-radius:100%;
}

.btn-outline-primary {
    background-color: #ffffff !important;
    border-color:  #ffffff !important;
}

.bannerbg {
    background-color: #120078;
}

.line_right {
    position: relative;
}

.line_right:after {
    content: "";
    display: block;
    width: 3px;
    height: 34px;
    background: #fff;
    position: absolute;
    right: -20px;
    top: 1px;
}

.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

img.blur {
    top:-10px;
}

header .navbar.navbar-expand-lg .navbar-nav .nav-item a.nav-link.btn {
    padding: 11px 0 !important;
    color: #fff !important;
    margin: 18px 0 18px 8px !important;
    text-transform: uppercase;
}

.rememberme input{
    min-height: 0 !important;
}

/* Banner section */
.banner_section, .banner-section {
    background-image: url('../images/shrikant_yadav_full.jpg');
}

.slicksliderui .slider-item,
.slicksliderui {
    max-height: 450px;
}
 
/*Testimonials*/
.section-testionials .img-thumbnail {
    background: transparent;
    padding: 6px;
}

.testimonials_card1 .card-icon {
    font-size: 24px;
    opacity: 0.5;
}

.section-testionials .slick-prev, .section-testionials .slick-next {
    top: unset;
    bottom: 15px;
    left: 50%;
}

.section-testionials .slick-prev {
    margin-left: -20px;
}

.section-testionials .slick-next {
    margin-left: 20px;
}

/*Subcription*/
.section-subscription .form-control {
    border-color: #ffffff;
}

.section-subscription input::placeholder {
    color:#fff;
}

/*Footer CSS*/
.footer_style1 ul li a {
    color: #494949;
}

.footer_style1 ul li .social_links a {
    background: #E6E6E6;
    padding: 8px 0;
    height: 34px;
    width: 34px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.footer_style1 ul li .social_links a:hover {
    background: #d6d4d4;
}

.footer_style1 ul.address li {
    padding-left: 34px;
    position: relative;
}

.footer_style1 ul.address li svg,
.footer_style1 ul.address li i {
    position: absolute;
    left: 5px;
    top: 9px;
    font-size: 16px;
}

.go_top_arrow {
    display: none;
}

.notification-section span {
    z-index: 999;
}

/*Responsive*/
@media all and (max-width: 786px) {

    .container {
        max-width: 100%;
    }

    .line_right:after {
        height: 26px;
        top: 2px;
    }

    img.bg_image_full {
        height: 100%;
        width: auto;
        max-width: initial;
    }

    /*About Section*/
    .section-about img.position-absolute {
        width: 100%;
        position: static !important;
        max-width: 500px;
    }

    .section-services .card {
        max-width: 300px;
        margin: 0 auto;
    }

    /*Tools Section*/
    .section-tools .go_ahead_box {
        position: static !important;
        margin: auto;
    }

    .section-tools .pricing_card1 {
        margin: 0 auto;
        float: none !important;
    }

}

/*Mobile Devices*/
@media all and (max-width: 580px) {

    .tab_bar_design li {
        margin: -8px 2% -4px 2%;
    }

    /*About Section*/
    .section-about img.position-absolute {
        width: 100%;
        position: static !important;
    }

    .section-about.ptb_140_130 {
        padding: 0 0px 30px 0;
    }


    /*Footer*/
    .section-footer .col-6 {
        width: 50%;
        flex: 0 0 50%;
    }
}
