$blackColor: #000000;
$NunitoSan: "Nunito Sans", Sans-serif;
$RockSalt: "Rock Salt", Sans-serif;
$lightPink: #FFEEFB;

body {
	overflow-x: hidden;
}

.bg-light-pink {
	background-color: $lightPink;
}

.d-flex.hide {
	display: none !important;
}

.slick-dots li:only-child {
	display: none;
}

.main-heading-ui {
color: $blackColor;
    font-family: $NunitoSan;
    // font-family: "Nunito Sans", Sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.4em;
    letter-spacing: 0;
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 30px;

	&.with-bottom-border::before {
	    position: absolute;
	    height: 2px;
	    width: 66px;
	    left: calc(50% - 33px);
	    bottom: 0;
	    display: block;
	    content: "";
	    background: #FF009C;
	    line-height: 0;
	}
}

 
.section-description {
	color: #54595F;
	font-family: $NunitoSan;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5em;
}

.button,
.btn {
	font-size: 18px;

	&.button-primary,
	&.btn-primary {
		font-family: $NunitoSan;
		background-color: rgba(215, 19, 139, 0.89) !important;
		border-radius: 100px 100px 100px 100px;
		border: none !important;
		box-shadow: none !important;
		line-height: 1;
		padding: 20px 40px;
	} 

	&.btn-primary {
		font-family: $NunitoSan;
		background-color: rgba(215, 19, 139, 0.89) !important;
		border-radius: 100px 100px 100px 100px;
		border: none !important;
		box-shadow: none !important;
		line-height: 30px;
		padding: 8px 30px;
	} 

	&.bg-green {
		background-color: #61ce70 !important;
	}

	&.btn-outline-primary {
		background: #fff !important;
		border-color: rgba(215, 19, 139, 0.89) !important;
		color: rgba(215, 19, 139, 0.89) !important;
		border-radius: 100px 100px 100px 100px;
		box-shadow: none !important;
		line-height: 30px;
		padding: 8px 30px;
	
		&.btn-green {
			border-color: #61ce70 !important;
			color: #61ce70 !important;
		}
	}
	
	&.btn-sm {
		padding: 6px 15px;
		line-height: 16px;
		font-size: 12px
	}
} 

.accordion_design1 {
	margin-bottom: 50px;
	.card {
		border: none;
	
		.card-header {
			padding: 15px;
			border-radius: 4px;
			border: none;
			font-family: $NunitoSan;
			background: transparent;

			.card-title {
				font-weight: 400;
			}

			h2 {
				font-size: 21px;
				font-weight: 600;
				font-family: $NunitoSan;
				color: #666460;
				cursor: pointer;

				.fa-chevron-down {
					display: none;
				}

				&.collapsed {
					.fa-minus {
						display: none;
					}

					.fa-chevron-down {
						display: inline-block;
					}
				}
			}
		}

		.card-body {
			font-family: $NunitoSan;
			font-size: 16px;
			line-height: 1.4em;
			font-weight: 400;
			color: #7a7a7a;
			padding: 15px;
		}

	}
}
 

// Home Banner
.section-banner {

	font-family: $NunitoSan;
	background: #000;
	min-height: 539px;
	position: relative;
	overflow: hidden;
	display: flex;
    justify-content: center;
    align-items: center;

	.container {
		position: relative;
	}

	.overlay_b {
		background: rgba(0,0,0,.3);
		z-index:0;
	}

	.section-bg-video {
		position: absolute;
		top: -20%;
		left: 0;
		right: 0;
	}

	iframe.section-bg-video {
		width: 100vw;
		height: 56.25vw; 
		min-height: 100vh;
		min-width: 177.77vh; 
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.banner-heading {
		color: #D7138B;
		font-family: "Rock Salt", Sans-serif;
		font-size: 192px;
		font-weight: 500;
		text-shadow: 0px 0px 9px #FFFFFF;
		mix-blend-mode: lighten;
	    line-height: 194px;
		margin-bottom: 23px;	
		word-break: break-all;
	}

	.banner-title-before {
		font-size: 18px;
		font-weight: 300;
		line-height: 1.5em;
		letter-spacing: 10px;
		position: relative;
		top: -1px;
	}

	.banner-description {
		font-size: 32px;
		font-weight: 500;
		line-height: 1.5em;
		margin-bottom: 82px;
	}

	.banner-actions {

	}
} 

// Common Section UI
.common-section {
	.main-heading-ui {
		padding-bottom: 12px;
	}
}

// Carousel
.section-carousel {

	.container-fluid {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}

	.carousel-ui{
		.img-card {
			padding-left: 7.5px;
			padding-right: 7.5px;
			p {
				font-family: $NunitoSan;
				font-size: 16px;
				font-weight: 200;
				font-style: italic;
				margin-bottom: 10px;
				color: #222;
				line-height: 1.4;
			}
		}	
	}

	&.three-carousel {
		.main-heading-ui {
			margin-bottom: 50px;
		}

		.img-card {
			h3 {
				font-family: $NunitoSan;
				font-size: 29px;
				font-weight: 500;
				font-style: normal;
				color: #0F77B7;
				margin-bottom: 18px;
			}

			p {
				font-style:normal;;
				font-size: 17px;
				font-weight: 100;
				line-height: 1.5em;
				color: #54595F;
				margin-bottom: 25px;
			}
		}

		// .slick-slide img {
		// 	max-width: 270px;
		// 	margin-bottom: 30px;
		// }

	}

	.card-image {
		width: 100%;
		position: relative;
		height: 250px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		img {
			margin-bottom: 0;
			max-width: unset;
			width: 100% !important;
			height: auto;
		}
	}
}

// Card Listing
.section-cardicons, 
.section-cardlisting {
	.card {
		padding: 0 5px;

		img {
			margin-bottom: 40px;
		}

		.card-image {
			width: 100%;
			position: relative;
			height: 280px;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 40px;
			img {
				margin-bottom: 0;
				max-width: unset;
				width: 100% !important;
				height: auto;
			}
		}

		h3 {
			color: #000000;
			font-family: $NunitoSan;
			font-size: 29px;
			font-weight: 600;
			line-height: 1.3em;
		}

		.numbers {
			color: #FF009C;
			font-family: "bebas-neue", Sans-serif;
			font-size: 85px;
			font-weight: 100;
		}

		.description {
			color: #54595F;
			font-family: $NunitoSan;
			font-size: 17px;
			font-weight: 100;
			line-height: 1.5em;
		}

		.card-icon {
			height: 70px;
			width: 70px;
			font-size: 33px;
			padding: 13px 15px 15px 15px;
			background-color: transparent;
			background-image: linear-gradient(210deg, #CE04F4 0%, #FDB600 100%);
			border-radius: 50%;
			color: #ffffff;
		    line-height: 45px;
		    margin-bottom: 10px;
		}
	}
}

// Parallex Ui
.site-footer, 
.section-parallax  {
	background-image: url('https://dy6k9vx8xmxk5.cloudfront.net/wp-content/uploads/2020/10/skateboarding-1149505_1280.jpg');
	background-attachment: fixed;
	background-color: #000000;
	background-repeat: repeat;
	background-position: top center;
	background-size: cover;
	position: relative;

	.overlay_b {
		background-color: rgba(0,0,0,.6);
		z-index: 0;
	}
}

.site-footer {
	color: rgba(255, 255, 255, 0.78);
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	font-family: $NunitoSan;

	h3 {
		font-family: $NunitoSan;
		color: #ffffff;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 20px;
	}

	p {
		color: rgba(255, 255, 255, 0.78);
	}


	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
		li {
			a {
				color: rgba(255, 255, 255, 0.78);
				text-decoration: none;
			}
		}
	}

	.copyright {
		border-color: rgba(255, 255, 255, 0.2) !important;
	}
}

// Multistep form ui
.step-form-ui {

	font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #7a7a7a;
	font-size: 20px;
	max-width: 1300px;

	.current-info {
		display: none;
	}

	.text-primary {
		color: rgba(215, 19, 139, 0.89) !important;
	}

	h2, h2, h3, h4, h5, h6,
	label {
		display: inline-block;
		max-width: 100%;
		margin-bottom: 8px;
		font-weight: 400;

		&.error {
		    color: #dc3545;
		    font-size: 14px;
		    // font-weight: 300 !important;
		}
	}

	.form-group {
		margin-bottom: 35px;

		.input-group {
			.form-control {
				padding-right: 70px;
			}
		}

		.input-group-append {
			height: 100%;
			z-index: 999;

			a {
				width: 70px;
				padding: 9px 0;
				text-align: center;
				display: inline-block;
				font-size: 16px;
				border-radius: 0 !important;
				color: #fff;
				line-height: 25px;

				&.bg-green.disabled {
					color: #28a745 !important;
					background: #fff !important;
					font-size: 12px;
					padding: 7px 0;
					font-size: 14px;
					border: 1px solid #28a745 !important;

				}
			}
		}
	}

	.form-control {
		font-size: 18px;
		padding: 7px 16px;
		color: #7a7a7a;
		background-color: #ffffff;
		border: 1px solid #818a91;
		border-radius: 0px;
		box-shadow: 3px 3px 8px -5px #cbcbcb;

		&::placeholder {
		    opacity: 0.6;
		}

		&.bootstrap-select {
			padding: 0px;
			
			.dropdown-menu {
				font-size: 14px;
			}

			button {
				background: transparent !important;
				border: none;
				font-size: 14px;
				box-shadow: none !important;
			}
		}
	}

	input[type='file'].form-control {
		padding: 3px 3px;
	}

	label#userEmailVerified-error {
		float: right;
	}

	.steps {
		position: relative;
		&::before {
			position: absolute;
			content: '';
			display: block;
			width: 100%;
			top:14px;
			height: 1px;
			background: #c2cbd2;
			z-index: -1;
		}
		ul {
		    padding: 0;
		    display: flex;
		    justify-content: space-between;
			font-weight: 500;
			margin-bottom: 20px;

		    li {
		    	list-style: none;
		    	margin-bottom: 10px;
		    	background: #fff;
		    	a {
					color: #7a7a7a;
					text-decoration: none;
					display: flex;
					flex-direction: column;
					font-size: 13px;
					align-items: center;

		    		span.number {
						border-radius: 50%;
						width: 30px;
						line-height: 27px;
						height: 30px;
						text-align: center;
						border: 1px solid #7a7a7a;
						display: inline-block;
						font-size: 13px;
						margin-bottom: 10px;
		    		}
		    	}

		    	&.done,
		    	&.current {
		    		color: #61ce70;
		    		a {
		    			color: #61ce70;
		    			span.number {
		    				border-color: #61ce70;
		    			}
		    		}
		    	}

		    	&.done {
		    		span.number {
	    				background: #61ce70;
	    				color:#fff;
	    			}
		    	}
		    }
		}
	}

	.actions {
	    ul {
			display: flex;
			justify-content: space-between;
			text-align: center;
			padding: 0;
			margin: 0 -5px 20px -5px;
			li {
				list-style: none;
				width: 100%;
				margin-bottom: 20px;

				&.disabled {
					display: none;
				}

				a {
					display: inline-block;
					padding: 12px 30px;
					width: calc(100% - 10px);
					color: #fff;
					background: rgba(215, 19, 139, 0.89);
					border-radius: 30px;
					text-decoration: none;
					font-size: 16px;
					font-family: $NunitoSan;
				}

				&:first-child a {
				    background: #61ce70 !important;
				}
	    	}
	    }
	}

	.repeater-row {
		background: #f5f5f9;
		padding: 10px 11px 0 10px;
		margin-bottom: 10px;
		border-radius: 5px;
	}

	.repeater,
	div.inner-form {
		label,
		a,
		.form-control {
			font-size: 14px;
		}

		.f12 {
			a {
				font-size: 12px;
			}
		}

		&.form-group,	
		.form-group {
			margin-bottom: 10px;
		}
	}
}

.tabs-section {
	margin-bottom: 30px;
	font-size: 14px;

	.nav {
		border: 1px solid #f4f4f4;
		height: 100%;
	}

	.nav-link {
		color: #74788d;
		font-size: 14px;
		padding: 10px 15px;
		line-height: 20px;
		border-bottom: 1px solid #f4f4f4;
		&:hover,
		&.active {
			color: rgba(215,19,139,.89);
			background: #f5f5f9;
		}

		&:last-child {
			border: none;
		}
	}

	.form-control,
	label {
		font-size: 14px;
	}

	input[type="text"] {
		width: 100%;
	}

	select,
	option {
		font-family: 'Font Awesome 5 Free';
	}
}

.select2-selection__clear,
.select2-selection__rendered {
	display: none;
}


.custom-form-ui {
	background: #fff;
    max-width: 400px;
    margin: 100px auto 40px auto;
    border-radius: 0;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
	padding: 37px 30px 20px 30px;

	&.login-form {
		box-shadow: unset !important;
		margin-top: calc(50vh - 292px);
	}

	.overlay_b,
	.overlay_w {
		&.hide {
			display: none !important;
		}
	}
 
	&.modal-popup-ui {
		padding: 28px 20px 20px 20px;
		border: none;
		margin: auto;
		max-width: 100%;

		button.close {
			position: absolute;
			right: 14px;
			top: 10px;
		}

		.modal-header {
			padding-top:0px;
		}

		.modal-footer {
			justify-content: center;
			.btn {
				padding: 5px 18px 3px 18px;
				font-size: 14px;
			}
		}

		.modal-body {
			.alert {
				font-weight: normal;
				font-size: 12px;
				box-shadow: none;
				border: none;

				button.close {
					top: 0;
					right: 0;
					padding: 5px 9px;
					font-weight: normal;
					font-size: 18px;
				}
			}
		}
	}
	
	a {
		text-decoration: none;
		color: rgba(215,19,139,.89);
		font-size: 14px;
	}

	.btn {
		font-size: 16px;
	}

	.input,
	.form-control {
		font-size: 18px;
		padding: 7px 16px;
		color: #7a7a7a;
		background-color: #ffffff;
		border: 1px solid #818a91;
		border-radius: 0px;
		box-shadow: 3px 3px 8px -5px #cbcbcb;

		&::placeholder {
		    opacity: 0.6;
		}

		&.f14 {
			font-size: 14px;
		}

		&.f16 {
			font-size: 16px;
		}
	}

	.form-group .login-field-icon {
		margin: 0;
		top: 9px;
	}
}

// .page-reset-password,
// .page-log-in {
// 	// background-color: $lightPink;
// } 

// Header UI
.main-navigation-container-horizontal {
    right: 0;
    padding: 5px 0 5px 0;
    // background-color: rgba(0,0,0,.7);
    transition: .4s ease-out;
}
.custom-header-ui1 {
	height: 50px;
    padding-top: 0;
    padding-bottom: 0;
	display: block ;

	.auth-buttons {
		padding: 10px 0;
	}

	.main-navigation-logo {
		display: inline-block;
	} 

	.main-navigation-logo {

		a {
			color: #000;
			font-family: "Rock Salt",sans-serif;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 0;
			text-decoration: none;
			mix-blend-mode: lighten;
			display: inline-block;
			padding: 10px 0;
			vertical-align: top;
			line-height: 26px;
		}
	}

	.btn {
		padding: 10px 0;
		margin-left: 10px;
		display: inline-block;
		color: #fff;
		border: none;
		background: #a10395;
		font-size: 12px;
		border-radius: 3px;
		line-height: 13px;
		min-width: 100px;
		font-family: "Orbitron",sans-serif;
		font-weight: 500;
		letter-spacing: 1px;
	}

	.btn.login-btn {
		background: #038fa1;
	}
}

// plan card
.subscription-plan {
	.plan-title {
		font-size: 14px;
	}

	.plan-amount {
		position: relative;
		font-size: 14px;
		margin-bottom: 3px;
		
		span:nth-child(2) {
			font-size: 20px;
			font-weight: 900;
			position: relative;
			top: 1px;
		}

		span:nth-child(3) {
			font-size: 12px;
			font-weight: normal;
			color: #aaa;
		}
	}

	.plan-active {
		color: #28a745!important;
		margin: 0;
		font-size: 14px;
	}

	.plan-expiry-date {
		color: #dc3545!important;
		font-size: 12px;
	}
 
}


img.favicon_logo {
    max-height: 26px;
    position: relative;
}
 
.home .navigation-dark{ 
	display:none !important;
}

#recent-counter {
    margin-top: 20px;
}

#paymentResponse {
    color: red;
	font-size: 14px;
	text-align: center;
}

.profilepress-reset-status, 
.profilepress-login-status {
	background-color: #b3b1b100 !important;
    color: #ef0202 !important;
    font-size: 12px !important;
    z-index: 999;
    top: 67px;
    position: absolute;
    // width: 400px;
    left: 0;
    margin: 0 auto !important;
    right: 0;
    max-width: 96%;
    text-align: center
}

.fui-user:before {
    color: #dc4f97;
}
.login-form .login-field:focus {
    border-color: #dc4f97;
}
.fui-lock:before{
	color: #dc4f97;
}
input.maintenuce {
    position: absolute;
    right: 30px;
    top: 20px;
}
 
input#Maintenuce {
    margin: 4.75rem 0.25rem 0 0;
    float: left;
    position: relative;
}
 
 