

/*Mobile Responsive*/ 
@media all and (max-width: 500px) {
    
    .col,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10 {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
    }
    
    .navbar-toggler {
            background: #fff;
            border: 1px solid #e64a19;
            padding: 4px;
            position: absolute;
            top: -55px;
            right: 0px;
    }
    
    .navbar-toggler-icon {
        color: #ff5722;
        font-size: 20px;
        padding: 6px 5px;
    }
    
    
    #main_header {
	position: relative !important;
    }
    
    .logo_wr {
            margin: 10px 0;
    }
    
    .header_menus .nav-link {
        padding: 10px !important;
        display: block;
        text-align: left;
        border-top: 1px solid #f2f2f2;
    }
    
    .header_mobile_control .navbar.navbar-expand-lg {
            width: 100%;
    }

    .header_mobile_control .navbar.navbar-expand-lg  #navbarNavDropdown{
            background: #fff;
            padding: 0 0 50px 0;
    }
         
    div.city_select {
        width: 100%;
        margin: 0;
    }
    
    .header_btn_wr .btn {
        display: inline-block;
        width: 100%;
        margin: 10px 0 0px 0;
    }
    
    .home_banner h1 {
            margin: 0;
            font-size: 25px;
    }
    
    .home_banner h1 span.small {
        margin: 5px 0 10px 0;
        font-size: 20px;
        line-height: 24px;
    }
    
    .page-main-heading {
            padding: 10px 0;
            font-size: 25px;
            margin: 10px auto;
    }
    
    #homesearchtabcontentwr {
            width: 100%;
            margin: 10px 0;
    }
    
    #homesearchtabcontentwr ul {
        text-align: center;
        display: flex;
        border: none;
        margin-bottom: 7px;
    }
    
    #homesearchtabcontentwr ul li {
        display: inline-flex;
        width: 50%;
    }
    
    #homesearchtabcontentwr .nav-tabs .nav-link svg {
	width: 100%;
    }
    
    #homesearchtabcontentwr .nav-tabs .nav-link {
            padding: 5px 15px;
            width: auto;
            margin-bottom: 15px;
    }
    
    .form_advance_filter {
        padding: 0;
        background: transparent;
        border:none;
    }
    
    .form_advance_filter .col {
            margin-bottom: 10px;
    }
    
    .form_advance_filter .custom-select, .form_advance_filter .form-control {
        margin-bottom: 15px;
    }

    .home_banner {
            /*min-height: 0;*/
            padding-bottom: 30px; 
    }
    
    section.how_it_works {
        padding: 30px 0;
    }
    
    .main-heading {
        margin-bottom: 15px;
        font-size: 20px;
    }
    
    .how_it_works_list span::after {
        display: none;
    }
    
    .how_it_works_list {
            padding: 10px;
            margin-bottom: -2px;
            box-shadow: none;
    }
    
    .how_it_works_list span {
        position: static;
        height: auto;
        line-height: 35px;
        width: 100%;
        display: block;
        margin-bottom: 12px;
    }   
    
    .how_it_works h3 {
        margin-top: 20px;
    }
    
    .update_wr {
        max-width: 100%;
    }
    
    .latest_update2.slider_arrow_design .slick-prev {
        left: 15px;
        top: 30px;
    }
    
    .latest_update2.slider_arrow_design .slick-next {
        right: 15px;
        top: 30px;
    }
    
    .testimonials_wr p {
        padding-left: 0;
        padding-right: 0;
    }
    
    .testimonials_wr span.before_quote {
            font-size: 30px !important;
            left: 2px;
            top: -5px;
    }
    
    .testimonials_wr span.after_quote {
            font-size: 30px !important;
    }
    
    .slider_arrow_design .slick-prev {
        left: 2px;
        top: 80px;
    }
    
    .slider_arrow_design .slick-next {
        right: 2px;
        top: 80px;
    }
    
    footer.footer-section .footer-part1 {
            padding: 30px 0;
            text-align: center;
    }
    
    .footer-part1 .col-md-3 {
        margin-bottom: 15px;
    }
    
    .footer-part2 .col-md-4.text-right,
    .footer-part2 .col-md-4.text-left {
        text-align: center !important;
        display: block;
    }
    
    footer.footer-section .social_links a {
        display: inline-block;
        padding: 12px 0;
        font-size: 16px;
        width: 20%;
    }
    
    form.form_contant {
        background: #fff;
        padding: 20px;
        margin-top: -118px;
        margin-left: -161px;
     }
     
    .page_content_section .page_content {
           padding: 30px 10px 15px 10px !important;
    }
    
    .faq_vertical_menus {
        width: 100%;
        position: static;
        left: 0;
        margin-bottom: 15px;
    }
    
    
}