
body,html {
    margin:0px;
    padding:0px;
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size:14px; 
    line-height: 20px; 
    color: #0c0c0c; 
}

.form-control {
    font-size:14px;  
} 

body.admin-panel {
	padding-left: 200px;
}

.dashboard_header {
    background: rgba(0,0,0,00.1);
    text-transform: uppercase;
}

.dashboard_header a {
	color:#ffffff;
	text-decoration: none;
}

/*Button*/ 
.btn-shadow {
	box-shadow: 2px 2px 4px -3px #000;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 14px;
}

.btn {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}

/*Image*/
.img-shadow {
	box-shadow: 0px 5px 5px -5px #000000;
}

.box-shadow {
	box-shadow: 0px 0px 2px -1px #000;
}

.bg-image-fixed {  
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center; 
}  
 
.bg-image-cover-relative {  
	background-size: cover;
	background-attachment: fixed;
	position: relative;
        background-repeat: no-repeat;  
} 

.bg-image-overlay:before { 
	background: #007BFF99;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	content: "";
}


.jumbotron {
	margin-bottom: 0px;
	box-shadow: inset 0px 3px 2px -4px #000;
	border-radius: 0px !important;
}
 
.block-shadow{ 
    box-shadow: 0px 2px 3px -3px #000000;
}

/*Display*/
.display-5 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
}
 
.display-6 {
	font-size: 2.0rem;
	font-weight: 300;
	line-height: 1.0;
}
 
.display-7 {
	font-size: 20px;
	font-weight: bold; 
	line-height: 30px;
}
 
/*padding*/
.pt-6, .py-6 {
	padding-top: 4rem !important;
}
.pt-7, .py-7 {
	padding-top: 5rem !important;
}
.pt-8, .py-8 {
	padding-top: 6rem !important;
} 
.pb-6, .py-6 {
	padding-bottom: 4rem !important;
}
.pb-7, .py-7 {
	padding-bottom: 5rem !important;
}
.pb-8, .py-8 {
	padding-bottom: 6rem !important;
} 
 
/*Margin*/
.mt-6, .my-6 {
	padding-top: 4rem !important;
}
.mt-7, .my-7 {
	padding-top: 5rem !important;
}
.mt-8, .my-8 {
	padding-top: 6rem !important;
}
.mb-6, .my-6 {
	padding-bottom: 4rem !important;
}
.mb-7, .my-7 {
	padding-bottom: 5rem !important;
}
.mb-8, .my-8 {
	padding-bottom: 6rem !important;
} 

/*Card*/
.card-image-hover-scale {
	overflow: hidden;
	max-height: 262px;
}

.card-image-hover-scale:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.card-hover-scale:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card-hover-border:hover {
    border:1px solid #007BFF; 
}

.card-hover-bg-primary:hover {
    background: #007BFF !important;  
    color: #ffffff !important;  
}

/*Custom Components*/
.arrow-left-after,
.arrow-right-after,
.arrow-down-after,
.arrow-up-after{
    position: relative;
}

.arrow-down-after::after {
	width: 0px;
	height: 0px;
	position: absolute;
	border-top: 20px solid #007BFF;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	top: 51px;
	content: '';
	display: block;
	left: 50%;
	margin-left: -20px;
}

.arrow-right-after::after {
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 20px solid #007BFF;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	top: 50%;
	content: '';
	display: block;
	margin-top: -20px;
	right: -20px;
}

.arrow-up-after::after {
	width: 0px;
	height: 0px;
	position: absolute;
	border-bottom: 20px solid #007BFF;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	bottom: 51px;
	content: '';
	display: block;
	left: 50%;
	margin-left: -20px;
}

.arrow-left-after::after {
	width: 0px;
	height: 0px;
	position: absolute;
	border-right: 20px solid #007BFF;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	top: 50%;
	content: '';
	display: block;
	margin-top: -20px;
	left: -20px;
}


/*List Style 1*/ 
ul.list-style1 li {
	color: #fff;
	padding: 10px;
	background: rgba(0,0,0,0.1) !important;
	margin-bottom: 5px;
	border-radius: 0px !important;
	border: none;
}

ul.list-style1 li a {
        color:#ffffff;
        display:block;
        text-decoration: none; 
}

ul.list-style1 li:hover {
        background: rgba(0,0,0,0.2) !important;
}

/*List Style3*/
.list-style3 li {
	background: #000;
	margin: 0px !important;
	padding: 10px 15px;
	margin-bottom: 5px !important;
	border-radius: 0px !important;
}

.list-style3 li a {
	color: #f5e90b;
	display: inline-block;
	width: 100%;
	font-weight: bold;
}


/*Blink*/ 
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.alert-new {
	color: #ff0000;
	background: #ffffff;
	border-radius: 20px;
	padding: 4px;
	margin-left: -10px;
	margin-right: 5px;
}

/*Button*/ 
.btn-shadow {
	box-shadow: 2px 2px 4px -3px #000;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 14px;
}

.btn {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}

.btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	z-index: 1;
	visibility: hidden;
	background-color: rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:hover::before {
	visibility: visible;
	width: 100%;
}


/*Image*/
.img-shadow {
	box-shadow: 0px 5px 5px -5px #000000;
}

.box-shadow {
	box-shadow: 0px 0px 2px -1px #000;
}

.bg-image-fixed {  
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center; 
}  
 
.bg-image-cover-relative {  
	background-size: cover;
	background-attachment: fixed;
	position: relative;
        background-repeat: no-repeat;  
} 

.bg-image-overlay:before { 
	background: #007BFF99;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	content: "";
}


.jumbotron {
	margin-bottom: 0px;
	box-shadow: inset 0px 3px 2px -4px #000;
	border-radius: 0px !important;
}
 
.block-shadow{ 
    box-shadow: 0px 2px 3px -3px #000000;
}

/*Display*/
.display-5 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
}
 
.display-6 {
	font-size: 2.0rem;
	font-weight: 300;
	line-height: 1.0;
}
 
.display-7 {
	font-size: 20px;
	font-weight: bold; 
	line-height: 30px;
}
 
/*padding*/
.pt-6, .py-6 {
	padding-top: 4rem !important;
}
.pt-7, .py-7 {
	padding-top: 5rem !important;
}
.pt-8, .py-8 {
	padding-top: 6rem !important;
} 
.pb-6, .py-6 {
	padding-bottom: 4rem !important;
}
.pb-7, .py-7 {
	padding-bottom: 5rem !important;
}
.pb-8, .py-8 {
	padding-bottom: 6rem !important;
} 
 
/*Margin*/
.mt-6, .my-6 {
	padding-top: 4rem !important;
}
.mt-7, .my-7 {
	padding-top: 5rem !important;
}
.mt-8, .my-8 {
	padding-top: 6rem !important;
}
.mb-6, .my-6 {
	padding-bottom: 4rem !important;
}
.mb-7, .my-7 {
	padding-bottom: 5rem !important;
}
.mb-8, .my-8 {
	padding-bottom: 6rem !important;
} 

/*Card*/
.card-image-hover-scale {
	overflow: hidden;
	max-height: 262px;
}

.card-image-hover-scale:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.card-hover-scale:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card-hover-border:hover {
    border:1px solid #007BFF; 
}

.card-hover-bg-primary:hover {
    background: #007BFF !important;  
    color: #ffffff !important;  
}

/*Custom Components*/
.arrow-left-after,
.arrow-right-after,
.arrow-down-after,
.arrow-up-after{
    position: relative;
}

.arrow-down-after::after {
	width: 0px;
	height: 0px;
	position: absolute;
	border-top: 20px solid #007BFF;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	top: 51px;
	content: '';
	display: block;
	left: 50%;
	margin-left: -20px;
}

.arrow-right-after::after {
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 20px solid #007BFF;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	top: 50%;
	content: '';
	display: block;
	margin-top: -20px;
	right: -20px;
}

.arrow-up-after::after {
	width: 0px;
	height: 0px;
	position: absolute;
	border-bottom: 20px solid #007BFF;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	bottom: 51px;
	content: '';
	display: block;
	left: 50%;
	margin-left: -20px;
}

.arrow-left-after::after {
	width: 0px;
	height: 0px;
	position: absolute;
	border-right: 20px solid #007BFF;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	top: 50%;
	content: '';
	display: block;
	margin-top: -20px;
	left: -20px;
}


/*List Style 1*/ 
ul.list-style1 li {
	color: #fff;
	padding: 10px;
	background: rgba(0,0,0,0.1) !important;
	margin-bottom: 5px;
	border-radius: 0px !important;
	border: none;
}

ul.list-style1 li a {
        color:#ffffff;
        display:block;
        text-decoration: none; 
}

ul.list-style1 li:hover {
        background: rgba(0,0,0,0.2) !important;
}

/*List Style3*/
.list-style3 li {
	background: #000;
	margin: 0px !important;
	padding: 10px 15px;
	margin-bottom: 5px !important;
	border-radius: 0px !important;
}

.list-style3 li a {
	color: #f5e90b;
	display: inline-block;
	width: 100%;
	font-weight: bold;
}


/*Blink*/ 
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.alert-new {
	color: #ff0000;
	background: #ffffff;
	border-radius: 20px;
	padding: 4px;
	margin-left: -10px;
	margin-right: 5px;
}

/*Header*/
.logo_wr {
    max-width: 115px;
} 

.logo_wr a img {
	width: 200px;
}

/*Swithes*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:after {
    content: "OFF";
    color: #FFFFFF;
    font-size: 10px;
    padding-left: 33px;
    line-height: 38px;
    position: relative;
    top: -1px;
}

input:checked + .slider {
  background-color: #2699fb;
}

input:checked + .slider:after {
    content: "ON";
    padding-left: 7px;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2699fb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


 
/*Loader CSS*/
.loader_wr {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: rgba(255,255,255,0.8); 
    z-index: 1000;
}

.loader {
    border: 10px dotted #ff8800;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 3s linear infinite;
    position: fixed;
    z-index: 99999999;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
}
 

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*Login / Signup Form*/
.form-design {
    padding: 0;
    margin: 30px auto;
    max-width: 360px;
    width: 100%;
    background: #fff;
    color: #2699fb !important;
}

.form-heading {
    font-size: 30px;
    padding-bottom: 16px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #2699fb;
    line-height: 34px; 
}

.form-design .form_logo {
    margin-bottom: 20px;  
} 
  
.form-design p {
    margin-bottom: 15px;
}

.form-design select,
.form-design input[type="text"],
.form-design input[type="file"],
.form-design input[type="email"],
.form-design input[type="password"] { 
    margin-bottom: 10px;
    border: 2px solid #bce0fd;
    background: #f1f9ff;
    font-size: 14px;
    color: #2699fb !important;
    max-height: 46px;
    border-radius: 10px;
    padding: 11px 15px;
}
  
.form-design .checkbox {
    margin-bottom: 8px;
    margin-top: -5px;
   
}

.form-design .checkbox label {
	cursor: pointer;
	font-size: 12px;
	line-height: 25px;
}

.form-design .checkbox label input {
	position: relative;
	bottom: -1px;
}

.forgot_password {
	right: 0px;
	top: 34px;
	font-size: 9px;
	right: 7px;
	border: 1px solid #eeeeee;
	padding: 3px 5px 1px 5px;
	display: inline-block;
	line-height: 18px;
	background: #eeeeee;
	text-decoration: none !important;
}

.forgot_password:hover {
    color:#ffffff; 
    background: #007BFF;
}

.form-design.full-width-form {
    border: none;
    max-width: 100%;
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    box-shadow: none;
    padding: 20px;
}

.form-design .btn,
.form-design button,
.form-design input[type='submit'] {
    border-radius: 4px !important;
    width: 100% !important;
    margin: 30px auto 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px; 
    padding: 13px !important;
    max-width: 320px;
}

/*Admin*/
.page-dashboard {
   
    height:100vh;   
    overflow: scroll;
}
 

.header_section {
    height: 50px;
    z-index: 1000;
}

.logo_wr.adminlogo {
    max-width: 100%;
    text-transform: uppercase;
    text-align: left !important;
    padding-left: 52px;
}

.logo_wr.adminlogo a {
	text-decoration: none;
        font-size: 12px;
}
.logo_wr.adminlogo a span{
	font-size: 20px;
}

.admin_menus {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 200px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.admin_menus {
    min-height: 100vh;
    /*background-color: #2699fb;*/
    background: linear-gradient(136.3deg, #247EE5 0%, #0843BF 100%) !important;
}

.admin_menus .list-group-item {
    padding: 0;
    background: transparent;
    border: none; 
}

.admin_menus .list-group-item a {
    text-decoration: none;
    display: block;
    padding: 15px 10px 15px 50px;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}

.admin_menus .list-group-item:hover a,
.admin_menus .list-group-item.active {
    background: #007bff;     
    border:none; 
}

.admin_menus .list-group-item a i {
	position: absolute;
	left: 22px;
	top: 18px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
}

.top-notificationicons .list-inline-item {
	color: #fff;
	font-size: 16px;
	position: relative;
	margin: 0px;
        
}

.top-notificationicons .list-inline-item  .dropdown-toggle {
    cursor: pointer; 
    padding: 20px 20px;
}

.top-notificationicons .list-inline-item.show,
.top-notificationicons .list-inline-item:hover {
    background: rgba(0,0,0,0.1);
} 

.open .dropdown-menu {
    display:block !important; 
}

.top-notificationicons .dropdown-menu {
    font-size: 12px;
    border-radius: 0;
    right: 0px !important;
    left: unset !important;
    -moz-transform: translate3d(0, 58px, 0px) !important;
    -webkit-transform: translate3d(0, 58px, 0px) !important;
    -o-transform: translate3d(0, 58px, 0px) !important;
    -ms-transform: translate3d(0, 58px, 0px) !important;
    transform: translate3d(0, 58px, 0px) !important;
    box-shadow: 0px 2px 4px -3px rgba(0,0,0,0.5);
    max-height: 300px; 
    overflow-y: scroll; 
    margin-top:-9px;
    top: 0px;
}
 
.dropdown-menu.profile-icons {
    overflow: hidden;
}

.top-notificationicons .list-inline-item .profile-icons .dropdown-item {
	padding: 5px 15px 5px 30px;
}

.top-notificationicons .list-inline-item .dropdown-item i {
	position: absolute;
	left: 15px;
	top: 8px;
}

.top-notificationicons .badge-orange {
	position: relative;
	top: -12px;
	left: 6px;
	font-size: 10px;
}

a.menu-collapse {
    color: #fff;
    display: block;
    vertical-align: top;
}

.admin_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    height: 40px;
    font-size: 11px;
    padding: 10px 15px!important;
    z-index: 1000;
}

/*social links*/
ul.footer_social_links {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.footer_social_links li {
    display: inline-block;
}

ul.footer_social_links li a {
    color: #fff;
    width: 25px;
    display: inline-block;
}

/*Shortmenu*/ 
.shortmenu .admin_menus {
    width: 100px;
}

.shortmenu .logo_wr.adminlogo {
    padding-left: 13px;
}

.shortmenu .admin_menus .list-group-item a {
    font-size: 0px;
    padding: 15px 0;
    text-align: center; 
}

.shortmenu .admin_menus .list-group-item a i {
    font-size: 25px;
    position: static;
}

.shortmenu .logo_wr.adminlogo a {
    font-size: 15px;
} 
 
.shortmenu .page-dashboard {
    /*padding-left: 100px;*/
} 

.search-field-wr .fas {
    top: 1px;
    left: 15px;
    padding: 10px;
    color: #ccc;
}

.search-field-wr input {
	padding-left: 32px;
}

/*Date Picker*/
.datepicker.datepicker-dropdown {
	font-size: 12px;
	padding: 12px;
	/*left: unset !important;*/
	/*right: 69px;*/
	margin-top: 7px;
}

.datepickerwr i {
	position: absolute;
	top: 9px;
	right: 10px;
	color: #666666;
} 

.subm_extra_options select.form-control, .subm_extra_options .form-control option, .subm_extra_options .form-control {
	padding: 3px;
	height: 30px !important;
	margin-bottom: 5px;
}

.subm_extra_options input[type="checkbox"],
.subm_extra_options input[type="radio"] {
    margin-right: 4px; 
}
  
.subm_extra_options input[type="file"] {
    height: auto  !important; 
}

.add_new_link {
    text-decoration: underline; 
    font-size: 12px; 
}

.clientnameselected {
    position: absolute;
    width: 241px;
    top: 1px;
    left: 18px;
    height: 33px;
    padding: 7px 15px 7px 11px;
    background: #ffffff;
    margin: 0;
    display:none; 
}

.clientnameselected span {
    font-size: 24px;
    font-weight: bold;
    line-height: 12px;
    position: absolute;
    right: 8px;
    top: 11px;
    cursor: pointer; 
}

.clientsearchresult.active {
    top: 2px;
    width: auto;
    padding: 0 0 0 0;
    border: none;
    box-shadow: none;
    left: 17px;
}

.clientsearchresult ul li span {
    display: none; 
}

.clientsearchresult.active ul li span {
    position: absolute;
    right: 5px;
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
    display: block;
    top: 6px;
}

.clientsearchresult.active li.list-group-item {
    border: none;
    font-size: 14px;
    padding-right: 25px;
}

.clientsearchresult .alert {
    font-size: 12px;
} 

.clientsearchresult .alert button {
    font-size: 18px;
}

span.cs_alert {
    position: absolute;
    right: 25px;
    top: 2px;
    font-size: 11px;
}

._hide_fields input{
    visibility: hidden; 
    width: 0px;
}

.candiate_emailalert {
    display:none;
}

.email_exists .candiate_emailalert{
    display:block; 
}

._hidden_fields {
    display:none !important; 
}

._hidden_fields.show {
    display:inline-block !important; 
}

.table td, .table th {
    border-top: 1px solid #999;
}

tr.prime_req_row {
    /*box-shadow: inset 3px 0px 0px 0px #ff5533 !important;*/
    background:#f9b3c722 !important; 
}

table.dataTable tbody td:first-child {
    text-align: center;
}

table .form-control {
    font-size: 12px;
}

.custom-select {
    height: 35px; 
}

.alert.ra_alert {
    margin: 0px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    line-height: 13px;
    height: 35px;
}   

/*Page Default*/ 
.page-default {
    padding-top: 100px; 
    min-height: 100vh; 
} 

/*Design 2*/
.btn:hover,
.btn {
    font-weight: bold;
    font-size: 14px;
    padding: 8px 15px;
} 

.btn-primary:hover,
.btn-primary {
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	background: linear-gradient(136.3deg, #247EE5 0%, #0843BF 100%);
	cursor: pointer;
}

.btn-outline-primary {
    color: #2699fb;
    border-color: #2699fb;
    font-weight: bold;
    padding: 6px 15px;
}

.btn-outline-primary {
    color: #2699fb;
    border-color: #2699fb;
}

.btn-outline-primary:hover,
.btn-outline-primary.focus, 
.btn-outline-primary:focus {
    box-shadow: none;
    background-color: #2699fb;
}

.bg-primary {
	background-color: #2699fb !important;
}
 
.btn150 {
    width: 150px;
}

.btndisabled {
    pointer-events: none;
    opacity: 0.5; 
}

.form-design  {
    border-top-color: #2699fb !important;   
}

.profile-thumb-small {
    color: #fff;
    line-height: 42px;
    height: 40px;
    padding: 0;
    display: inline-block;
}

.top-notificationicons .list-inline-item .dropdown-toggle.profile_toggle {
    padding: 5px;
}

.profile-thumb-small.dropdown-toggle::after {
	display: none; 
} 

.badge-orange {
    background: #ff8800; 
    color:#fff;
}

.add_candiate_popup .row {
    margin-bottom: 20px; 
}

.modal-open-custom{
    overflow: hidden;
}

.modal-open-custom .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.recruiter_lead_names, 
.sales_lead_names {
    display:none; 
}

.recruiter_lead_names.show, 
.sales_lead_names.show {
    display:flex !important;  
}
    
.informationforsubmittal tr._hidden_row {
    opacity: 0.5;
    background: #fff3f3 !important;
}  

.richText-toolbar ul {
    margin:0px;
    padding:0px; 
} 

.richText .richText-editor {
    height: auto;
    overflow: unset; 
    min-height: 300px !important;  
}
 
.richText .richText-toolbar ul li a .richText-dropdown-outer .richText-dropdown {
    z-index: 100; 
}

.client_about_status {
    display:none; 
}
  
.form-design.min_post_requirement_form select,
.form-design.min_post_requirement_form input[type="text"],
.form-design.min_post_requirement_form input[type="email"],
.form-design.min_post_requirement_form input[type="password"] { 
	margin-bottom: 7px; 
}  



/*New Changes - Add Submittal*/
.feedbackinformation, .informationforsubmittal, .consultant_information {
    font-size: 12px;
    line-height: 15px;
    padding: 5px !important;
}

.feedbackinformation .ci_heading,
.informationforsubmittal .ci_heading,
.consultant_information .ci_heading {
    font-size: 16px;
    line-height: 20px;
    margin: 0px !important;
    padding: 10px 0;
}

.consultant_information strong {
    font-weight: 600;
}

.informationforsubmittal input.form-control {
    margin: 0px !important;
    border: none;
    border-radius: 0px;
}

.informationforsubmittal a.btn.add_employer_link {
    font-size: 8px;
    position: absolute;
    right: 2px;
    top: 6px;
    border-radius: 2px;
    line-height: 10px;
    font-weight: 600;
    padding: 5px;
}

.subm_extra_options {
    padding: 10px 5px 8px 5px !important;
    margin-bottom:10px;
}

.informationforsubmittal tr td:first-child {
    font-size: 10px;
    line-height: 12px;
    vertical-align: middle;
    width: 50%; 
}

.informationforsubmittal tr td:nth-child(2n) {
    padding: 2px;
    position: relative;
}

/*View Submittal*/
.feedbackinformation .btn {
    font-size: 12px;
    padding: 5px;
    line-height: 18px;
    border-radius: 0px;
    background: #ee0000;
    width: 100%;
}

.feedbackinformation .form-control {
    font-size: 12px;
    height: 30px !important;
    border-radius: 2px;
    padding: 5px;
}

/*Requirement List Changes*/ 

a.feedback_status span,
a.feedback_status {
    color: #ff0000;
}

a.feedback_status.submittal_closed span, 
a.feedback_status.feedback_Closed { 
    color: #007bff;  
}

a.req_chat_icon {
    color: #ff8800;
    margin: 0 auto;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    width: 100%;
    display: block;
}

a.req_chat_icon:hover  {
    color:#2699fb !important;
}


#candidatesearchform {
    position: relative; 
}

.checkboxes_design {
    border: 1px solid #ced4da;
    padding: 5px 10px 0px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
}

.checkboxes_design label {
    margin-bottom: 2px;
}

#candidatesearchform .loader,
#candidatesearchform .loader_wr,
.checkboxes_design .loader,
.checkboxes_design .loader_wr {
    position: absolute; 
}

#candidatesearchform .loader {
    width: 30px;
    height: 30px;
    border: 5px solid #ff8800;
    border-bottom: 5px solid #efefef;
    animation: spin 1s linear infinite;
}

input.form-control.btn-outline-danger { 
    background: #fff !important;
}

.resume_data {
    background: #ffffff;
    text-align: left; 
    padding:0 10px 40px 10px;
    font-size: 12px;
}

.resume_heading {
    font-weight: bold;
    text-align: center;
    position: relative;
    height: 55px;
}

.resume_heading a {
    position: absolute;
    right: 0px;
}

.subm_extra_options input[type="text"] {
    border: 1px solid #eee;
    padding: 3px;
    margin: 5px 0 !important;
    height: 25px !important;
}

.foreced_notes textarea {
        width: 282px;
        box-shadow: 1px 2px 1px 1px #efefef;
        position: absolute;
        top: 33px;
        height: 50px;
        border: 1px solid #ced4da;
        padding: 8px;
        background: #ffffff;
        z-index: 1;
}

.foreced_notes a.btn {
        display: block;
        width: 50px !important;
        top: 57px;
        color:#ffffff;
}

/*Different color rows*/

table.dataTable tbody tr.color_row td {
    border-top-color: #2699fb !important; 
    border-top-width: 2px;
}

/*Members Page Filter*/
form.list_filter_date label {
    font-size: 11px;
    margin: 0px;
    font-weight: 600;
}

form.list_filter_date select option, form.list_filter_date select {
    padding: 5px;
    height: 30px !important;
    font-size: 12px;
}

form.list_filter_date .btn {
    font-size: 12px;
    margin-top: 21px;
    line-height: 15px;
    width: auto;
    margin-right: 11px !important;
}

#candidatesearchtable tr td { 
    position: relative !important;
} 

#candidatesearchtable tr td span.badge {
    position: absolute !important;
    right: 0px;
    bottom: 0px;
    font-size: 8px;
    border-radius: 0;
}

textarea.keywords_search {
    height: 35px;
    overflow: hidden;
    margin-bottom: 11px;
}

.employer_aboutbox {
    display:none; 
} 

.request_box_wr {
    position: relative;
}

.request_box {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 6px -2px #000;
    position: absolute;
    top: 49px;
    width: 300px;
    right: 5px;
    height: 128px;
    padding: 10px;
}

.request_box textarea{
    border: 1px solid #ccc;
    width: 100%;
    height: 80px;
    padding:5px;
}

.request_box a.btn {
    font-size: 10px;
    margin-top: 4px;
    float: right;
}

div.request_box::before {    
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
  display:block;
}
 
.select_candiates_wr {
    text-align: center;
}

.visa_search_autocomplete,
.state_search_autocomplete { 
    position: relative; 
}

.visa_search_autocomplete ul,
.state_search_autocomplete ul {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: left;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.17);
    left: 0px;
}

.visa_search_autocomplete .list-group-item,
.state_search_autocomplete .list-group-item {
    font-size: 12px;
    border-radius: 0px;
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
} 


/*Administrator Dashboard*/
.administrato_dashboard {
	display: block;
	width: 100%;
	min-height: 100vh;
}

.administrato_dashboard .form-row {
	margin-bottom: 10px;
}

.administrato_dashboard h2 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #666;
}

/*Add Blog Design*/
.add_blog_design {
    padding: 30px 30px 90px 30px;
    color: #2699fb;
    max-width: 1130px; 
}

.add_blog_design .form-group {
    position: relative;
}

.add_blog_design .form-group label {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 34px;
    left: 15px;
} 

.add_blog_design .form-group textarea,
.add_blog_design .form-group select,
.add_blog_design .form-group input {
    border: 1px solid #2699fb;
    border-radius: 0;
    color: #2699fb;
}

.add_blog_design .form-group.blog_sub_title input,
.add_blog_design .form-group.blog_title input {
    padding-left: 100px;
    border: 1px solid #2699fb;
    border-radius: 26px;
}

.add_blog_design .form-group.blog_sub_title input {
    padding-left: 130px;
}

.add_blog_design .form-group.blog_custom_url h5 {
    font-size: 16px;
    font-weight: bold;
}

.add_blog_design .form-group.blog_custom_url label.switch {
    left: 7px;
}

.add_blog_design .form-group .custom_url_field label {
    background: #2699fb;
    color: #fff;
    left: 6px;
    bottom: -7px;
    padding: 0 10px;
    font-weight: bold;
}

.add_blog_design .form-group .custom_url_field input {
    padding-left: 80px;
} 

.add_blog_design .form-group.featured_image_field label,  
.add_blog_design .form-group.blog_meta_title label {
    background: #2699fb;
    color: #fff;
    left: 0px;
    padding: 1px 10px;
    height: 100%;
}

.add_blog_design .form-group.featured_image_field label {
    line-height: 39px;
}

.add_blog_design .form-group.blog_meta_desc label {
    background: #2699fb;
    color: #fff;
    left: 0px; 
    padding: 1px 10px;
    height: 100%; 
    position: static;
}

.add_blog_design .form-group.blog_meta_title input {
    padding-left: 97px !important;
}

.add_blog_design .form-group.featured_image_field input {
    padding-left: 180px;   
}  

.add_blog_design .form-group.blog_meta_desc label {
    margin-bottom: 0;
}

.add_blog_design .form-group.save_blog_btn button {
    color: #fff !important;
    border-radius: 0px;
}  

/*Editor Design*/ 
.ck-content {
    min-height: 200px;
}

/*Blog List Page*/
.blog_list_design .custom_lbloglist .custom-select {
    max-width: 300px;
    width: 100%;
}

.blog_list_design .custom_lbloglist .custom-checkbox {
    display: inline-block;
    margin-right: 15px;
    margin-top: 0px;
    cursor: pointer;
    position: relative;
    top: 1px;
    right: 22px;
}

.blog_list_design .custom_lbloglist .custom-checkbox label {
    margin: 8px;
    font-size: 0px;
}

.custom_lbloglist .btn {
    padding: 7px 20px;
}  

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #2699fb !important;
}

.blog_list_design .form-group.blog_search_field {
    position: relative;
    float: right;
} 

.blog_list_design .form-group.blog_search_field input {
    width: 300px;
}

.blog_list_design .form-group.blog_search_field .btn {
    border-radius: 0px;
    position: absolute;
    right: 0;
    left: unset;
    bottom: 0;
    height: 34px;
    padding: 11px;
    line-height: 8px;
}

.blog_list_design .btn {
    border-radius: 0px;
}  

.apply_now_btn {
    /*max-height: 34px;*/
    line-height: 17px; 
}

#blog_list_table_filter {
    position: relative;
    border: 1px solid #2699fb;
    border-radius: 0;
    color: #2699fb;
    width: 300px;
    height: 34px;
    padding-left: 11px;
    text-align: left;
    padding-top: 0px;
    margin-bottom: 20px;
}

#blog_list_table_filter input {
    position: relative;
    border: none !important;
    top: 0px;
    width: 228px;
    height: 32px;
    box-shadow: none !important; 
    outline: none;
}

#blog_list_table_filter label::after {
    border-radius: 0px;
    position: absolute;
    right: 0;
    left: unset;
    bottom: 0;
    height: 32px;
    padding: 11px;
    line-height: 8px;
    content: '';
    display: inline-block;
    background-color: #2699fb !important;
    width: 38px; 
    background-image: url('../images/search_icon.png');
    background-repeat: no-repeat;
    background-position: 8px 5px;
}

/*Progress Bar*/

.progress {
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #bce0fd; 
} 

.progress-bar {
    background-color: #2699fb !important; 
    border-radius: 20px;
}

/*Data Table*/


/*Profile Design*/

.profile_page_design {
    margin-top: 50px;
}

.profile_page_design input[type='file'] {
    padding-top: 7px;
}

.profile_page_design .profile_img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
}
 
/*CSS Editor*/ 
.css_editor {
    padding: 30px 30px 90px 30px;
    color: #2699fb;
    max-width: 1130px;
} 

.css_editor h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}
.CodeMirror, 
.css_editor textarea {
    width: 100%;
    border: 2px solid #2699fb;
    height: 250px !important; 
}

.css_editor .last_modified {
    background: #f1f9ff;
    padding: 4px 20px;
    border: 1px solid #2699fb;
    display: inline-block;
    width: 100%;
    line-height: 38px;
    margin-bottom: -1px;
}

.css_editor .last_modified .btn {
    padding: 8px 26px;
} 
 
/*Settings Page Design*/
.settings_page_design {
    padding: 30px 30px 90px 30px;
    max-width: 1130px;
}

.settings_page_design .form-group textarea, 
.settings_page_design .form-group select, 
.settings_page_design .form-group input {
    color: #2699fb;
    max-width: 400px;
}

.settings_page_design label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    width: 100%; 
}

.settings_page_design .social_media_settings .form-group {
    position: relative;
}

.settings_page_design .social_media_settings i {
    position: absolute;
    color: #fff;
    background: #2699fb;
    height: 35px;
    width: 35px;
    text-align: center; 
    padding: 11px 0;
    left: 0px;
    bottom: 0px;
} 
  
.settings_page_design .social_media_settings .form-group input.form-control {
    border-radius: 0px;
    padding-left: 45px;
}
  
.settings_page_design button {
    margin-right: 115px;
}  

.already_inuse {

    position: absolute;
    z-index: 1000;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    padding: 46px 0;
    color: #000;
    text-align: center;

}


.lightboxOverlay, 
.lightbox {
     z-index: 99999 !important; 
}

.fancybox {
    max-width: 100px;
    max-height: 100px;
}

.verify_username_wr {
    position: relative;
}

.verify_username_wr .vs_msg {
    position: absolute;
    right: 1px;
    top: 1px;
    background: #fff;
    padding: 6px;
    font-size: 11px;
    width: 95px;
    text-align: center;
    font-weight: bold;
}


/*Dashboard Cards*/
 

.card.dash_card i {
    position: absolute;
    color: rgba(8, 67, 191, 0.2);
    font-size: 100px;
    left: 46px;
    top: 29px;
}

.card.dash_card a {
    text-decoration: none;
}

.card.dash_card a span {
    font-size: 20px;
    text-align: right;
    display: block;
    width: 100%;
    color: #0843BF;
}

.card.dash_card b {
    font-size: 40px;
    display: block;
    width: 100%;
    padding: 8px 1px;
    margin-top: 10px;
    text-align: right;
}

.card.dash_card:hover {
	box-shadow: 0 0 10px -1px #0843BF;
	 -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-color:#fff;
}

 /*Data Table Overwrite*/
  
  /*Data Table - Pagination*/

.dataTables_wrapper {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px 15px;
    border-radius: 4px;
}

.dataTables_paginate a.paginate_button {
    border: 1px solid #2699fb !important;
    background: #ffffff !important;
    font-size: 12px;
    min-width: 35px !important;
    line-height: 16px;
}

.dataTables_paginate a.paginate_button.current {
    background: #2699fb !important;
    color: #ffffff !important;
}    

.dataTables_paginate {
    margin-top: 15px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #ff8800 !important;
}

.dataTables_length select {
    height: 35px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color:#2699fb !important;  
}
 
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color:#ffffff !important;  
}

.dataTable thead, .dataTable thead tr, .dataTable thead tr th {
    border: none;
    background-color: #f6f6f6;
    color: #666;
}


.dataTables_length select, 
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    width: 300px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.dataTables_length select {
	width: auto;
}

table tbody tr td a.btn {
    padding: 2px !important;
    width: 60px;
    text-align: center;
    margin-bottom: 3px;
    border-radius: 4px !important; 
    text-transform: uppercase; 
}


table.dataTable.no-footer {
    border-bottom: 1px solid #111;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
    background: #007BFF;
    color: #ffffff;
}

/*Login page design start*/
 
.Form_card label.form_label {
    z-index: 1000;
    margin: 7px 0 0 0;
    left: 17px;
    font-size: 12px;
}
.Form_card .card-body input.input_form{
    padding: 28px 0px 10px 0px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 22px;
}
.Form_card .card-body label.form_label-1 {
    margin-top: 95px!important;
    left: 126px;
    z-index: 2;
}
.Form_card .card-body i.far.fa-eye-slash {
    position: absolute;
    right: 17px;
    top: calc(50% - 18px);
}

.admin_logo{
  height: 80px;
  width: 80px;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;   
}
/*------------------------*/
.name-box-signin label {
    color: #8194A6;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}​

.btn-signup, .btn-signin, .btn-verify {
    height: 56px;
    font-size: 16px;
}

.dashed_border {
	border:3px dashed #ccc;
}

.upload_csv_input {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

table.dataTable thead th, table.dataTable thead td {
	width: auto !important;
}

.table_wr_full {
	width: 100%;
	overflow-x: scroll;
}


.table_wr_full tr th:nth-child(4) {
	min-width: 150px;
}

.table_wr_full tr th:nth-child(5) {
	min-width: 150px;
}

.table_wr_full tr th:nth-child(7),
.table_wr_full tr th:nth-child(6) {
	min-width: 100px;
}

.table_wr_full tr th:nth-child(8) {
	min-width: 120px;
}


.table_wr_full tr th:nth-child(12),
.table_wr_full tr th:nth-child(11),
.table_wr_full tr th:nth-child(10) {
	min-width: 120px;
}

.table_wr_full tr th:nth-child(12) {
	min-width: 150px;
}


.table_wr_full tr th:nth-child(16),
.table_wr_full tr th:nth-child(15),
.table_wr_full tr th:nth-child(14),
.table_wr_full tr th:nth-child(13) {
	min-width: 230px;
}