<!DOCTYPE html>
<html lang="en-US">

 

    <!-- required Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=BenchNine:wght@400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- required CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
    <link rel="stylesheet" href="../css/slick.css" />
    <link rel="stylesheet" href="../css/slick-theme.css" />
    <link rel="stylesheet" href="../css/components.css" />
    <link rel="stylesheet" href="../css/utils.css" />
    <link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/responsive.css" />
	<link rel="stylesheet" href="../css/learning-lp.css" />
 
</head>
<body>
<section class="py_30 bg-light">
<div class="container">
<div class="row">
		<div class="col-12"><h2 class="text-center mb-5">Alerts</h2></div>
		
		<div class="card cui2 w-100">
			<div class="cbody">
				<code class="mb_10">alertui1 / alertui</code>
				<div class="alert alert-success alertui1">
					This is a test alert message.
				</div>

				<code class="mb_10">alertuis</code>
				<div class="alert alert-success alertuis">
					This is a test alert message.
				</div>
				
				<code class="mb_10">alertui2 / alertb</code>
				<div class="alert alert-success alertb">
					This is a test alert message.
				</div>

				<code class="mb_10">alertui3 / alertrc</code>
				<div class="alert alert-success alertrc">
					This is a test alert message.
				</div>

				<code class="mb_10">alertui4 / alertbrc</code>
				<div class="alert alert-success alertbrc">
					This is a test alert message.
				</div>

				<code class="mb_10">alertui5 / alertrcs</code>
				<div class="alert alert-success alertrcs">
					This is a test alert message.
				</div>

				<hr>
				<code class="mb_10">alertui5 / alertrcs</code>
				<div class="alert alert-success dismissible alertrcs fade show">
					<h4 class="alert-heading">Well done!</h4>
					<p><strong>Holy guacamole!</strong> You should check in on some of those fields below.</p>
					<div class="text-center"><a href="#" class="btn btn-primary btnui3">Button</a></div>
					<button type="button" class="close fixed_top_right" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
				</div>
				
				<hr>
				<code class="mb_10">alertrcs + dismissible + close</code>
				<div class="alert alert-success alertrcs dismissible fade show" role="alert">
					<strong>Holy guacamole!</strong> You should check in on some of those fields below.
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				</div>
		</div>
	 
</div>

</div>
</section>

	<!-- Script -->
	<!-- jQuery -->
	<script src="../js/jquery.min.js" type="text/javascript"></script> 

		<!-- Popper JS -->
	<script src="../js/popper.min.js" type="text/javascript"></script>

	<!-- Bootstrap -->
	<script src="../js/bootstrap.min.js" type="text/javascript"></script>

	<!-- Slick Slider -->
	<script type="text/javascript" src="../js/slick.min.js"></script>

	<!-- Custom Script -->
	<script type="text/javascript" src="../js/custom.js"></script>

</body>
</html>  