<section class="py_30 bg-light">
<div class="container">
<div class="row">
		<div class="col-12"><h2 class="text-center mb-5">Alerts</h2></div>
    
    <div class="col-12 col-md-6">

      <div class="card cui2 w-100">
        <div class="cbody">
          <div class="codebefore relative">
            <code class="mb_10">alertui1 / alertui</code><span class="copycode">Copy Code</span>
          </div>
          <div class="copythis">
            <div class="alert alert-success alertui1">
              This is a test alert message.
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="card cui2 w-100">
        <div class="cbody">
          <div class="codebefore relative">
            <code class="mb_10">alertuis</code><span class="copycode">Copy Code</span>
          </div>
          <div class="copythis">
            <div class="alert alert-success alertuis">
              This is a test alert message.
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="card cui2 w-100">
        <div class="cbody">
          <div class="codebefore relative">
            <code class="mb_10">alertui2 / alertb</code><span class="copycode">Copy Code</span>
          </div>
          <div class="copythis">
            <div class="alert alert-success alertb">
              This is a test alert message.
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="card cui2 w-100">
        <div class="cbody">
          <div class="codebefore relative">
            <code class="mb_10">alertui3 alertrc</code><span class="copycode">Copy Code</span>
          </div>
          <div class="copythis">
            <div class="alert alert-success alertrc">
              This is a test alert message.
            </div>
          </div>
        </div>
      </div>
    
    </div>

    <div class="col-12 col-md-6">

      <div class="card cui2 w-100">
        <div class="cbody">
          <div class="codebefore relative">
            <code class="mb_10">alertui3 alertbrc</code><span class="copycode">Copy Code</span>
          </div>
          <div class="copythis">
            <div class="alert alert-success alertbrc">
              This is a test alert message.
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="card cui2 w-100">
        <div class="cbody">
          <div class="codebefore relative">
            <code class="mb_10">alertui3 alertrcs</code><span class="copycode">Copy Code</span>
          </div>
          <div class="copythis">
            <div class="alert alert-success alertrcs">
              This is a test alert message.
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="card cui2 w-100">
        <div class="cbody">
          <div class="codebefore relative">
            <code class="mb_10">alertui3 alertrcs</code><span class="copycode">Copy Code</span>
          </div>
          <div class="copythis">
            <div class="alert alert-success dismissible alertrcs fade show">
              <h4 class="alert-heading">Well done!</h4>
              <p><strong>Holy guacamole!</strong> You should check in on some of those fields below.</p>
              <div class="text-center"><a href="#" class="btn btn-primary btnui3">Button</a></div>
              <button type="button" class="close btn-close fixed_top_right" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="card cui2 w-100">
        <div class="cbody">
          <div class="codebefore relative">
            <code class="mb_10">alertui3 dismissible close</code><span class="copycode">Copy Code</span>
          </div>
          <div class="copythis">
            <div class="alert alert-success alertrcs dismissible fade show" role="alert">
              <strong>Holy guacamole!</strong> You should check in on some of those fields below.
              <button type="button" class="close btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>

</div>
</section>