<section class="py_30 bg-light">
<div class="container">
<div class="row">
		<div class="col-12"><h2 class="text-center mb-5">Buttons</h2></div>
		
		<div class="card cui2 w-100">
			<div class="cbody">
				<div class="row">

					<div class="col">
            <div class="codebefore relative">
              <code class="mb_10">btnui1</code><span class="copycode">Copy Code</span>
            </div>
            <div class="copythis">
              <a href="#" class="btn btn-primary btnui1">Button</a>
            </div>
					</div>

          <div class="col">
            <div class="codebefore relative">
              <code class="mb_10">btnui1s</code><span class="copycode">Copy Code</span>
            </div>
            <div class="copythis">
              <a href="#" class="btn btn-primary btnui1s">Button</a>
            </div>
					</div>

          <div class="col">
            <div class="codebefore relative">
              <code class="mb_10">button btnui1</code><span class="copycode">Copy Code</span>
            </div>
            <div class="copythis">
              <a href="#" class="btn btn-primary btnui1">Button</a>
            </div>
					</div>

          <div class="col">
            <div class="codebefore relative">
              <code class="mb_10">button btnui1</code><span class="copycode">Copy Code</span>
            </div>
            <div class="copythis">
              <a href="#" class="btn btn-primary btnui1"><i class="fas fa-spinner fa-spin mr_10"></i> Button</a>
            </div>
					</div>

				</div>
				<hr>
				<div class="row">
          
          <div class="col">
            <div class="codebefore relative">
              <code class="mb_10">btn btnui2</code><span class="copycode">Copy Code</span>
            </div>
            <div class="copythis">
              <a href="#" class="btn btn-primary btnui2">Button</a>
            </div>
					</div>

          <div class="col">
            <div class="codebefore relative">
              <code class="mb_10">btn btnui2</code><span class="copycode">Copy Code</span>
            </div>
            <div class="copythis">
              <a href="#" class="btn btn-primary btnui2">Button</a>
            </div>
					</div>

          <div class="col">
            <div class="codebefore relative">
              <code class="mb_10">btn btnui2s</code><span class="copycode">Copy Code</span>
            </div>
            <div class="copythis">
              <a href="#" class="btn btn-primary btnui2s">Button</a>
            </div>
					</div>

				</div>
				<hr>
				<div class="row">

          <div class="col">
            <div class="codebefore relative">
              <code class="mb_10">btn btnui3</code><span class="copycode">Copy Code</span>
            </div>
            <div class="copythis">
              <a href="#" class="btn btn-primary btnui3">Button</a>
            </div>
					</div>

          <div class="col">
            <div class="codebefore relative">
              <code class="mb_10">btn btnui3s</code><span class="copycode">Copy Code</span>
            </div>
            <div class="copythis">
              <a href="#" class="btn btn-primary btnui3s">Button</a>
            </div>
					</div>

          <div class="col">
            <div class="codebefore relative">
              <code class="mb_10">btn btnui3s</code><span class="copycode">Copy Code</span>
            </div>
            <div class="copythis">
              <a href="#" class="btn btn-primary btnui3s"><i class="fas fa-spinner fa-spin mr_10"></i> Button</a>
            </div>
					</div>

				</div>
			</div>
		</div>
	 
	</div>
	<!-- Row End --> 
</div>
</section>