 
<section class="py_30 bg-light">
<div class="container">
<div class="row">
		<div class="col-12 col-sm-6">
      <div class="codebefore relative">
        <code>fui + fui1 / fui1r / fui1p</code><span class="copycode">Copy Code</span>
      </div>
      <div class="copythis">
        <div class="card cui2 py_40 px_30" >
          <div class="card-body">
            <div class="card-title">
              Get In Touch
            </div>
            <form class="fui fui1p" action="" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <input name="name" value="" type="text" class="form-control" placeholder="Name"  />
              </div>
              <div class="form-group">
                <input name="phone" value="" type="text" class="form-control" placeholder="Phone" /> 
              </div>
              <div class="form-group">
                <input name="company_name" value="" type="text" class="form-control" placeholder="Company Name" />
              </div>
              <div class="form-group">
                <textarea placeholder="Message" name="message" class="form-control" ></textarea>
              </div>
              <div class="form-group text-center">
                <input class="btn btn-primary btnui3" type="submit" name="submit" value="Submit" />
              </div>
            </form>
          </div>
        </div>
      </div>
 		</div>
		<div class="col-12 col-sm-6">
      <div class="codebefore relative">
        <code>fui + fui2 / fui2r / fui2p</code><span class="copycode">Copy Code</span>
      </div>
      <div class="copythis">
        <div class="card cui2 py_40 px_30" >
          <div class="card-body">
            <div class="card-title">
              Get In Touch
            </div>
            <form class="fui fui2" action="" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <input name="name" value="" type="text" class="form-control" placeholder="Name"  />
              </div>
              <div class="form-group">
                <input name="phone" value="" type="text" class="form-control" placeholder="Phone" /> 
              </div>
              <div class="form-group">
                <input name="company_name" value="" type="text" class="form-control" placeholder="Company Name" />
              </div>
              <div class="form-group">
                <textarea placeholder="Message" name="message" class="form-control" ></textarea>
              </div>
              <div class="form-group">
                <input class="btn btn-primary btnui2" type="submit" name="submit" value="Submit" />
              </div>
            </form>
          </div>
        </div>
      </div>
		</div>
		<div class="col-12 col-sm-6">
      <div class="codebefore relative">
        <code>fui fui3 / fui3r / fui3p</code><span class="copycode">Copy Code</span>
      </div>
      <div class="copythis">
        <div class="card cui2 py_40 px_30" >
          <div class="card-body">
            <div class="card-title">
              Get In Touch
            </div>
            <form class="fui fui3" action="" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <input name="name" value="" type="text" class="form-control" placeholder="Name"  />
              </div>
              <div class="form-group">
                <input name="phone" value="" type="text" class="form-control" placeholder="Phone" /> 
              </div>
              <div class="form-group">
                <input name="company_name" value="" type="text" class="form-control" placeholder="Company Name" />
              </div>
              <div class="form-group">
                <textarea placeholder="Message" name="message" class="form-control" ></textarea>
              </div>
              <div class="card-actions text-center">
                <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
              </div>
            </form>
          </div>
        </div>
      </div>
		</div>
		<div class="col-12 col-sm-6">
      <div class="codebefore relative">
        <code>fui fui4</code><span class="copycode">Copy Code</span>
      </div>
			<div class="card cui2 py_40 px_30" >
        <div class="copythis">
			   <div class="card-body">
				   <div class="card-title">
					   Get In Touch
				   </div>
				   <form class="fui fui4" action="" method="post" enctype="multipart/form-data">
					   <div class="form-group">
							<label class="">Name</label>
							<input name="name" value="" type="text" class="form-control" placeholder="Enter your name."  />
					   </div>
					   <div class="form-group">
							<label class="">Phone</label>
							<input name="phone" value="" type="text" class="form-control" placeholder="Enter your phone number." /> 
					   </div>
					   <div class="form-group">
						   <label class="">Company Name</label>
						   <input name="company_name" value="" type="text" class="form-control" placeholder="Enter your company name." />
					   </div>
					   <div class="form-group">
							<label class="">Message</label>
						   <textarea placeholder="Enter your message" name="message" class="form-control" ></textarea>
					   </div>
					   <div class="card-actions text-center">
						   <input class="btn btn-primary w-100" type="submit" name="submit" value="Submit" />
					   </div>
				   </form>
			   </div>
		   </div>
      </div>
	   </div>
	</div>
</div>
</section>
 