 
	<section class="py_30 bg-light">
		<div class="container">
		<div class="row">
		<div class="col-12"><h2 class="text-center mb-5">Listing</h2></div>
		
		<div class="col-12 col-sm-6">
			<div class="card cui1 w-100">
				<div class="cbody">
					<code class="mb_10">listing</code>
					<div class="listing">
						<div class="list-item">Lorem, ipsum dolor sit amet consecteturae!</div>
						<div class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></div>
					</div>
				 
				 
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6">
			<div class="card cui1 w-100">
				<div class="cbody">
			 
					<code class="mb_10">ul listing type2</code>
					<ul class="listing type2">
						<li class="list-item">Lorem, ipsum dolor sit amet consecteturae!</li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li>Lorem, ipsum dolor sit amet consecteturae!</li>
						<a href="#">Lorem, ipsum dolor sit amet consecteturae!</a>
					</ul>
		 
				 
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6">
			<div class="card cui1 w-100">
				<div class="cbody">
	 
					<code class="mb_10">ul listing type3</code>
					<ul class="listing type3">
						<li class="list-item">Lorem, ipsum dolor sit amet consecteturae!</li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li>Lorem, ipsum dolor sit amet consecteturae!</li>
						<a href="#">Lorem, ipsum dolor sit amet consecteturae!</a>
					</ul>
			 
				 
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6">
			<div class="card cui1 w-100">
				<div class="cbody">
		
					<code class="mb_10">ul listing licons</code>
					<ul class="listing type2 licons">
						<li class="list-item"><i class="fa fa-angle-right" aria-hidden="true"></i>
							Lorem, ipsum dolor sit amet consecteturae!</li>
						<li class="list-item"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>
							Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i>Lorem, ipsum dolor sit amet consecteturae!</li>
						<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>
							Lorem, ipsum dolor sit amet consecteturae!</a>
					</ul>
				 
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="card cui13 w-100">
				<div class="card-body">
		
					<code class="mb_10">ul listing type4 licons</code>
					<ul class="type4 listing licons">
						<li><i class="fas fa-check text-primary"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente, nemo molestias molestiae quod, repudiandae quos placeat aliquam ex provident quis vitae officia quae id.</li>
						<li><i class="fas fa-check text-primary"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente, nemo molestias molestiae quod, repudiandae quos placeat aliquam ex provident quis vitae officia quae id.</li>
						<li><i class="fas fa-check text-primary"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente, nemo molestias molestiae quod, repudiandae quos placeat aliquam ex provident quis vitae officia quae id.</li>
						<li><i class="fas fa-check text-primary"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente, nemo molestias molestiae quod, repudiandae quos placeat aliquam ex provident quis vitae officia quae id.</li>
						<li><i class="fas fa-check text-primary"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente, nemo molestias molestiae quod, repudiandae quos placeat aliquam ex provident quis vitae officia quae id.</li>
					</ul> 
				 
				</div>
			</div>
		</div>
	 
	</div>
	<!-- Row End --> 
</div>
</section>
 