 
<section class="py_30 bg-light">
<div class="container">
<div class="row">
		<div class="col-12"><h2 class="text-center mb-5">Buttons</h2></div>

    <div class="row">
      <div class="col-12">
        <marquee class="bg_yellow text_black f16 py_10" behavior="" direction="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error autem veritatis rerum excepturi laboriosam, eius aspernatur ducimus recusandae odio repellendus exercitationem mollitia iste, sit voluptatem eum? Ab odit et tenetur?
        </marquee>
      </div>
      <div class="col-12">
        <div class="bg-white box_shw2 px_10 flex align-items-center justify-content-center">
          <div class="marquee-label w_150">
            Latest News: 
          </div>
          <marquee class="text_black f16 py_10" behavior="" direction="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error autem veritatis rerum excepturi laboriosam, eius aspernatur ducimus recusandae odio repellendus exercitationem mollitia iste, sit voluptatem eum? Ab odit et tenetur?
          </marquee>
        </div>
      </div>
    </div>
  
	</div>
	<!-- Row End --> 
</div>
</section>
 