 
<section class="py_30 bg-light">
<div class="container">
<div class="rowq">
		<div class="col">
			<p>Light Pagination</p>
			<div class="pagination-ui">
				<a href="#" class="pprev">&laquo;</a>
				<a href="#">1</a>
				<a href="#" class="pcurrent">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#" class="pnext">&raquo;</a>
			</div>

			<p>Light Pagination</p>
			<div class="pagination-ui">
				<ul>
					<li><a href="#" class="pprev">&laquo;</a></li>
					<li>1</li>
					<li><a href="#" class="pcurrent">2</a></li>
					<li><a href="#">3</a></li>
					<li>4</li>
					<li>5</li>
					<li><a href="#" class="pnext">&raquo;</a></li>
				</ul>
			</div>

			<p>Light Pagination</p>
			<div class="pagination-ui">
				<a href="#" class="pprev f30">&lsaquo;</a>
				<a href="#">1</a>
				<a href="#" class="pcurrent">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#" class="pnext">&rsaquo;</a>
			</div>

			<p>Light Pagination</p>
			<div class="pagination-ui pui_center">
				<a href="#" class="pfirst">First</a>
				<a href="#" class="pprev">Prev</a>
				<a href="#">1</a>
				<a href="#" class="pcurrent">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#" class="pnext">Next</a>
				<a href="#" class="plast">Last</a>
			</div>

			<p>Dark Pagination</p>
			<div class="pagination-ui pui_dark">
				<a href="#" class="pfirst">First</a>
				<a href="#" class="pprev">Prev</a>
				<a href="#">1</a>
				<a href="#" class="pcurrent">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#" class="pnext">Next</a>
				<a href="#" class="plast">Last</a>
			</div>
		</div>
 
	</div>
	<!-- Row End --> 
</div>
</section>
 