 
<section class="common-section-ui">
 
<div class="container">
	<div class="form-row">
		<div class="col-12 col-sm-6">
			<div class="card cui2 py_40 px_30" >
				<div class="card-body">
					<div class="card-title">
						Search Form UI 1
					</div>
					<code>fui fui1 search-box</code>
					<form class="fui fui1" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<button class="btn btn-primary btnui1" type="submit" name="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</div>
					</form>
					<hr>
					<code>fui fui1r search-box</code>
					<form class="fui fui1r" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<button class="btn btn-primary btnui2" type="submit" name="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</div>
					</form>
					<hr>
					<code>fui fui1p search-box</code>
					<form class="fui fui1p" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<button class="btn btn-primary btnui3" type="submit" name="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="card cui2 py_40 px_30" >
				<div class="card-body">
					<div class="card-title">
						Search Form UI 2
					</div>
					<code>fui fui2 search-box</code>
					<form class="fui fui2" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<button class="btn btn-primary btnui1" type="submit" name="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</div>
					</form>
					<hr>
					<code>fui fui2r search-box</code>
					<form class="fui fui2r" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<button class="btn btn-primary btnui2" type="submit" name="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</div>
					</form>
					<hr>
					<code>fui fui2p search-box</code>
					<form class="fui fui2p" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<button class="btn btn-primary btnui3" type="submit" name="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="card cui2 py_40 px_30" >
				<div class="card-body">
					<div class="card-title">
						Search Form UI 3
					</div>
					<code>fui fui3 search-box</code>
					<form class="fui fui3" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<button class="btn btn-primary btnui1" type="submit" name="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</div>
					</form>
					<hr>
					<code>fui fui3r search-box</code>
					<form class="fui fui3" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<button class="btn btn-primary btnui2" type="submit" name="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</div>
						</div>
					</form>
	 			</div>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="card cui2 py_40 px_30" >
				<div class="card-body">
					<div class="card-title">
						Search Form UI 4
					</div>
					<code>fui fui1 search-box</code>
					<form class="fui fui1" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<i class="fa fa-search icon" aria-hidden="true"></i>
							</div>
						</div>
					</form>
					<hr>
					<code>fui fui2 search-box</code>
					<form class="fui fui2" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<i class="fa fa-search icon" aria-hidden="true"></i>
							</div>
						</div>
					</form>
					<hr>
					<code>fui fui3 search-box</code>
					<form class="fui fui3" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<i class="fa fa-search icon" aria-hidden="true"></i>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="card cui2 py_40 px_30" >
				<div class="card-body">
					<div class="card-title text-center">Search Autocomplete Example</div>
					<form class="fui fui1" action="" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label class="text_bold mb_5" for="">Search..</label>
							<div class="search-box">
								<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
								<i class="fa fa-search icon" aria-hidden="true"></i>
							</div>
						</div>
					</form>
					<p class="text_bold mb_5">Search result:</p>
					<ul class="listing type3">
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6">
			<div class="card-title text-center">Search Autocomplete Example</div>
			<form class="fui fui1" action="" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label class="text_bold mb_5" for="">Search..</label>
					<div class="search-box">
						<input name="search" type="text" class="form-control" placeholder="Search by keywords..." />
						<i class="fa fa-search icon" aria-hidden="true"></i>
					</div>
				</div>
			</form>
			<div class="card cui2">
				<div class="cbody">
					<p class="text_bold mb_5">Search result:</p>
					<ul class="listing type3">
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
						<li class="list-item"><a href="#">Lorem, ipsum dolor sit amet consecteturae!</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
 