 
	<section class="common-section-ui">
 
<div class="container">
	<!-- Row Start -->
	<div class="row">
		<div class="col-12"><h2 class="text-center mb-5">Social Icons</h2></div>
		
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons</pre>
			<div class="socialicons"> 
				<a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
				<a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
				<a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
				<a href="#" title="Code Pen" target="_blank"><i class="fab fa-codepen"></i></a>
				<a href="#" title="Github" target="_blank"><i class="fab fa-github"></i></a>
			</div>
		</div>
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons siconsb</pre>
			<div class="socialicons siconsb"> 
				<a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
				<a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
				<a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" title="Code Pen" target="_blank"><i class="fab fa-codepen"></i></a>
				<a href="#" title="Github" target="_blank"><i class="fab fa-github"></i></a>
			</div>
		</div>
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons siconsbr</pre>
			<div class="socialicons siconsbr"> 
				<a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
				<a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
				<a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" title="Code Pen" target="_blank"><i class="fab fa-codepen"></i></a>
				<a href="#" title="Github" target="_blank"><i class="fab fa-github"></i></a>
			</div>
		</div>
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons siconsbc</pre>
			<div class="socialicons siconsbc"> 
				<a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
				<a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
				<a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" title="Code Pen" target="_blank"><i class="fab fa-codepen"></i></a>
				<a href="#" title="Github" target="_blank"><i class="fab fa-github"></i></a>
			</div>
		</div>
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons siconsbc bg_dark</pre>
			<div class="socialicons siconsbc bg_dark px_10 pt_10 pb_5"> 
				<a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
				<a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
				<a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" title="Code Pen" target="_blank"><i class="fab fa-codepen"></i></a>
				<a href="#" title="Github" target="_blank"><i class="fab fa-github"></i></a>
			</div>
		</div>
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons colored</pre>
			<ul class="socialicons colored"> 
				<li class="facebook"><a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
				<li class="twitter"><a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
				<li class="instagram"><a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
				<li class="youtube"><a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li class="codepen"><a href="#" title="Code Pen" target="_blank"><i class="fab fa-codepen"></i></a></li>
				<li class="github"><a href="#" title="Github" target="_blank"><i class="fab fa-github"></i></a></li>
			</ul>
		</div>
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons colored siconsc</pre>
			<ul class="socialicons colored siconsc"> 
				<li class="facebook"><a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
				<li class="twitter"><a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
				<li class="instagram"><a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
				<li class="youtube"><a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li class="codepen"><a href="#" title="Code Pen" target="_blank"><i class="fab fa-codepen"></i></a></li>
				<li class="github"><a href="#" title="Github" target="_blank"><i class="fab fa-github"></i></a></li>
			</ul>
		</div>
		<div class="col-12 col-md-8"></div>
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons colored autowidth flex-column</pre>
			<ul class="socialicons colored autowidth flex-column"> 
				<li class="facebook"><a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f mr_5"></i>Login with Facebook</a></li>
				<li class="twitter"><a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter mr_5"></i>Login with Twitter</a></li>
				<li class="instagram"><a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram mr_5"></i>Login with Instagram</a></li>
				<li class="youtube"><a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube mr_5"></i>Login with Youtube</a></li>
				<li class="github"><a href="#" title="Github" target="_blank"><i class="fab fa-github mr_5"></i>Login with Github</a></li>
			</ul>
		</div>
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons colored autowidth flex-column text-left</pre>
			<ul class="socialicons colored autowidth flex-column text-left"> 
				<li class="facebook"><a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f mr_5"></i>Login with Facebook</a></li>
				<li class="twitter"><a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter mr_5"></i>Login with Twitter</a></li>
				<li class="instagram"><a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram mr_5"></i>Login with Instagram</a></li>
				<li class="youtube"><a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube mr_5"></i>Login with Youtube</a></li>
        <li class="github"><a href="#" title="Github" target="_blank"><i class="fab fa-github"></i>Login with Github</a></li>
			</ul>
		</div>
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons colored siconsc withtext</pre>
			<ul class="socialicons colored siconsc withtext"> 
				<li class="facebook"><a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a> Facebook</li>
				<li class="twitter"><a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a> Twitter</li>
				<li class="instagram"><a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a> Instagram</li>
				<li class="youtube"><a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a> Youtube</li>
        <li class="codepen"><a href="#" title="Code Pen" target="_blank"><i class="fab fa-codepen"></i></a> Codepen</li>
        <li class="github"><a href="#" title="Github" target="_blank"><i class="fab fa-github"></i></a>Github</li>
			</ul>
		</div>
		<div class="col-12 col-md-6">
			 <pre class="code mb_10">socialicons</pre>
			<ul class="socialicons withtext"> 
				<li><a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a> Facebook</li>
				<li><a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a> Twitter</li>
				<li><a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a> Instagram</li>
				<li><a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a> Youtube</li>
        <li><a href="#" title="Codepen" target="_blank"><i class="fab fa-codepen"></i></a>Codepen</li>
        <li><a href="#" title="Github" target="_blank"><i class="fab fa-github"></i></a>Github</li>
			</ul>
		</div>
		<div class="col-12 col-md-6">
			<pre class="mycode"><code>socialicons siconsb</pre></pre>
			<ul class="socialicons siconsb withtext"> 
				<li><a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a> Facebook</li>
				<li><a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a> Twitter</li>
				<li><a href="#" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a> Instagram</li>
				<li><a href="#" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a> Youtube</li>
        <li><a href="#" title="Codepen" target="_blank"><i class="fab fa-codepen"></i></a>Codepen</li>
        <li><a href="#" title="Github" target="_blank"><i class="fab fa-github"></i></a>Github</li>
			</ul>
		</div>
	 
	</div>
	<!-- Row End --> 
</div>
</section>
 