$body_color: #494949;
$link_color: #007bff;

* {
    outline: none !important; 
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
} 

body {
    color: $body_color;
}

.link,
a {
    color: $link_color;
} 

p {
    margin-bottom: 20px; 
}

/*Text Decoration*/
.tdn {    
    text-decoration: none !important;
}


/*Display*/
.d_block {
    display: block;
}

.d_none {
    display:none;
}

.d_flex {
    display:flex;
}

.d_i_block {
    display: inline-block;
}

/*Display with Important;*/
.d_blocki {
    display: block !important;
}

.d_nonei {
    display:none !important;
}

.d_flexi {
    display:flex !important;
}

.d_i_blocki {
    display: inline-block !important;
}

/*Element Center*/
.mx_auto {
    margin: 0 auto;
}  

.mx_auto_i {
    margin: 0 auto !important;
}

/*Container*/
@for $i from 1 through 10 {

	$width: 550px;
    $addwidth: $i*50;
    $new_width: $width + $addwidth;

    .container_#{$new_width} {
	    max-width: $new_width;
	}
}

/* value */
@for $i from 0 through 20 {

    $value: 0;
    $newvalue: $i*5;
    $finalvalue: $value + $newvalue;

    @for $j from 0 through $i {
        $value2: 0;
        $newvalue2: $j*5;
        $finalvalue2: $value2 + $newvalue2;

        .ptb_#{$finalvalue}_#{$finalvalue2}, .py_#{$finalvalue}_#{$finalvalue2} { padding-top: $finalvalue+px; padding-bottom: $finalvalue2+px; }
        .mtb_#{$finalvalue}_#{$finalvalue2}, .my_#{$finalvalue}_#{$finalvalue2} { margin-top: $finalvalue+px;  margin-bottom: $finalvalue2+px;  }
    }

    .pl_#{$finalvalue} { padding-left: $finalvalue+px; }
    .pr_#{$finalvalue} { padding-right: $finalvalue+px; }
    .pt_#{$finalvalue} { padding-top: $finalvalue+px; }
    .pb_#{$finalvalue} { padding-bottom: $finalvalue+px; }
    .pli_#{$finalvalue} { padding-left: $finalvalue+px !Important }
    .pri_#{$finalvalue} { padding-right: $finalvalue+px !Important }
    .pti_#{$finalvalue} { padding-top: $finalvalue+px !Important }
    .pbi_#{$finalvalue} { padding-bottom: $finalvalue+px !Important }
    .plr_#{$finalvalue}, .px_#{$finalvalue} { padding-left: $finalvalue+px; padding-right: $finalvalue+px; }

    .mt_#{$finalvalue} { margin-top: $finalvalue+px; }
    .ml_#{$finalvalue} { margin-left: $finalvalue+px; }
    .mr_#{$finalvalue} { margin-right: $finalvalue+px; }
    .mb_#{$finalvalue} { margin-bottom: $finalvalue+px; }
    .mtn_#{$finalvalue} { margin-top: -$finalvalue+px; }
    .mln_#{$finalvalue} { margin-left: -$finalvalue+px; }
    .mrn_#{$finalvalue} { margin-right: -$finalvalue+px; }
    .mbn_#{$finalvalue} { margin-bottom: -$finalvalue+px; }
    .mlr_#{$finalvalue}, .mx_#{$finalvalue} { margin-left: $finalvalue+px; margin-right: $finalvalue+px; }

    .mbn_#{$finalvalue} { margin-bottom: -$finalvalue+px; }

    .w_#{$finalvalue} { width:  $finalvalue+px; max-width:  100% }
    .h_#{$finalvalue} { height: $finalvalue+px; }

}


@for $i from 2 through 20 {

    $wvalue: 0;
    $wnewvalue: $i*100;
    $finalwvalue: $wvalue + $wnewvalue;
    .w_#{$finalwvalue} { width:  $finalwvalue+px; max-width:  100% }

}

@for $i from 1 through 20 {

    $wvalue: 0;
    $per: '%';
    $wnewvalue: $i*5;
    $finalwvalue: $wvalue + $wnewvalue;
    .w_#{$finalwvalue}p { width:  $finalwvalue+$per}

}

@for $i from 5 through 40 {

    $wvalue: 0;
    $wnewvalue: $i*25;
    $finalwvalue: $wvalue + $wnewvalue;
    .h_#{$finalwvalue} { height: $finalwvalue+px; }
    .min_h_#{$finalwvalue} { min-height: $finalwvalue+px; }
    .max_h_#{$finalwvalue} { max-height: $finalwvalue+px; }

}
