$body_color: #494949;
$link_color: #007bff;

* {
    outline: none !important; 
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
} 

body {
    color: $body_color;
}

.link,
a {
    color: $link_color;
} 

p {
    margin-bottom: 20px; 
}

/*Text Decoration*/
.tdn {    
    text-decoration: none !important;
}


/*Display*/
.d_block {
    display: block;
}

.d_none {
    display:none;
}

.d_flex {
    display:flex;
}

.d_i_block {
    display: inline-block;
}

/*Display with Important;*/
.d_blocki {
    display: block !important;
}

.d_nonei {
    display:none !important;
}

.d_flexi {
    display:flex !important;
}

.d_i_blocki {
    display: inline-block !important;
}

/*Element Center*/
.mx_auto {
    margin: 0 auto;
}  

.mx_auto_i {
    margin: 0 auto !important;
}

/*Container*/
@for $i from 1 through 10 {

	$width: 550px;
    $addwidth: $i*50;
    $new_width: $width + $addwidth;

    .container_#{$new_width} {
	    max-width: $new_width;
	}
}

/* value */
@for $i from 0 through 20 {

    $value: 0;
    $newvalue: $i*5;
    $finalvalue: $value + $newvalue;

    @for $j from 0 through $i {
        $value2: 0;
        $newvalue2: $j*5;
        $finalvalue2: $value2 + $newvalue2;

        .ptb_#{$finalvalue}_#{$finalvalue2} { padding-top: $finalvalue; padding-bottom: $finalvalue2; }
        .mtb_#{$finalvalue}_#{$finalvalue2} { margin-top: $finalvalue;  margin-bottom: $finalvalue2;  }
    }

    .pl_#{$finalvalue} { padding-left: $finalvalue; }
    .pr_#{$finalvalue} { padding-right: $finalvalue; }
    .pt_#{$finalvalue} { padding-top: $finalvalue; }
    .pb_#{$finalvalue} { padding-bottom: $finalvalue; }
    .pli_#{$finalvalue} { padding-left: $finalvalue !Important }
    .pri_#{$finalvalue} { padding-right: $finalvalue !Important }
    .pti_#{$finalvalue} { padding-top: $finalvalue !Important }
    .pbi_#{$finalvalue} { padding-bottom: $finalvalue !Important }
    .plr_#{$finalvalue} { padding-left: $finalvalue; padding-right: $finalvalue; }
    .mt_#{$finalvalue} { margin-top: $finalvalue; }
    .ml_#{$finalvalue} { margin-left: $finalvalue; }
    .mr_#{$finalvalue} { margin-right: $finalvalue; }
    .mb_#{$finalvalue} { margin-bottom: $finalvalue; }
    .mtn_#{$finalvalue} { margin-top: -$finalvalue; }
    .mln_#{$finalvalue} { margin-left: -$finalvalue; }
    .mrn_#{$finalvalue} { margin-right: -$finalvalue; }
    .mbn_#{$finalvalue} { margin-bottom: -$finalvalue; }
    .mlr_#{$finalvalue} { margin-left: $finalvalue; margin-right: $finalvalue; }

}